service-stubs/org.wso2.carbon.cloud.csg.stub/src/main/resources/CSGAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://common.csg.cloud.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://org.apache.synapse/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.csg.cloud.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.csg.cloud.carbon.wso2.org">
    <wsdl:documentation>CSGAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.csg.cloud.carbon.wso2.org/xsd">
            <xs:complexType name="CSGException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="CSGThriftServerBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="port" type="xs:int"/>
                    <xs:element minOccurs="0" name="timeOut" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CSGProxyToolsURLs">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eprArray" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tryItURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsdl11URL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsdl2URL" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CSGServiceMetaDataBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="MTOMEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="endpoint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hasInOutMEP" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="inLineWSDL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rmPolicy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secPolicy" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="wsRmEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="wsSecEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="wsdlLocation" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax216="http://common.csg.cloud.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.synapse/xsd">
            <xs:import namespace="http://common.csg.cloud.carbon.wso2.org/xsd"/>
            <xs:element name="CSGAdminServiceCSGException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CSGException" nillable="true" type="ax215:CSGException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventType" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="unDeployProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThriftServerConnectionBean">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getThriftServerConnectionBeanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:CSGThriftServerBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPublishedProxyToolsURLs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPublishedProxyToolsURLsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax215:CSGProxyToolsURLs"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployProxy">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="metaData" nillable="true" type="ax215:CSGServiceMetaDataBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="unDeployProxyRequest">
        <wsdl:part name="parameters" element="ns:unDeployProxy"/>
    </wsdl:message>
    <wsdl:message name="CSGAdminServiceCSGException">
        <wsdl:part name="parameters" element="ns:CSGAdminServiceCSGException"/>
    </wsdl:message>
    <wsdl:message name="updateProxyRequest">
        <wsdl:part name="parameters" element="ns:updateProxy"/>
    </wsdl:message>
    <wsdl:message name="deployProxyRequest">
        <wsdl:part name="parameters" element="ns:deployProxy"/>
    </wsdl:message>
    <wsdl:message name="getThriftServerConnectionBeanRequest">
        <wsdl:part name="parameters" element="ns:getThriftServerConnectionBean"/>
    </wsdl:message>
    <wsdl:message name="getThriftServerConnectionBeanResponse">
        <wsdl:part name="parameters" element="ns:getThriftServerConnectionBeanResponse"/>
    </wsdl:message>
    <wsdl:message name="getPublishedProxyToolsURLsRequest">
        <wsdl:part name="parameters" element="ns:getPublishedProxyToolsURLs"/>
    </wsdl:message>
    <wsdl:message name="getPublishedProxyToolsURLsResponse">
        <wsdl:part name="parameters" element="ns:getPublishedProxyToolsURLsResponse"/>
    </wsdl:message>
    <wsdl:portType name="CSGAdminServicePortType">
        <wsdl:operation name="unDeployProxy">
            <wsdl:input message="tns:unDeployProxyRequest" wsaw:Action="urn:unDeployProxy"/>
            <wsdl:fault message="tns:CSGAdminServiceCSGException" name="CSGAdminServiceCSGException" wsaw:Action="urn:unDeployProxyCSGAdminServiceCSGException"/>
        </wsdl:operation>
        <wsdl:operation name="updateProxy">
            <wsdl:input message="tns:updateProxyRequest" wsaw:Action="urn:updateProxy"/>
            <wsdl:fault message="tns:CSGAdminServiceCSGException" name="CSGAdminServiceCSGException" wsaw:Action="urn:updateProxyCSGAdminServiceCSGException"/>
        </wsdl:operation>
        <wsdl:operation name="deployProxy">
            <wsdl:input message="tns:deployProxyRequest" wsaw:Action="urn:deployProxy"/>
            <wsdl:fault message="tns:CSGAdminServiceCSGException" name="CSGAdminServiceCSGException" wsaw:Action="urn:deployProxyCSGAdminServiceCSGException"/>
        </wsdl:operation>
        <wsdl:operation name="getThriftServerConnectionBean">
            <wsdl:input message="tns:getThriftServerConnectionBeanRequest" wsaw:Action="urn:getThriftServerConnectionBean"/>
            <wsdl:output message="tns:getThriftServerConnectionBeanResponse" wsaw:Action="urn:getThriftServerConnectionBeanResponse"/>
            <wsdl:fault message="tns:CSGAdminServiceCSGException" name="CSGAdminServiceCSGException" wsaw:Action="urn:getThriftServerConnectionBeanCSGAdminServiceCSGException"/>
        </wsdl:operation>
        <wsdl:operation name="getPublishedProxyToolsURLs">
            <wsdl:input message="tns:getPublishedProxyToolsURLsRequest" wsaw:Action="urn:getPublishedProxyToolsURLs"/>
            <wsdl:output message="tns:getPublishedProxyToolsURLsResponse" wsaw:Action="urn:getPublishedProxyToolsURLsResponse"/>
            <wsdl:fault message="tns:CSGAdminServiceCSGException" name="CSGAdminServiceCSGException" wsaw:Action="urn:getPublishedProxyToolsURLsCSGAdminServiceCSGException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CSGAdminServiceSoap11Binding" type="tns:CSGAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unDeployProxy">
            <soap:operation soapAction="urn:unDeployProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProxy">
            <soap:operation soapAction="urn:updateProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployProxy">
            <soap:operation soapAction="urn:deployProxy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThriftServerConnectionBean">
            <soap:operation soapAction="urn:getThriftServerConnectionBean" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublishedProxyToolsURLs">
            <soap:operation soapAction="urn:getPublishedProxyToolsURLs" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CSGAdminServiceSoap12Binding" type="tns:CSGAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="unDeployProxy">
            <soap12:operation soapAction="urn:unDeployProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap12:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateProxy">
            <soap12:operation soapAction="urn:updateProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap12:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deployProxy">
            <soap12:operation soapAction="urn:deployProxy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap12:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getThriftServerConnectionBean">
            <soap12:operation soapAction="urn:getThriftServerConnectionBean" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap12:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPublishedProxyToolsURLs">
            <soap12:operation soapAction="urn:getPublishedProxyToolsURLs" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CSGAdminServiceCSGException">
                <soap12:fault use="literal" name="CSGAdminServiceCSGException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CSGAdminServiceHttpBinding" type="tns:CSGAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="unDeployProxy">
            <http:operation location="unDeployProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateProxy">
            <http:operation location="updateProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deployProxy">
            <http:operation location="deployProxy"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getThriftServerConnectionBean">
            <http:operation location="getThriftServerConnectionBean"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPublishedProxyToolsURLs">
            <http:operation location="getPublishedProxyToolsURLs"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CSGAdminService">
        <wsdl:port name="CSGAdminServiceHttpsSoap11Endpoint" binding="tns:CSGAdminServiceSoap11Binding">
            <soap:address location="https://localhost:8243/services/CSGAdminService.CSGAdminServiceHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CSGAdminServiceHttpsSoap12Endpoint" binding="tns:CSGAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:8243/services/CSGAdminService.CSGAdminServiceHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="CSGAdminServiceHttpsEndpoint" binding="tns:CSGAdminServiceHttpBinding">
            <http:address location="https://localhost:8243/services/CSGAdminService.CSGAdminServiceHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>