service-stubs/org.wso2.carbon.ejbservices.stub/src/main/resources/EJBProviderAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2116="http://xml.component.ejbservices.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2114="http://util.service.ejbservices.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.ejbservices.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.ejbservices.carbon.wso2.org">
    <wsdl:documentation>EJBProviderAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2115="http://util.service.ejbservices.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2117="http://xml.component.ejbservices.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://util.service.ejbservices.carbon.wso2.org/xsd" />
            <xs:import namespace="http://xml.component.ejbservices.carbon.wso2.org/xsd" />
            <xs:element name="uploadService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="fileItem" nillable="true" type="ax2115:UploadedFileItem" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EJBProviderAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="EJBProviderAdminException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="testAppServerConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testAppServerConnectionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setServiceParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setEJBAppServerConfig">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serverConfigs" nillable="true" type="ax2116:EJBAppServerConfig" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBConfigurations">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2115:EJBProviderData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2115:EJBProviderData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBAppServerConfigurations">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getEJBAppServerConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2115:EJBAppServerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="archiveId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClassNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppServerNameList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAppServerNameListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2115:EJBAppServerData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllConfigurations">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllConfigurationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2115:WrappedAllConfigurations" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEJBConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createAndDeployEJBService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="archiveId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceClasses" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jnpProviderUrl" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="beanJNDIName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="remoteInterface" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEJBConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="beanJNDIName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="remoteInterface" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="appServerType" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addApplicationServer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="appServerType" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xml.component.ejbservices.carbon.wso2.org/xsd">
            <xs:complexType name="EJBAppServerConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.service.ejbservices.carbon.wso2.org/xsd">
            <xs:complexType name="UploadedFileItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fileType" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EJBProviderData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="beanJNDIName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="remoteInterface" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EJBAppServerData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="appServerType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jndiContextClass" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="providerURL" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WrappedAllConfigurations">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appServerData" nillable="true" type="ax2114:EJBAppServerData" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="appServerNameList" nillable="true" type="ax2114:EJBAppServerData" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="ejbProviderData" nillable="true" type="ax2114:EJBProviderData" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteEJBConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:deleteEJBConfiguration" />
    </wsdl:message>
    <wsdl:message name="EJBProviderAdminException">
        <wsdl:part name="parameters" element="ns1:EJBProviderAdminException" />
    </wsdl:message>
    <wsdl:message name="getEJBConfigurationsRequest">
        <wsdl:part name="parameters" element="ns1:getEJBConfigurations" />
    </wsdl:message>
    <wsdl:message name="getEJBConfigurationsResponse">
        <wsdl:part name="parameters" element="ns1:getEJBConfigurationsResponse" />
    </wsdl:message>
    <wsdl:message name="getAppServerNameListRequest">
        <wsdl:part name="parameters" element="ns1:getAppServerNameList" />
    </wsdl:message>
    <wsdl:message name="getAppServerNameListResponse">
        <wsdl:part name="parameters" element="ns1:getAppServerNameListResponse" />
    </wsdl:message>
    <wsdl:message name="testAppServerConnectionRequest">
        <wsdl:part name="parameters" element="ns1:testAppServerConnection" />
    </wsdl:message>
    <wsdl:message name="testAppServerConnectionResponse">
        <wsdl:part name="parameters" element="ns1:testAppServerConnectionResponse" />
    </wsdl:message>
    <wsdl:message name="createAndDeployEJBServiceRequest">
        <wsdl:part name="parameters" element="ns1:createAndDeployEJBService" />
    </wsdl:message>
    <wsdl:message name="addEJBConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:addEJBConfiguration" />
    </wsdl:message>
    <wsdl:message name="setServiceParametersRequest">
        <wsdl:part name="parameters" element="ns1:setServiceParameters" />
    </wsdl:message>
    <wsdl:message name="getServiceParametersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceParameters" />
    </wsdl:message>
    <wsdl:message name="getServiceParametersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceParametersResponse" />
    </wsdl:message>
    <wsdl:message name="getAllConfigurationsRequest">
        <wsdl:part name="parameters" element="ns1:getAllConfigurations" />
    </wsdl:message>
    <wsdl:message name="getAllConfigurationsResponse">
        <wsdl:part name="parameters" element="ns1:getAllConfigurationsResponse" />
    </wsdl:message>
    <wsdl:message name="setEJBAppServerConfigRequest">
        <wsdl:part name="parameters" element="ns1:setEJBAppServerConfig" />
    </wsdl:message>
    <wsdl:message name="getClassNamesRequest">
        <wsdl:part name="parameters" element="ns1:getClassNames" />
    </wsdl:message>
    <wsdl:message name="getClassNamesResponse">
        <wsdl:part name="parameters" element="ns1:getClassNamesResponse" />
    </wsdl:message>
    <wsdl:message name="addApplicationServerRequest">
        <wsdl:part name="parameters" element="ns1:addApplicationServer" />
    </wsdl:message>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns1:uploadService" />
    </wsdl:message>
    <wsdl:message name="uploadServiceResponse">
        <wsdl:part name="parameters" element="ns1:uploadServiceResponse" />
    </wsdl:message>
    <wsdl:message name="getEJBAppServerConfigurationsRequest">
        <wsdl:part name="parameters" element="ns1:getEJBAppServerConfigurations" />
    </wsdl:message>
    <wsdl:message name="getEJBAppServerConfigurationsResponse">
        <wsdl:part name="parameters" element="ns1:getEJBAppServerConfigurationsResponse" />
    </wsdl:message>
    <wsdl:message name="getEJBConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:getEJBConfiguration" />
    </wsdl:message>
    <wsdl:message name="getEJBConfigurationResponse">
        <wsdl:part name="parameters" element="ns1:getEJBConfigurationResponse" />
    </wsdl:message>
    <wsdl:portType name="EJBProviderAdminPortType">
        <wsdl:operation name="deleteEJBConfiguration">
            <wsdl:input message="tns:deleteEJBConfigurationRequest" wsaw:Action="urn:deleteEJBConfiguration" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:deleteEJBConfigurationEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getEJBConfigurations">
            <wsdl:input message="tns:getEJBConfigurationsRequest" wsaw:Action="urn:getEJBConfigurations" />
            <wsdl:output message="tns:getEJBConfigurationsResponse" wsaw:Action="urn:getEJBConfigurationsResponse" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:getEJBConfigurationsEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAppServerNameList">
            <wsdl:input message="tns:getAppServerNameListRequest" wsaw:Action="urn:getAppServerNameList" />
            <wsdl:output message="tns:getAppServerNameListResponse" wsaw:Action="urn:getAppServerNameListResponse" />
        </wsdl:operation>
        <wsdl:operation name="testAppServerConnection">
            <wsdl:input message="tns:testAppServerConnectionRequest" wsaw:Action="urn:testAppServerConnection" />
            <wsdl:output message="tns:testAppServerConnectionResponse" wsaw:Action="urn:testAppServerConnectionResponse" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:testAppServerConnectionEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="createAndDeployEJBService">
            <wsdl:input message="tns:createAndDeployEJBServiceRequest" wsaw:Action="urn:createAndDeployEJBService" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:createAndDeployEJBServiceEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="addEJBConfiguration">
            <wsdl:input message="tns:addEJBConfigurationRequest" wsaw:Action="urn:addEJBConfiguration" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:addEJBConfigurationEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="setServiceParameters">
            <wsdl:input message="tns:setServiceParametersRequest" wsaw:Action="urn:setServiceParameters" />
        </wsdl:operation>
        <wsdl:operation name="getServiceParameters">
            <wsdl:input message="tns:getServiceParametersRequest" wsaw:Action="urn:getServiceParameters" />
            <wsdl:output message="tns:getServiceParametersResponse" wsaw:Action="urn:getServiceParametersResponse" />
        </wsdl:operation>
        <wsdl:operation name="getAllConfigurations">
            <wsdl:input message="tns:getAllConfigurationsRequest" wsaw:Action="urn:getAllConfigurations" />
            <wsdl:output message="tns:getAllConfigurationsResponse" wsaw:Action="urn:getAllConfigurationsResponse" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:getAllConfigurationsEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="setEJBAppServerConfig">
            <wsdl:input message="tns:setEJBAppServerConfigRequest" wsaw:Action="urn:setEJBAppServerConfig" />
        </wsdl:operation>
        <wsdl:operation name="getClassNames">
            <wsdl:input message="tns:getClassNamesRequest" wsaw:Action="urn:getClassNames" />
            <wsdl:output message="tns:getClassNamesResponse" wsaw:Action="urn:getClassNamesResponse" />
        </wsdl:operation>
        <wsdl:operation name="addApplicationServer">
            <wsdl:input message="tns:addApplicationServerRequest" wsaw:Action="urn:addApplicationServer" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:addApplicationServerEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <wsdl:input message="tns:uploadServiceRequest" wsaw:Action="urn:uploadService" />
            <wsdl:output message="tns:uploadServiceResponse" wsaw:Action="urn:uploadServiceResponse" />
        </wsdl:operation>
        <wsdl:operation name="getEJBAppServerConfigurations">
            <wsdl:input message="tns:getEJBAppServerConfigurationsRequest" wsaw:Action="urn:getEJBAppServerConfigurations" />
            <wsdl:output message="tns:getEJBAppServerConfigurationsResponse" wsaw:Action="urn:getEJBAppServerConfigurationsResponse" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:getEJBAppServerConfigurationsEJBProviderAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getEJBConfiguration">
            <wsdl:input message="tns:getEJBConfigurationRequest" wsaw:Action="urn:getEJBConfiguration" />
            <wsdl:output message="tns:getEJBConfigurationResponse" wsaw:Action="urn:getEJBConfigurationResponse" />
            <wsdl:fault message="tns:EJBProviderAdminException" name="EJBProviderAdminException" wsaw:Action="urn:getEJBConfigurationEJBProviderAdminException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EJBProviderAdminSoap11Binding" type="tns:EJBProviderAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getEJBConfigurations">
            <soap:operation soapAction="urn:getEJBConfigurations" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEJBConfiguration">
            <soap:operation soapAction="urn:deleteEJBConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppServerNameList">
            <soap:operation soapAction="urn:getAppServerNameList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testAppServerConnection">
            <soap:operation soapAction="urn:testAppServerConnection" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployEJBService">
            <soap:operation soapAction="urn:createAndDeployEJBService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEJBConfiguration">
            <soap:operation soapAction="urn:addEJBConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceParameters">
            <soap:operation soapAction="urn:setServiceParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceParameters">
            <soap:operation soapAction="urn:getServiceParameters" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setEJBAppServerConfig">
            <soap:operation soapAction="urn:setEJBAppServerConfig" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllConfigurations">
            <soap:operation soapAction="urn:getAllConfigurations" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClassNames">
            <soap:operation soapAction="urn:getClassNames" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplicationServer">
            <soap:operation soapAction="urn:addApplicationServer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEJBAppServerConfigurations">
            <soap:operation soapAction="urn:getEJBAppServerConfigurations" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEJBConfiguration">
            <soap:operation soapAction="urn:getEJBConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EJBProviderAdminSoap12Binding" type="tns:EJBProviderAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getEJBConfigurations">
            <soap12:operation soapAction="urn:getEJBConfigurations" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEJBConfiguration">
            <soap12:operation soapAction="urn:deleteEJBConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAppServerNameList">
            <soap12:operation soapAction="urn:getAppServerNameList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testAppServerConnection">
            <soap12:operation soapAction="urn:testAppServerConnection" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployEJBService">
            <soap12:operation soapAction="urn:createAndDeployEJBService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addEJBConfiguration">
            <soap12:operation soapAction="urn:addEJBConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceParameters">
            <soap12:operation soapAction="urn:setServiceParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceParameters">
            <soap12:operation soapAction="urn:getServiceParameters" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setEJBAppServerConfig">
            <soap12:operation soapAction="urn:setEJBAppServerConfig" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllConfigurations">
            <soap12:operation soapAction="urn:getAllConfigurations" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClassNames">
            <soap12:operation soapAction="urn:getClassNames" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplicationServer">
            <soap12:operation soapAction="urn:addApplicationServer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEJBAppServerConfigurations">
            <soap12:operation soapAction="urn:getEJBAppServerConfigurations" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEJBConfiguration">
            <soap12:operation soapAction="urn:getEJBConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="EJBProviderAdminException">
                <soap12:fault use="literal" name="EJBProviderAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EJBProviderAdminHttpBinding" type="tns:EJBProviderAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getEJBConfigurations">
            <http:operation location="getEJBConfigurations" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteEJBConfiguration">
            <http:operation location="deleteEJBConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAppServerNameList">
            <http:operation location="getAppServerNameList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testAppServerConnection">
            <http:operation location="testAppServerConnection" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createAndDeployEJBService">
            <http:operation location="createAndDeployEJBService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addEJBConfiguration">
            <http:operation location="addEJBConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setServiceParameters">
            <http:operation location="setServiceParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceParameters">
            <http:operation location="getServiceParameters" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setEJBAppServerConfig">
            <http:operation location="setEJBAppServerConfig" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllConfigurations">
            <http:operation location="getAllConfigurations" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClassNames">
            <http:operation location="getClassNames" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addApplicationServer">
            <http:operation location="addApplicationServer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="uploadService">
            <http:operation location="uploadService" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEJBAppServerConfigurations">
            <http:operation location="getEJBAppServerConfigurations" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEJBConfiguration">
            <http:operation location="getEJBConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EJBProviderAdmin">
        <wsdl:port name="EJBProviderAdminHttpsSoap11Endpoint" binding="tns:EJBProviderAdminSoap11Binding">
            <soap:address location="https://172.16.39.1:9443/services/EJBProviderAdmin.EJBProviderAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EJBProviderAdminHttpsSoap12Endpoint" binding="tns:EJBProviderAdminSoap12Binding">
            <soap12:address location="https://172.16.39.1:9443/services/EJBProviderAdmin.EJBProviderAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="EJBProviderAdminHttpsEndpoint" binding="tns:EJBProviderAdminHttpBinding">
            <http:address location="https://172.16.39.1:9443/services/EJBProviderAdmin.EJBProviderAdminHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>