products/dss/modules/samples/clients/wsdl/CSVSampleService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://ws.wso2.org/dataservice/samples/csv_sample_service" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.wso2.org/dataservice">
    <wsdl:documentation />
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice/samples/csv_sample_service">
            <xs:element name="Products" type="ns0:Products" />
            <xs:complexType name="Products">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Product" type="ns0:Product" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element name="ID" nillable="true" type="xs:string" />
                    <xs:element name="Category" nillable="true" type="xs:string" />
                    <xs:element name="Price" nillable="true" type="xs:double" />
                    <xs:element name="Name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string" />
            <xs:element name="REQUEST_STATUS" type="xs:string" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProductsRequest" />
    <wsdl:message name="getProductsResponse">
        <wsdl:part name="parameters" element="ns0:Products" />
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault" />
    </wsdl:message>
    <wsdl:portType name="CSVSampleServicePortType">
        <wsdl:operation name="getProducts">
            <wsdl:documentation />
            <wsdl:input message="ns1:getProductsRequest" wsaw:Action="urn:getProducts" />
            <wsdl:output message="ns1:getProductsResponse" wsaw:Action="urn:getProductsResponse" />
            <wsdl:fault message="ns1:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:getProductsDataServiceFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CSVSampleServiceSOAP11Binding" type="ns1:CSVSampleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="urn:getProducts" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CSVSampleServiceSOAP12Binding" type="ns1:CSVSampleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getProducts">
            <soap12:operation soapAction="urn:getProducts" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CSVSampleServiceHttpBinding" type="ns1:CSVSampleServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getProducts">
            <http:operation location="getProducts" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CSVSampleService">
        <wsdl:port name="SOAP11Endpoint" binding="ns1:CSVSampleServiceSOAP11Binding">
            <soap:address location="http://10.200.3.96:9763/services/CSVSampleService.SOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns1:CSVSampleServiceSOAP11Binding">
            <soap:address location="https://10.200.3.96:9443/services/CSVSampleService.SecureSOAP11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns1:CSVSampleServiceSOAP12Binding">
            <soap12:address location="https://10.200.3.96:9443/services/CSVSampleService.SecureSOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns1:CSVSampleServiceSOAP12Binding">
            <soap12:address location="http://10.200.3.96:9763/services/CSVSampleService.SOAP12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns1:CSVSampleServiceHttpBinding">
            <http:address location="http://10.200.3.96:9763/services/CSVSampleService.HTTPEndpoint/" />
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns1:CSVSampleServiceHttpBinding">
            <http:address location="https://10.200.3.96:9443/services/CSVSampleService.SecureHTTPEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>