products/appfactory/modules/bpels/DeployProjectToDev/ArtifactDeploymentService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.deployment.artifact.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2436="http://service.deployment.artifact.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.deployment.artifact.carbon.wso2.org">
    <wsdl:documentation>ArtifactDeploymentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2437="http://service.deployment.artifact.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.deployment.artifact.carbon.wso2.org">
            <xs:import namespace="http://service.deployment.artifact.carbon.wso2.org/xsd"/>
            <xs:element name="ArtifactDeploymentServiceProjectDeploymentExceptions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ProjectDeploymentExceptions" nillable="true" type="ax2436:ProjectDeploymentExceptions"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployProject">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="artifactType" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployProjectResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2436:Artifact"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.deployment.artifact.carbon.wso2.org/xsd">
            <xs:complexType name="ProjectDeploymentExceptions">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Artifact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="size" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deployProjectRequest">
        <wsdl:part name="parameters" element="ns:deployProject"/>
    </wsdl:message>
    <wsdl:message name="deployProjectResponse">
        <wsdl:part name="parameters" element="ns:deployProjectResponse"/>
    </wsdl:message>
    <wsdl:message name="ArtifactDeploymentServiceProjectDeploymentExceptions">
        <wsdl:part name="parameters" element="ns:ArtifactDeploymentServiceProjectDeploymentExceptions"/>
    </wsdl:message>
    <wsdl:portType name="ArtifactDeploymentServicePortType">
        <wsdl:operation name="deployProject">
            <wsdl:input message="ns:deployProjectRequest" wsaw:Action="urn:deployProject"/>
            <wsdl:output message="ns:deployProjectResponse" wsaw:Action="urn:deployProjectResponse"/>
            <wsdl:fault message="ns:ArtifactDeploymentServiceProjectDeploymentExceptions" name="ArtifactDeploymentServiceProjectDeploymentExceptions" wsaw:Action="urn:deployProjectArtifactDeploymentServiceProjectDeploymentExceptions"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ArtifactDeploymentServiceSoap11Binding" type="ns:ArtifactDeploymentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deployProject">
            <soap:operation soapAction="urn:deployProject" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ArtifactDeploymentServiceProjectDeploymentExceptions">
                <soap:fault use="literal" name="ArtifactDeploymentServiceProjectDeploymentExceptions"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactDeploymentServiceSoap12Binding" type="ns:ArtifactDeploymentServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="deployProject">
            <soap12:operation soapAction="urn:deployProject" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ArtifactDeploymentServiceProjectDeploymentExceptions">
                <soap12:fault use="literal" name="ArtifactDeploymentServiceProjectDeploymentExceptions"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ArtifactDeploymentServiceHttpBinding" type="ns:ArtifactDeploymentServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="deployProject">
            <http:operation location="deployProject"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ArtifactDeploymentService">
        <wsdl:port name="ArtifactDeploymentServiceHttpSoap11Endpoint" binding="ns:ArtifactDeploymentServiceSoap11Binding">
            <soap:address location="http://localhost:9767/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactDeploymentServiceHttpsSoap11Endpoint" binding="ns:ArtifactDeploymentServiceSoap11Binding">
            <soap:address location="https://localhost:9447/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactDeploymentServiceHttpSoap12Endpoint" binding="ns:ArtifactDeploymentServiceSoap12Binding">
            <soap12:address location="http://localhost:9767/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactDeploymentServiceHttpsSoap12Endpoint" binding="ns:ArtifactDeploymentServiceSoap12Binding">
            <soap12:address location="https://localhost:9447/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactDeploymentServiceHttpEndpoint" binding="ns:ArtifactDeploymentServiceHttpBinding">
            <http:address location="http://localhost:9767/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="ArtifactDeploymentServiceHttpsEndpoint" binding="ns:ArtifactDeploymentServiceHttpBinding">
            <http:address location="https://localhost:9447/services/ArtifactDeploymentService.ArtifactDeploymentServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
