service-stubs/org.wso2.carbon.messagebox.stub/src/main/resources/MessageBoxAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.messagebox.carbon.wso2.org" xmlns:ax2221="http://internal.admin.messagebox.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2219="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2223="http://messagebox.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.messagebox.carbon.wso2.org">
    <wsdl:documentation>MessageBoxAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2220="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd" xmlns:ax2222="http://internal.admin.messagebox.carbon.wso2.org/xsd" xmlns:ax2224="http://messagebox.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.messagebox.carbon.wso2.org">
            <xs:import namespace="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd" />
            <xs:import namespace="http://internal.admin.messagebox.carbon.wso2.org/xsd" />
            <xs:import namespace="http://messagebox.carbon.wso2.org/xsd" />
            <xs:element name="MessageBoxAdminServiceMessageBoxAdminException">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="MessageBoxAdminException" nillable="true" type="ax2220:MessageBoxAdminException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSQSKeys">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSQSKeysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2222:SQSKeys" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
            <xs:element name="getMessageBoxesCount">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageBoxesCountResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRetrievedMessages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true" type="xs:string" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getAllRetrievedMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2224:MessageDetails" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAllPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllPermissionsResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2224:PermissionLabel" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMessageBoxes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="startingIndex" type="xs:int" />

                        <xs:element minOccurs="0" name="maxMessageBoxesCount" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllMessageBoxesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2222:MessageBoxDetail" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getAllAvailableMessages">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="messageBoxId" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getAllAvailableMessagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2224:MessageDetails" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.internal.admin.messagebox.carbon.wso2.org/xsd">

            <xs:complexType name="MessageBoxAdminException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.messagebox.carbon.wso2.org/xsd">
            <xs:complexType name="SQSKeys">
                <xs:sequence>

                    <xs:element minOccurs="0" name="accessKeyId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="secretAccessKeyId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MessageBoxDetail">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="epr" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="messageBoxId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="messageBoxName" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="numberOfMessages" type="xs:int" />
                    <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sharedUsers" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="visibilityTimeout" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://messagebox.carbon.wso2.org/xsd">

            <xs:complexType name="MessageDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultVisibilityTimeout" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="messageBody" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="receiptHandler" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="receivedCount" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sentTimestamp" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="PermissionLabel">
                <xs:sequence>
                    <xs:element minOccurs="0" name="labelName" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operations" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="sharedUsers" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="getMessageBoxesCountRequest">
        <wsdl:part name="parameters" element="ns:getMessageBoxesCount" />
    </wsdl:message>
    <wsdl:message name="getMessageBoxesCountResponse">
        <wsdl:part name="parameters" element="ns:getMessageBoxesCountResponse" />
    </wsdl:message>
    <wsdl:message name="MessageBoxAdminServiceMessageBoxAdminException">
        <wsdl:part name="parameters" element="ns:MessageBoxAdminServiceMessageBoxAdminException" />

    </wsdl:message>
    <wsdl:message name="getAllPermissionsRequest">
        <wsdl:part name="parameters" element="ns:getAllPermissions" />
    </wsdl:message>
    <wsdl:message name="getAllPermissionsResponse">
        <wsdl:part name="parameters" element="ns:getAllPermissionsResponse" />
    </wsdl:message>
    <wsdl:message name="getSQSKeysRequest">
        <wsdl:part name="parameters" element="ns:getSQSKeys" />

    </wsdl:message>
    <wsdl:message name="getSQSKeysResponse">
        <wsdl:part name="parameters" element="ns:getSQSKeysResponse" />
    </wsdl:message>
    <wsdl:message name="getAllAvailableMessagesRequest">
        <wsdl:part name="parameters" element="ns:getAllAvailableMessages" />
    </wsdl:message>
    <wsdl:message name="getAllAvailableMessagesResponse">
        <wsdl:part name="parameters" element="ns:getAllAvailableMessagesResponse" />

    </wsdl:message>
    <wsdl:message name="getAllMessageBoxesRequest">
        <wsdl:part name="parameters" element="ns:getAllMessageBoxes" />
    </wsdl:message>
    <wsdl:message name="getAllMessageBoxesResponse">
        <wsdl:part name="parameters" element="ns:getAllMessageBoxesResponse" />
    </wsdl:message>
    <wsdl:message name="getAllRetrievedMessagesRequest">
        <wsdl:part name="parameters" element="ns:getAllRetrievedMessages" />

    </wsdl:message>
    <wsdl:message name="getAllRetrievedMessagesResponse">
        <wsdl:part name="parameters" element="ns:getAllRetrievedMessagesResponse" />
    </wsdl:message>
    <wsdl:portType name="MessageBoxAdminServicePortType">
        <wsdl:operation name="getMessageBoxesCount">
            <wsdl:input message="ns:getMessageBoxesCountRequest" wsaw:Action="urn:getMessageBoxesCount" />
            <wsdl:output message="ns:getMessageBoxesCountResponse" wsaw:Action="urn:getMessageBoxesCountResponse" />
            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getMessageBoxesCountMessageBoxAdminServiceMessageBoxAdminException" />

        </wsdl:operation>
        <wsdl:operation name="getAllPermissions">
            <wsdl:input message="ns:getAllPermissionsRequest" wsaw:Action="urn:getAllPermissions" />
            <wsdl:output message="ns:getAllPermissionsResponse" wsaw:Action="urn:getAllPermissionsResponse" />
            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getAllPermissionsMessageBoxAdminServiceMessageBoxAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getSQSKeys">
            <wsdl:input message="ns:getSQSKeysRequest" wsaw:Action="urn:getSQSKeys" />
            <wsdl:output message="ns:getSQSKeysResponse" wsaw:Action="urn:getSQSKeysResponse" />

            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getSQSKeysMessageBoxAdminServiceMessageBoxAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <wsdl:input message="ns:getAllAvailableMessagesRequest" wsaw:Action="urn:getAllAvailableMessages" />
            <wsdl:output message="ns:getAllAvailableMessagesResponse" wsaw:Action="urn:getAllAvailableMessagesResponse" />
            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getAllAvailableMessagesMessageBoxAdminServiceMessageBoxAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <wsdl:input message="ns:getAllMessageBoxesRequest" wsaw:Action="urn:getAllMessageBoxes" />

            <wsdl:output message="ns:getAllMessageBoxesResponse" wsaw:Action="urn:getAllMessageBoxesResponse" />
            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getAllMessageBoxesMessageBoxAdminServiceMessageBoxAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">
            <wsdl:input message="ns:getAllRetrievedMessagesRequest" wsaw:Action="urn:getAllRetrievedMessages" />
            <wsdl:output message="ns:getAllRetrievedMessagesResponse" wsaw:Action="urn:getAllRetrievedMessagesResponse" />
            <wsdl:fault message="ns:MessageBoxAdminServiceMessageBoxAdminException" name="MessageBoxAdminServiceMessageBoxAdminException" wsaw:Action="urn:getAllRetrievedMessagesMessageBoxAdminServiceMessageBoxAdminException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MessageBoxAdminServiceSoap11Binding" type="ns:MessageBoxAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getMessageBoxesCount">
            <soap:operation soapAction="urn:getMessageBoxesCount" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPermissions">
            <soap:operation soapAction="urn:getAllPermissions" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSQSKeys">

            <soap:operation soapAction="urn:getSQSKeys" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <soap:operation soapAction="urn:getAllAvailableMessages" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">
            <soap:operation soapAction="urn:getAllMessageBoxes" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">

            <soap:operation soapAction="urn:getAllRetrievedMessages" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />

            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageBoxAdminServiceSoap12Binding" type="ns:MessageBoxAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getMessageBoxesCount">
            <soap12:operation soapAction="urn:getMessageBoxesCount" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllPermissions">

            <soap12:operation soapAction="urn:getAllPermissions" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSQSKeys">
            <soap12:operation soapAction="urn:getSQSKeys" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">
            <soap12:operation soapAction="urn:getAllAvailableMessages" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">

            <soap12:operation soapAction="urn:getAllMessageBoxes" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">
            <soap12:operation soapAction="urn:getAllRetrievedMessages" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="MessageBoxAdminServiceMessageBoxAdminException">
                <soap12:fault use="literal" name="MessageBoxAdminServiceMessageBoxAdminException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MessageBoxAdminServiceHttpBinding" type="ns:MessageBoxAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getMessageBoxesCount">

            <http:operation location="getMessageBoxesCount" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllPermissions">

            <http:operation location="getAllPermissions" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSQSKeys">

            <http:operation location="getSQSKeys" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAvailableMessages">

            <http:operation location="getAllAvailableMessages" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllMessageBoxes">

            <http:operation location="getAllMessageBoxes" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllRetrievedMessages">

            <http:operation location="getAllRetrievedMessages" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MessageBoxAdminService">
        <wsdl:port name="MessageBoxAdminServiceHttpsSoap11Endpoint" binding="ns:MessageBoxAdminServiceSoap11Binding">
            <soap:address location="https://messaging.cloud-test.wso2.com:9454/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MessageBoxAdminServiceHttpsSoap12Endpoint" binding="ns:MessageBoxAdminServiceSoap12Binding">
            <soap12:address location="https://messaging.cloud-test.wso2.com:9454/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MessageBoxAdminServiceHttpsEndpoint" binding="ns:MessageBoxAdminServiceHttpBinding">
            <http:address location="https://messaging.cloud-test.wso2.com:9454/services/MessageBoxAdminService.MessageBoxAdminServiceHttpsEndpoint/" />

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
