products/appfactory/modules/bpels/DeployApplicationToLive/ApplicationDeploymentService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.deployment.application.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax23="http://service.deployment.application.appfactory.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.deployment.application.appfactory.carbon.wso2.org">
    <wsdl:documentation>ApplicationDeploymentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.deployment.application.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="ApplicationDeploymentExceptions">
                <xs:sequence />
            </xs:complexType>
            <xs:complexType name="Application">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="size" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://service.deployment.application.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.deployment.application.appfactory.carbon.wso2.org">
            <xs:import namespace="http://service.deployment.application.appfactory.carbon.wso2.org/xsd" />
            <xs:element name="ApplicationDeploymentServiceApplicationDeploymentExceptions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ApplicationDeploymentExceptions" nillable="true" type="ax23:ApplicationDeploymentExceptions" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployApplication">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationSvnUrl" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="svnRevision" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployApplicationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax23:Application" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deployApplicationRequest">
        <wsdl:part name="parameters" element="ns:deployApplication" />
    </wsdl:message>
    <wsdl:message name="deployApplicationResponse">
        <wsdl:part name="parameters" element="ns:deployApplicationResponse" />
    </wsdl:message>
    <wsdl:message name="ApplicationDeploymentServiceApplicationDeploymentExceptions">
        <wsdl:part name="parameters" element="ns:ApplicationDeploymentServiceApplicationDeploymentExceptions" />
    </wsdl:message>
    <wsdl:portType name="ApplicationDeploymentServicePortType">
        <wsdl:operation name="deployApplication">
            <wsdl:input message="ns:deployApplicationRequest" wsaw:Action="urn:deployApplication" />
            <wsdl:output message="ns:deployApplicationResponse" wsaw:Action="urn:deployApplicationResponse" />
            <wsdl:fault message="ns:ApplicationDeploymentServiceApplicationDeploymentExceptions" name="ApplicationDeploymentServiceApplicationDeploymentExceptions" wsaw:Action="urn:deployApplicationApplicationDeploymentServiceApplicationDeploymentExceptions" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationDeploymentServiceSoap11Binding" type="ns:ApplicationDeploymentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deployApplication">
            <soap:operation soapAction="urn:deployApplication" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApplicationDeploymentServiceApplicationDeploymentExceptions">
                <soap:fault use="literal" name="ApplicationDeploymentServiceApplicationDeploymentExceptions" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeploymentServiceSoap12Binding" type="ns:ApplicationDeploymentServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deployApplication">
            <soap12:operation soapAction="urn:deployApplication" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApplicationDeploymentServiceApplicationDeploymentExceptions">
                <soap12:fault use="literal" name="ApplicationDeploymentServiceApplicationDeploymentExceptions" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeploymentServiceHttpBinding" type="ns:ApplicationDeploymentServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="deployApplication">
            <http:operation location="deployApplication" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationDeploymentService">
        <wsdl:port name="ApplicationDeploymentServiceHttpsSoap11Endpoint" binding="ns:ApplicationDeploymentServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/ApplicationDeploymentService.ApplicationDeploymentServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationDeploymentServiceHttpsSoap12Endpoint" binding="ns:ApplicationDeploymentServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/ApplicationDeploymentService.ApplicationDeploymentServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationDeploymentServiceHttpsEndpoint" binding="ns:ApplicationDeploymentServiceHttpBinding">
            <http:address location="https://localhost:9443/services/ApplicationDeploymentService.ApplicationDeploymentServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
