service-stubs/org.wso2.carbon.hosting.mgt.stub/src/main/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2126="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.mgt.hosting.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.hosting.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.mgt.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="FileUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AppsWrapper">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="apps" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="appsDir" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="numberOfApps" type="xs:int" />
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2127="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://utils.mgt.hosting.carbon.wso2.org/xsd" />
            <xs:element name="uploadApp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileUploadDataList" nillable="true" type="ax2127:FileUploadData" />
                        <xs:element minOccurs="0" name="cartridge" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadAppResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerCartridge">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridgeType" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="min" type="xs:int" />
                        <xs:element minOccurs="0" name="max" type="xs:int" />
                        <xs:element minOccurs="0" name="svnPassword" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="attachVolume" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedAppsSummary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridge" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedAppsSummaryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2127:AppsWrapper" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeTitles">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getCartridgeTitlesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteApps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="appFileNames" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="cartridge" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllApps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="cartridge" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPagedAppsSummaryRequest">
        <wsdl:part name="parameters" element="ns1:getPagedAppsSummary" />
    </wsdl:message>
    <wsdl:message name="getPagedAppsSummaryResponse">
        <wsdl:part name="parameters" element="ns1:getPagedAppsSummaryResponse" />
    </wsdl:message>
    <wsdl:message name="getCartridgeTitlesRequest">
        <wsdl:part name="parameters" element="ns1:getCartridgeTitles" />
    </wsdl:message>
    <wsdl:message name="getCartridgeTitlesResponse">
        <wsdl:part name="parameters" element="ns1:getCartridgeTitlesResponse" />
    </wsdl:message>
    <wsdl:message name="uploadAppRequest">
        <wsdl:part name="parameters" element="ns1:uploadApp" />
    </wsdl:message>
    <wsdl:message name="uploadAppResponse">
        <wsdl:part name="parameters" element="ns1:uploadAppResponse" />
    </wsdl:message>
    <wsdl:message name="deleteAllAppsRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllApps" />
    </wsdl:message>
    <wsdl:message name="deleteAppsRequest">
        <wsdl:part name="parameters" element="ns1:deleteApps" />
    </wsdl:message>
    <wsdl:message name="registerCartridgeRequest">
        <wsdl:part name="parameters" element="ns1:registerCartridge" />
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="getPagedAppsSummary">
            <wsdl:input message="tns:getPagedAppsSummaryRequest" wsaw:Action="urn:getPagedAppsSummary" />
            <wsdl:output message="tns:getPagedAppsSummaryResponse" wsaw:Action="urn:getPagedAppsSummaryResponse" />
        </wsdl:operation>
        <wsdl:operation name="getCartridgeTitles">
            <wsdl:input message="tns:getCartridgeTitlesRequest" wsaw:Action="urn:getCartridgeTitles" />
            <wsdl:output message="tns:getCartridgeTitlesResponse" wsaw:Action="urn:getCartridgeTitlesResponse" />
        </wsdl:operation>
        <wsdl:operation name="uploadApp">
            <wsdl:input message="tns:uploadAppRequest" wsaw:Action="urn:uploadApp" />
            <wsdl:output message="tns:uploadAppResponse" wsaw:Action="urn:uploadAppResponse" />
        </wsdl:operation>
        <wsdl:operation name="deleteAllApps">
            <wsdl:input message="tns:deleteAllAppsRequest" wsaw:Action="urn:deleteAllApps" />
        </wsdl:operation>
        <wsdl:operation name="deleteApps">
            <wsdl:input message="tns:deleteAppsRequest" wsaw:Action="urn:deleteApps" />
        </wsdl:operation>
        <wsdl:operation name="registerCartridge">
            <wsdl:input message="tns:registerCartridgeRequest" wsaw:Action="urn:registerCartridge" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPagedAppsSummary">
            <soap:operation soapAction="urn:getPagedAppsSummary" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeTitles">
            <soap:operation soapAction="urn:getCartridgeTitles" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadApp">
            <soap:operation soapAction="urn:uploadApp" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApps">
            <soap:operation soapAction="urn:deleteAllApps" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteApps">
            <soap:operation soapAction="urn:deleteApps" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerCartridge">
            <soap:operation soapAction="urn:registerCartridge" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPagedAppsSummary">
            <soap12:operation soapAction="urn:getPagedAppsSummary" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeTitles">
            <soap12:operation soapAction="urn:getCartridgeTitles" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadApp">
            <soap12:operation soapAction="urn:uploadApp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApps">
            <soap12:operation soapAction="urn:deleteAllApps" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteApps">
            <soap12:operation soapAction="urn:deleteApps" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerCartridge">
            <soap12:operation soapAction="urn:registerCartridge" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getPagedAppsSummary">
            <http:operation location="getPagedAppsSummary" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCartridgeTitles">
            <http:operation location="getCartridgeTitles" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadApp">
            <http:operation location="uploadApp" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllApps">
            <http:operation location="deleteAllApps" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteApps">
            <http:operation location="deleteApps" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="registerCartridge">
            <http:operation location="registerCartridge" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>