service-stubs/org.wso2.carbon.hosting.mgt.stub/src/main/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2126="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.mgt.hosting.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.hosting.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.mgt.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="FileUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2127="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://utils.mgt.hosting.carbon.wso2.org/xsd" />
            <xs:element name="uploadWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileUploadDataList" nillable="true" type="ax2127:FileUploadData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPhpApplications">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="listPhpApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="listPhpApplicationsRequest">
        <wsdl:part name="parameters" element="ns1:listPhpApplications" />
    </wsdl:message>
    <wsdl:message name="listPhpApplicationsResponse">
        <wsdl:part name="parameters" element="ns1:listPhpApplicationsResponse" />
    </wsdl:message>
    <wsdl:message name="uploadWebappRequest">
        <wsdl:part name="parameters" element="ns1:uploadWebapp" />
    </wsdl:message>
    <wsdl:message name="uploadWebappResponse">
        <wsdl:part name="parameters" element="ns1:uploadWebappResponse" />
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="listPhpApplications">
            <wsdl:input message="tns:listPhpApplicationsRequest" wsaw:Action="urn:listPhpApplications" />
            <wsdl:output message="tns:listPhpApplicationsResponse" wsaw:Action="urn:listPhpApplicationsResponse" />
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <wsdl:input message="tns:uploadWebappRequest" wsaw:Action="urn:uploadWebapp" />
            <wsdl:output message="tns:uploadWebappResponse" wsaw:Action="urn:uploadWebappResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="listPhpApplications">
            <soap:operation soapAction="urn:listPhpApplications" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="listPhpApplications">
            <soap12:operation soapAction="urn:listPhpApplications" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap12:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="listPhpApplications">
            <http:operation location="listPhpApplications" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <http:operation location="uploadWebapp" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://111.223.173.221:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://111.223.173.221:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://111.223.173.221:9443/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>