service-stubs/org.wso2.carbon.hosting.mgt.stub/src/main/resources/ApplicationManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2126="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.mgt.hosting.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.hosting.carbon.wso2.org">
    <wsdl:documentation>ApplicationManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.mgt.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="FileUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PHPAppsWrapper">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="endPoints" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="httpPort" type="xs:int" />
                    <xs:element minOccurs="0" name="httpsPort" type="xs:int" />
                    <xs:element minOccurs="0" name="numberOfFaultyWebapps" type="xs:int" />
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" />
                    <xs:element minOccurs="0" name="numberOfPhpapps" type="xs:int" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phpapps" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="webappsDir" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2127="http://utils.mgt.hosting.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://utils.mgt.hosting.carbon.wso2.org/xsd" />
            <xs:element name="uploadWebapp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="fileUploadDataList" nillable="true" type="ax2127:FileUploadData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadWebappResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listPhpApplications">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="listPhpApplicationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isInstanceForTenantUp">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="isInstanceForTenantUpResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initAutoscaler">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedPhpAppsSummary">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="phpAppSearchString" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPagedPhpAppsSummaryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2127:PHPAppsWrapper" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getImages">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getImagesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePhpApps">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="phpAppFileNames" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteAllPhpApps">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deletePhpAppsRequest">
        <wsdl:part name="parameters" element="ns1:deletePhpApps" />
    </wsdl:message>
    <wsdl:message name="isInstanceForTenantUpRequest">
        <wsdl:part name="parameters" element="ns1:isInstanceForTenantUp" />
    </wsdl:message>
    <wsdl:message name="isInstanceForTenantUpResponse">
        <wsdl:part name="parameters" element="ns1:isInstanceForTenantUpResponse" />
    </wsdl:message>
    <wsdl:message name="getImagesRequest">
        <wsdl:part name="parameters" element="ns1:getImages" />
    </wsdl:message>
    <wsdl:message name="getImagesResponse">
        <wsdl:part name="parameters" element="ns1:getImagesResponse" />
    </wsdl:message>
    <wsdl:message name="getPagedPhpAppsSummaryRequest">
        <wsdl:part name="parameters" element="ns1:getPagedPhpAppsSummary" />
    </wsdl:message>
    <wsdl:message name="getPagedPhpAppsSummaryResponse">
        <wsdl:part name="parameters" element="ns1:getPagedPhpAppsSummaryResponse" />
    </wsdl:message>
    <wsdl:message name="initAutoscalerRequest">
        <wsdl:part name="parameters" element="ns1:initAutoscaler" />
    </wsdl:message>
    <wsdl:message name="listPhpApplicationsRequest">
        <wsdl:part name="parameters" element="ns1:listPhpApplications" />
    </wsdl:message>
    <wsdl:message name="listPhpApplicationsResponse">
        <wsdl:part name="parameters" element="ns1:listPhpApplicationsResponse" />
    </wsdl:message>
    <wsdl:message name="deleteAllPhpAppsRequest">
        <wsdl:part name="parameters" element="ns1:deleteAllPhpApps" />
    </wsdl:message>
    <wsdl:message name="startInstanceRequest">
        <wsdl:part name="parameters" element="ns1:startInstance" />
    </wsdl:message>
    <wsdl:message name="startInstanceResponse">
        <wsdl:part name="parameters" element="ns1:startInstanceResponse" />
    </wsdl:message>
    <wsdl:message name="uploadWebappRequest">
        <wsdl:part name="parameters" element="ns1:uploadWebapp" />
    </wsdl:message>
    <wsdl:message name="uploadWebappResponse">
        <wsdl:part name="parameters" element="ns1:uploadWebappResponse" />
    </wsdl:message>
    <wsdl:portType name="ApplicationManagementServicePortType">
        <wsdl:operation name="deletePhpApps">
            <wsdl:input message="tns:deletePhpAppsRequest" wsaw:Action="urn:deletePhpApps" />
        </wsdl:operation>
        <wsdl:operation name="isInstanceForTenantUp">
            <wsdl:input message="tns:isInstanceForTenantUpRequest" wsaw:Action="urn:isInstanceForTenantUp" />
            <wsdl:output message="tns:isInstanceForTenantUpResponse" wsaw:Action="urn:isInstanceForTenantUpResponse" />
        </wsdl:operation>
        <wsdl:operation name="getImages">
            <wsdl:input message="tns:getImagesRequest" wsaw:Action="urn:getImages" />
            <wsdl:output message="tns:getImagesResponse" wsaw:Action="urn:getImagesResponse" />
        </wsdl:operation>
        <wsdl:operation name="getPagedPhpAppsSummary">
            <wsdl:input message="tns:getPagedPhpAppsSummaryRequest" wsaw:Action="urn:getPagedPhpAppsSummary" />
            <wsdl:output message="tns:getPagedPhpAppsSummaryResponse" wsaw:Action="urn:getPagedPhpAppsSummaryResponse" />
        </wsdl:operation>
        <wsdl:operation name="initAutoscaler">
            <wsdl:input message="tns:initAutoscalerRequest" wsaw:Action="urn:initAutoscaler" />
        </wsdl:operation>
        <wsdl:operation name="listPhpApplications">
            <wsdl:input message="tns:listPhpApplicationsRequest" wsaw:Action="urn:listPhpApplications" />
            <wsdl:output message="tns:listPhpApplicationsResponse" wsaw:Action="urn:listPhpApplicationsResponse" />
        </wsdl:operation>
        <wsdl:operation name="deleteAllPhpApps">
            <wsdl:input message="tns:deleteAllPhpAppsRequest" wsaw:Action="urn:deleteAllPhpApps" />
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <wsdl:input message="tns:startInstanceRequest" wsaw:Action="urn:startInstance" />
            <wsdl:output message="tns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse" />
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <wsdl:input message="tns:uploadWebappRequest" wsaw:Action="urn:uploadWebapp" />
            <wsdl:output message="tns:uploadWebappResponse" wsaw:Action="urn:uploadWebappResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationManagementServiceSoap11Binding" type="tns:ApplicationManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="isInstanceForTenantUp">
            <soap:operation soapAction="urn:isInstanceForTenantUp" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePhpApps">
            <soap:operation soapAction="urn:deletePhpApps" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getImages">
            <soap:operation soapAction="urn:getImages" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedPhpAppsSummary">
            <soap:operation soapAction="urn:getPagedPhpAppsSummary" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initAutoscaler">
            <soap:operation soapAction="urn:initAutoscaler" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listPhpApplications">
            <soap:operation soapAction="urn:listPhpApplications" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllPhpApps">
            <soap:operation soapAction="urn:deleteAllPhpApps" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap:operation soapAction="urn:startInstance" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceSoap12Binding" type="tns:ApplicationManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="isInstanceForTenantUp">
            <soap12:operation soapAction="urn:isInstanceForTenantUp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePhpApps">
            <soap12:operation soapAction="urn:deletePhpApps" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getImages">
            <soap12:operation soapAction="urn:getImages" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedPhpAppsSummary">
            <soap12:operation soapAction="urn:getPagedPhpAppsSummary" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initAutoscaler">
            <soap12:operation soapAction="urn:initAutoscaler" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listPhpApplications">
            <soap12:operation soapAction="urn:listPhpApplications" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllPhpApps">
            <soap12:operation soapAction="urn:deleteAllPhpApps" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap12:operation soapAction="urn:startInstance" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <soap12:operation soapAction="urn:uploadWebapp" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationManagementServiceHttpBinding" type="tns:ApplicationManagementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="isInstanceForTenantUp">
            <http:operation location="isInstanceForTenantUp" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deletePhpApps">
            <http:operation location="deletePhpApps" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getImages">
            <http:operation location="getImages" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPagedPhpAppsSummary">
            <http:operation location="getPagedPhpAppsSummary" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initAutoscaler">
            <http:operation location="initAutoscaler" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="listPhpApplications">
            <http:operation location="listPhpApplications" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAllPhpApps">
            <http:operation location="deleteAllPhpApps" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <http:operation location="startInstance" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="uploadWebapp">
            <http:operation location="uploadWebapp" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationManagementService">
        <wsdl:port name="ApplicationManagementServiceHttpsSoap11Endpoint" binding="tns:ApplicationManagementServiceSoap11Binding">
            <soap:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsSoap12Endpoint" binding="tns:ApplicationManagementServiceSoap12Binding">
            <soap12:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationManagementServiceHttpsEndpoint" binding="tns:ApplicationManagementServiceHttpBinding">
            <http:address location="https://12.0.0.1:9444/services/ApplicationManagementService.ApplicationManagementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>