products/appfactory/modules/bpels/DeployToStage/ApplicationDeployer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://deploy.core.appfactory.carbon.wso2.org" xmlns:ax213="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax211="http://common.appfactory.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
    <wsdl:documentation>ApplicationDeployer</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="AppFactoryException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://deploy.core.appfactory.carbon.wso2.org/xsd" xmlns:ax212="http://common.appfactory.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org">
            <xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd" />
            <xs:import namespace="http://deploy.core.appfactory.carbon.wso2.org/xsd" />
            <xs:element name="ApplicationDeployerAppFactoryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AppFactoryException" nillable="true" type="ax212:AppFactoryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifact">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployArtifactResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax214:ArtifactDeploymentStatusBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://deploy.core.appfactory.carbon.wso2.org/xsd">
            <xs:complexType name="ArtifactDeploymentStatusBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="deploymentServer" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="revision" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="stage" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deployArtifactRequest">
        <wsdl:part name="parameters" element="ns:deployArtifact" />
    </wsdl:message>
    <wsdl:message name="deployArtifactResponse">
        <wsdl:part name="parameters" element="ns:deployArtifactResponse" />
    </wsdl:message>
    <wsdl:message name="ApplicationDeployerAppFactoryException">
        <wsdl:part name="parameters" element="ns:ApplicationDeployerAppFactoryException" />
    </wsdl:message>
    <wsdl:portType name="ApplicationDeployerPortType">
        <wsdl:operation name="deployArtifact">
            <wsdl:input message="ns:deployArtifactRequest" wsaw:Action="urn:deployArtifact" />
            <wsdl:output message="ns:deployArtifactResponse" wsaw:Action="urn:deployArtifactResponse" />
            <wsdl:fault message="ns:ApplicationDeployerAppFactoryException" name="ApplicationDeployerAppFactoryException" wsaw:Action="urn:deployArtifactApplicationDeployerAppFactoryException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ApplicationDeployerSoap11Binding" type="ns:ApplicationDeployerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deployArtifact">
            <soap:operation soapAction="urn:deployArtifact" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap:fault use="literal" name="ApplicationDeployerAppFactoryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerSoap12Binding" type="ns:ApplicationDeployerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="deployArtifact">
            <soap12:operation soapAction="urn:deployArtifact" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ApplicationDeployerAppFactoryException">
                <soap12:fault use="literal" name="ApplicationDeployerAppFactoryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ApplicationDeployerHttpBinding" type="ns:ApplicationDeployerPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="deployArtifact">
            <http:operation location="deployArtifact" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ApplicationDeployer">
        <wsdl:port name="ApplicationDeployerHttpsSoap11Endpoint" binding="ns:ApplicationDeployerSoap11Binding">
            <soap:address location="https://10.100.3.145:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsSoap12Endpoint" binding="ns:ApplicationDeployerSoap12Binding">
            <soap12:address location="https://10.100.3.145:9443/services/ApplicationDeployer.ApplicationDeployerHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ApplicationDeployerHttpsEndpoint" binding="ns:ApplicationDeployerHttpBinding">
            <http:address location="https://10.100.3.145:9443/services/ApplicationDeployer.ApplicationDeployerHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>