products/appfactory/modules/bpels/CreateArtifactProcess/ArtifactCreateCallback.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:9763/services/ArtifactCreateCallbackService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArtifactCreateCallback" targetNamespace="http://localhost:9763/services/ArtifactCreateCallbackService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:9763/services/ArtifactCreateCallbackService" elementFormDefault="qualified">
      <xsd:element name="callbackMessgae">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="applicationId" type="xsd:string" />
          	<xsd:element name="revision" type="xsd:string"></xsd:element>
          	<xsd:element name="version" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="callbackMessgaeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="callbackMessgaeRequest">
    <wsdl:part element="tns:callbackMessgae" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="callbackMessgaeResponse">
    <wsdl:part element="tns:callbackMessgaeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="ArtifactCreateCallback">
    <wsdl:operation name="callbackMessgae">
      <wsdl:input message="tns:callbackMessgaeRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArtifactCreateCallbackSOAP" type="tns:ArtifactCreateCallback">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="callbackMessgae">
      <soap:operation soapAction="http://localhost:9763/services/ArtifactCreateCallbackService/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArtifactCreateCallbackService">
    <wsdl:port binding="tns:ArtifactCreateCallbackSOAP" name="ArtifactCreateCallbackBinding">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
