components/governance/org.wso2.carbon.governance.services.ui/src/main/resources/AddServicesService/AddServicesService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.services.governance.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2136="http://exceptions.core.registry.carbon.wso2.org/xsd" targetNamespace="http://services.services.governance.carbon.wso2.org">
    <wsdl:documentation>AddServicesService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2137="http://services.services.governance.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://services.services.governance.carbon.wso2.org"/>
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2137:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2138="http://exceptions.core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.services.governance.carbon.wso2.org">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="RegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2136:RegistryException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServicePathResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableAspectsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="servicename" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChange">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="canChangeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveServiceConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="update" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="saveServiceConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addServiceRequest">
        <wsdl:part name="parameters" element="ns:addService"/>
    </wsdl:message>
    <wsdl:message name="addServiceResponse">
        <wsdl:part name="parameters" element="ns:addServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns:RegistryException"/>
    </wsdl:message>
    <wsdl:message name="getServicePathRequest"/>
    <wsdl:message name="getServicePathResponse">
        <wsdl:part name="parameters" element="ns:getServicePathResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceConfigurationRequest"/>
    <wsdl:message name="getServiceConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getServiceConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="editServiceRequest">
        <wsdl:part name="parameters" element="ns:editService"/>
    </wsdl:message>
    <wsdl:message name="editServiceResponse">
        <wsdl:part name="parameters" element="ns:editServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="canChangeRequest">
        <wsdl:part name="parameters" element="ns:canChange"/>
    </wsdl:message>
    <wsdl:message name="canChangeResponse">
        <wsdl:part name="parameters" element="ns:canChangeResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:message name="getAvailableAspectsRequest"/>
    <wsdl:message name="getAvailableAspectsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableAspectsResponse"/>
    </wsdl:message>
    <wsdl:message name="saveServiceConfigurationRequest">
        <wsdl:part name="parameters" element="ns:saveServiceConfiguration"/>
    </wsdl:message>
    <wsdl:message name="saveServiceConfigurationResponse">
        <wsdl:part name="parameters" element="ns:saveServiceConfigurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddServicesServicePortType">
        <wsdl:operation name="addService">
            <wsdl:input message="ns:addServiceRequest" wsaw:Action="urn:addService"/>
            <wsdl:output message="ns:addServiceResponse" wsaw:Action="urn:addServiceResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:addServiceRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="getServicePath">
            <wsdl:input message="ns:getServicePathRequest" wsaw:Action="urn:getServicePath"/>
            <wsdl:output message="ns:getServicePathResponse" wsaw:Action="urn:getServicePathResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getServicePathRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceConfiguration">
            <wsdl:input message="ns:getServiceConfigurationRequest" wsaw:Action="urn:getServiceConfiguration"/>
            <wsdl:output message="ns:getServiceConfigurationResponse" wsaw:Action="urn:getServiceConfigurationResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:getServiceConfigurationRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="editService">
            <wsdl:input message="ns:editServiceRequest" wsaw:Action="urn:editService"/>
            <wsdl:output message="ns:editServiceResponse" wsaw:Action="urn:editServiceResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:editServiceRegistryException"/>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <wsdl:input message="ns:canChangeRequest" wsaw:Action="urn:canChange"/>
            <wsdl:output message="ns:canChangeResponse" wsaw:Action="urn:canChangeResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:canChangeException"/>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <wsdl:input message="ns:getAvailableAspectsRequest" wsaw:Action="urn:getAvailableAspects"/>
            <wsdl:output message="ns:getAvailableAspectsResponse" wsaw:Action="urn:getAvailableAspectsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="saveServiceConfiguration">
            <wsdl:input message="ns:saveServiceConfigurationRequest" wsaw:Action="urn:saveServiceConfiguration"/>
            <wsdl:output message="ns:saveServiceConfigurationResponse" wsaw:Action="urn:saveServiceConfigurationResponse"/>
            <wsdl:fault message="ns:RegistryException" name="RegistryException" wsaw:Action="urn:saveServiceConfigurationRegistryException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddServicesServiceSoap11Binding" type="ns:AddServicesServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addService">
            <soap:operation soapAction="urn:addService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServicePath">
            <soap:operation soapAction="urn:getServicePath" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceConfiguration">
            <soap:operation soapAction="urn:getServiceConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editService">
            <soap:operation soapAction="urn:editService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <soap:operation soapAction="urn:canChange" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <soap:operation soapAction="urn:getAvailableAspects" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveServiceConfiguration">
            <soap:operation soapAction="urn:saveServiceConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddServicesServiceSoap12Binding" type="ns:AddServicesServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addService">
            <soap12:operation soapAction="urn:addService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServicePath">
            <soap12:operation soapAction="urn:getServicePath" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceConfiguration">
            <soap12:operation soapAction="urn:getServiceConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editService">
            <soap12:operation soapAction="urn:editService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <soap12:operation soapAction="urn:canChange" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <soap12:operation soapAction="urn:getAvailableAspects" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveServiceConfiguration">
            <soap12:operation soapAction="urn:saveServiceConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AddServicesServiceHttpBinding" type="ns:AddServicesServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addService">
            <http:operation location="addService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="addService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="addService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServicePath">
            <http:operation location="getServicePath"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServicePath"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServicePath"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceConfiguration">
            <http:operation location="getServiceConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceConfiguration"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceConfiguration"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editService">
            <http:operation location="editService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="editService"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="editService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="canChange">
            <http:operation location="canChange"/>
            <wsdl:input>
                <mime:content type="text/xml" part="canChange"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="canChange"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableAspects">
            <http:operation location="getAvailableAspects"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAvailableAspects"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAvailableAspects"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveServiceConfiguration">
            <http:operation location="saveServiceConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="saveServiceConfiguration"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="saveServiceConfiguration"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddServicesService">
        <wsdl:port name="AddServicesServiceHttpsSoap11Endpoint" binding="ns:AddServicesServiceSoap11Binding">
            <soap:address location="https://10.100.1.239:9443/services/AddServicesService.AddServicesServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddServicesServiceHttpsSoap12Endpoint" binding="ns:AddServicesServiceSoap12Binding">
            <soap12:address location="https://10.100.1.239:9443/services/AddServicesService.AddServicesServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AddServicesServiceHttpsEndpoint" binding="ns:AddServicesServiceHttpBinding">
            <http:address location="https://10.100.1.239:9443/services/AddServicesService.AddServicesServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>