service-stubs/org.wso2.carbon.mapred.mgt.stub/src/main/resources/HadoopJobRunner.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://mgt.mapred.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2175="http://conf.hadoop.apache.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.mapred.carbon.wso2.org">
    <wsdl:documentation>HadoopJobRunner</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2176="http://conf.hadoop.apache.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://conf.hadoop.apache.org/xsd" />
            <xs:element name="sanitizeConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="conf" nillable="true" type="ax2176:Configuration" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="runJob">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="jarName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="args" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="runJobResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putJar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="friendlyName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="dataHandler" nillable="true" type="xs:base64Binary" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isJobSuccessul">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isJobSuccessulResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isJobComplete">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isJobCompleteResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProgress">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProgressResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:float" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJobName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJobNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJobId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJobIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJarList">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getJarListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="jarPath" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCounter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="counterKey" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCounterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getConf">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getConfResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2176:Configuration" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://conf.hadoop.apache.org/xsd">
            <xs:complexType name="Configuration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="classLoader" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="quietMode" type="xs:boolean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="putJarRequest">
        <wsdl:part name="parameters" element="ns1:putJar" />
    </wsdl:message>
    <wsdl:message name="runJobRequest">
        <wsdl:part name="parameters" element="ns1:runJob" />
    </wsdl:message>
    <wsdl:message name="runJobResponse">
        <wsdl:part name="parameters" element="ns1:runJobResponse" />
    </wsdl:message>
    <wsdl:message name="sanitizeConfigurationRequest">
        <wsdl:part name="parameters" element="ns1:sanitizeConfiguration" />
    </wsdl:message>
    <wsdl:message name="getJobNameRequest">
        <wsdl:part name="parameters" element="ns1:getJobName" />
    </wsdl:message>
    <wsdl:message name="getJobNameResponse">
        <wsdl:part name="parameters" element="ns1:getJobNameResponse" />
    </wsdl:message>
    <wsdl:message name="getProgressRequest">
        <wsdl:part name="parameters" element="ns1:getProgress" />
    </wsdl:message>
    <wsdl:message name="getProgressResponse">
        <wsdl:part name="parameters" element="ns1:getProgressResponse" />
    </wsdl:message>
    <wsdl:message name="isJobCompleteRequest">
        <wsdl:part name="parameters" element="ns1:isJobComplete" />
    </wsdl:message>
    <wsdl:message name="isJobCompleteResponse">
        <wsdl:part name="parameters" element="ns1:isJobCompleteResponse" />
    </wsdl:message>
    <wsdl:message name="getJobIdRequest">
        <wsdl:part name="parameters" element="ns1:getJobId" />
    </wsdl:message>
    <wsdl:message name="getJobIdResponse">
        <wsdl:part name="parameters" element="ns1:getJobIdResponse" />
    </wsdl:message>
    <wsdl:message name="getJarRequest">
        <wsdl:part name="parameters" element="ns1:getJar" />
    </wsdl:message>
    <wsdl:message name="getJarListRequest">
        <wsdl:part name="parameters" element="ns1:getJarList" />
    </wsdl:message>
    <wsdl:message name="getJarListResponse">
        <wsdl:part name="parameters" element="ns1:getJarListResponse" />
    </wsdl:message>
    <wsdl:message name="getConfRequest">
        <wsdl:part name="parameters" element="ns1:getConf" />
    </wsdl:message>
    <wsdl:message name="getConfResponse">
        <wsdl:part name="parameters" element="ns1:getConfResponse" />
    </wsdl:message>
    <wsdl:message name="isJobSuccessulRequest">
        <wsdl:part name="parameters" element="ns1:isJobSuccessul" />
    </wsdl:message>
    <wsdl:message name="isJobSuccessulResponse">
        <wsdl:part name="parameters" element="ns1:isJobSuccessulResponse" />
    </wsdl:message>
    <wsdl:message name="getCounterRequest">
        <wsdl:part name="parameters" element="ns1:getCounter" />
    </wsdl:message>
    <wsdl:message name="getCounterResponse">
        <wsdl:part name="parameters" element="ns1:getCounterResponse" />
    </wsdl:message>
    <wsdl:portType name="HadoopJobRunnerPortType">
        <wsdl:operation name="putJar">
            <wsdl:input message="tns:putJarRequest" wsaw:Action="urn:putJar" />
        </wsdl:operation>
        <wsdl:operation name="runJob">
            <wsdl:input message="tns:runJobRequest" wsaw:Action="urn:runJob" />
            <wsdl:output message="tns:runJobResponse" wsaw:Action="urn:runJobResponse" />
        </wsdl:operation>
        <wsdl:operation name="sanitizeConfiguration">
            <wsdl:input message="tns:sanitizeConfigurationRequest" wsaw:Action="urn:sanitizeConfiguration" />
        </wsdl:operation>
        <wsdl:operation name="getJobName">
            <wsdl:input message="tns:getJobNameRequest" wsaw:Action="urn:getJobName" />
            <wsdl:output message="tns:getJobNameResponse" wsaw:Action="urn:getJobNameResponse" />
        </wsdl:operation>
        <wsdl:operation name="getProgress">
            <wsdl:input message="tns:getProgressRequest" wsaw:Action="urn:getProgress" />
            <wsdl:output message="tns:getProgressResponse" wsaw:Action="urn:getProgressResponse" />
        </wsdl:operation>
        <wsdl:operation name="isJobComplete">
            <wsdl:input message="tns:isJobCompleteRequest" wsaw:Action="urn:isJobComplete" />
            <wsdl:output message="tns:isJobCompleteResponse" wsaw:Action="urn:isJobCompleteResponse" />
        </wsdl:operation>
        <wsdl:operation name="getJobId">
            <wsdl:input message="tns:getJobIdRequest" wsaw:Action="urn:getJobId" />
            <wsdl:output message="tns:getJobIdResponse" wsaw:Action="urn:getJobIdResponse" />
        </wsdl:operation>
        <wsdl:operation name="getJar">
            <wsdl:input message="tns:getJarRequest" wsaw:Action="urn:getJar" />
        </wsdl:operation>
        <wsdl:operation name="getJarList">
            <wsdl:input message="tns:getJarListRequest" wsaw:Action="urn:getJarList" />
            <wsdl:output message="tns:getJarListResponse" wsaw:Action="urn:getJarListResponse" />
        </wsdl:operation>
        <wsdl:operation name="getConf">
            <wsdl:input message="tns:getConfRequest" wsaw:Action="urn:getConf" />
            <wsdl:output message="tns:getConfResponse" wsaw:Action="urn:getConfResponse" />
        </wsdl:operation>
        <wsdl:operation name="isJobSuccessul">
            <wsdl:input message="tns:isJobSuccessulRequest" wsaw:Action="urn:isJobSuccessul" />
            <wsdl:output message="tns:isJobSuccessulResponse" wsaw:Action="urn:isJobSuccessulResponse" />
        </wsdl:operation>
        <wsdl:operation name="getCounter">
            <wsdl:input message="tns:getCounterRequest" wsaw:Action="urn:getCounter" />
            <wsdl:output message="tns:getCounterResponse" wsaw:Action="urn:getCounterResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HadoopJobRunnerSoap11Binding" type="tns:HadoopJobRunnerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="putJar">
            <soap:operation soapAction="urn:putJar" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="runJob">
            <soap:operation soapAction="urn:runJob" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sanitizeConfiguration">
            <soap:operation soapAction="urn:sanitizeConfiguration" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isJobComplete">
            <soap:operation soapAction="urn:isJobComplete" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProgress">
            <soap:operation soapAction="urn:getProgress" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobName">
            <soap:operation soapAction="urn:getJobName" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobId">
            <soap:operation soapAction="urn:getJobId" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJar">
            <soap:operation soapAction="urn:getJar" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getConf">
            <soap:operation soapAction="urn:getConf" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJarList">
            <soap:operation soapAction="urn:getJarList" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isJobSuccessul">
            <soap:operation soapAction="urn:isJobSuccessul" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCounter">
            <soap:operation soapAction="urn:getCounter" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HadoopJobRunnerSoap12Binding" type="tns:HadoopJobRunnerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="putJar">
            <soap12:operation soapAction="urn:putJar" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="runJob">
            <soap12:operation soapAction="urn:runJob" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sanitizeConfiguration">
            <soap12:operation soapAction="urn:sanitizeConfiguration" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isJobComplete">
            <soap12:operation soapAction="urn:isJobComplete" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProgress">
            <soap12:operation soapAction="urn:getProgress" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobName">
            <soap12:operation soapAction="urn:getJobName" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobId">
            <soap12:operation soapAction="urn:getJobId" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJar">
            <soap12:operation soapAction="urn:getJar" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getConf">
            <soap12:operation soapAction="urn:getConf" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJarList">
            <soap12:operation soapAction="urn:getJarList" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isJobSuccessul">
            <soap12:operation soapAction="urn:isJobSuccessul" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCounter">
            <soap12:operation soapAction="urn:getCounter" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HadoopJobRunnerHttpBinding" type="tns:HadoopJobRunnerPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="putJar">
            <http:operation location="putJar" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="runJob">
            <http:operation location="runJob" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sanitizeConfiguration">
            <http:operation location="sanitizeConfiguration" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isJobComplete">
            <http:operation location="isJobComplete" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProgress">
            <http:operation location="getProgress" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobName">
            <http:operation location="getJobName" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJobId">
            <http:operation location="getJobId" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJar">
            <http:operation location="getJar" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getConf">
            <http:operation location="getConf" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJarList">
            <http:operation location="getJarList" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="isJobSuccessul">
            <http:operation location="isJobSuccessul" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCounter">
            <http:operation location="getCounter" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HadoopJobRunner">
        <wsdl:port name="HadoopJobRunnerHttpsSoap11Endpoint" binding="tns:HadoopJobRunnerSoap11Binding">
            <soap:address location="https://10.216.90.185:9443/services/HadoopJobRunner.HadoopJobRunnerHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HadoopJobRunnerHttpsSoap12Endpoint" binding="tns:HadoopJobRunnerSoap12Binding">
            <soap12:address location="https://10.216.90.185:9443/services/HadoopJobRunner.HadoopJobRunnerHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="HadoopJobRunnerHttpsEndpoint" binding="tns:HadoopJobRunnerHttpBinding">
            <http:address location="https://10.216.90.185:9443/services/HadoopJobRunner.HadoopJobRunnerHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>