service-stubs/org.wso2.carbon.gauges.stub/src/main/resources/ResourceImpactAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2217="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:axis2="http://services.resourceimpact.gadgets.governance.carbon.wso2.org" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax2220="http://core.registry.carbon.wso2.org/xsd" targetNamespace="http://services.resourceimpact.gadgets.governance.carbon.wso2.org">
    <wsdl:documentation>ResourceImpactAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.registry.carbon.wso2.org/xsd">
            <xs:complexType name="Association">
                <xs:all>
                    <xs:element minOccurs="0" name="associationType" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="destinationPath" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="sourcePath" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2219="http://exceptions.core.registry.carbon.wso2.org/xsd" xmlns:ax2221="http://core.registry.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://exceptions.core.registry.carbon.wso2.org/xsd" />
            <xs:import namespace="http://core.registry.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:all>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:all>
            </xs:complexType>
            <xs:element name="RegistryException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RegistryException" nillable="true" type="ax2219:RegistryException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAssociations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAssociationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2220:Association" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2218="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.core.registry.carbon.wso2.org/xsd">
            <xs:import namespace="http://org.apache.axis2/xsd" />
            <xs:complexType name="RegistryException">
                <xs:complexContent>
                    <xs:extension base="ax2218:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAssociationsRequest">
        <wsdl:part name="parameters" element="ns1:getAssociations" />
    </wsdl:message>
    <wsdl:message name="getAssociationsResponse">
        <wsdl:part name="parameters" element="ns1:getAssociationsResponse" />
    </wsdl:message>
    <wsdl:message name="RegistryException">
        <wsdl:part name="parameters" element="ns1:RegistryException" />
    </wsdl:message>
    <wsdl:portType name="ResourceImpactAdminServicePortType">
        <wsdl:operation name="getAssociations">
            <wsdl:input message="axis2:getAssociationsRequest" wsaw:Action="urn:getAssociations" />
            <wsdl:output message="axis2:getAssociationsResponse" wsaw:Action="urn:getAssociationsResponse" />
            <wsdl:fault message="axis2:RegistryException" name="RegistryException" wsaw:Action="urn:getAssociationsRegistryException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ResourceImpactAdminServiceSoap11Binding" type="axis2:ResourceImpactAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAssociations">
            <soap:operation soapAction="urn:getAssociations" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ResourceImpactAdminServiceSoap12Binding" type="axis2:ResourceImpactAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getAssociations">
            <soap12:operation soapAction="urn:getAssociations" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="RegistryException">
                <soap12:fault use="literal" name="RegistryException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ResourceImpactAdminServiceHttpBinding" type="axis2:ResourceImpactAdminServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getAssociations">
            <http:operation location="getAssociations" />
            <wsdl:input>
                <mime:content type="text/xml" part="getAssociations" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAssociations" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ResourceImpactAdminService">
        <wsdl:port name="ResourceImpactAdminServiceHttpsSoap11Endpoint" binding="axis2:ResourceImpactAdminServiceSoap11Binding">
            <soap:address location="https://10.100.1.154:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ResourceImpactAdminServiceHttpsSoap12Endpoint" binding="axis2:ResourceImpactAdminServiceSoap12Binding">
            <soap12:address location="https://10.100.1.154:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ResourceImpactAdminServiceHttpsEndpoint" binding="axis2:ResourceImpactAdminServiceHttpBinding">
            <http:address location="https://10.100.1.154:9443/services/ResourceImpactAdminService.ResourceImpactAdminServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
