service-stubs/org.wso2.carbon.hosting.wnagent.stub/src/main/resources/WorkerNodeAgentService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2134="http://wnagent.hosting.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2132="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://service.wnagent.hosting.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2136="http://dto.wnagent.hosting.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.wnagent.hosting.carbon.wso2.org">
    <wsdl:documentation>WorkerNodeAgentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2133="http://io.java/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2137="http://dto.wnagent.hosting.carbon.wso2.org/xsd" xmlns:ax2135="http://wnagent.hosting.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://io.java/xsd" />
            <xs:import namespace="http://wnagent.hosting.carbon.wso2.org/xsd" />
            <xs:import namespace="http://dto.wnagent.hosting.carbon.wso2.org/xsd" />
            <xs:element name="WorkerNodeAgentServiceIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax2133:IOException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WorkerNodeAgentServiceInterruptedException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InterruptedException" nillable="true" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WorkerNodeAgentServiceWNAgentException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="WNAgentException" nillable="true" type="ax2134:WNAgentException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="containerRoot" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="stopContainerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="containerRoot" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startContainerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="destroyContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="containerRoot" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="destroyContainerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createContainer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="tenantPassword" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="container" nillable="true" type="ax2137:Container" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createContainerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wnagent.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="WNAgentException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.wnagent.hosting.carbon.wso2.org/xsd">
            <xs:complexType name="Container">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bridge" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="cpuSetShares" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="cpuShares" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jailKeysFile" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="jailRoot" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="memory" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="netGateway" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="netMask" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="storage" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="swap" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="zone" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="stopContainerRequest">
        <wsdl:part name="parameters" element="ns1:stopContainer" />
    </wsdl:message>
    <wsdl:message name="stopContainerResponse">
        <wsdl:part name="parameters" element="ns1:stopContainerResponse" />
    </wsdl:message>
    <wsdl:message name="WorkerNodeAgentServiceIOException">
        <wsdl:part name="parameters" element="ns1:WorkerNodeAgentServiceIOException" />
    </wsdl:message>
    <wsdl:message name="WorkerNodeAgentServiceInterruptedException">
        <wsdl:part name="parameters" element="ns1:WorkerNodeAgentServiceInterruptedException" />
    </wsdl:message>
    <wsdl:message name="WorkerNodeAgentServiceWNAgentException">
        <wsdl:part name="parameters" element="ns1:WorkerNodeAgentServiceWNAgentException" />
    </wsdl:message>
    <wsdl:message name="createContainerRequest">
        <wsdl:part name="parameters" element="ns1:createContainer" />
    </wsdl:message>
    <wsdl:message name="createContainerResponse">
        <wsdl:part name="parameters" element="ns1:createContainerResponse" />
    </wsdl:message>
    <wsdl:message name="startContainerRequest">
        <wsdl:part name="parameters" element="ns1:startContainer" />
    </wsdl:message>
    <wsdl:message name="startContainerResponse">
        <wsdl:part name="parameters" element="ns1:startContainerResponse" />
    </wsdl:message>
    <wsdl:message name="destroyContainerRequest">
        <wsdl:part name="parameters" element="ns1:destroyContainer" />
    </wsdl:message>
    <wsdl:message name="destroyContainerResponse">
        <wsdl:part name="parameters" element="ns1:destroyContainerResponse" />
    </wsdl:message>
    <wsdl:portType name="WorkerNodeAgentServicePortType">
        <wsdl:operation name="stopContainer">
            <wsdl:input message="tns:stopContainerRequest" wsaw:Action="urn:stopContainer" />
            <wsdl:output message="tns:stopContainerResponse" wsaw:Action="urn:stopContainerResponse" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceIOException" name="WorkerNodeAgentServiceIOException" wsaw:Action="urn:stopContainerWorkerNodeAgentServiceIOException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceInterruptedException" name="WorkerNodeAgentServiceInterruptedException" wsaw:Action="urn:stopContainerWorkerNodeAgentServiceInterruptedException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceWNAgentException" name="WorkerNodeAgentServiceWNAgentException" wsaw:Action="urn:stopContainerWorkerNodeAgentServiceWNAgentException" />
        </wsdl:operation>
        <wsdl:operation name="createContainer">
            <wsdl:input message="tns:createContainerRequest" wsaw:Action="urn:createContainer" />
            <wsdl:output message="tns:createContainerResponse" wsaw:Action="urn:createContainerResponse" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceIOException" name="WorkerNodeAgentServiceIOException" wsaw:Action="urn:createContainerWorkerNodeAgentServiceIOException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceInterruptedException" name="WorkerNodeAgentServiceInterruptedException" wsaw:Action="urn:createContainerWorkerNodeAgentServiceInterruptedException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceWNAgentException" name="WorkerNodeAgentServiceWNAgentException" wsaw:Action="urn:createContainerWorkerNodeAgentServiceWNAgentException" />
        </wsdl:operation>
        <wsdl:operation name="startContainer">
            <wsdl:input message="tns:startContainerRequest" wsaw:Action="urn:startContainer" />
            <wsdl:output message="tns:startContainerResponse" wsaw:Action="urn:startContainerResponse" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceIOException" name="WorkerNodeAgentServiceIOException" wsaw:Action="urn:startContainerWorkerNodeAgentServiceIOException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceInterruptedException" name="WorkerNodeAgentServiceInterruptedException" wsaw:Action="urn:startContainerWorkerNodeAgentServiceInterruptedException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceWNAgentException" name="WorkerNodeAgentServiceWNAgentException" wsaw:Action="urn:startContainerWorkerNodeAgentServiceWNAgentException" />
        </wsdl:operation>
        <wsdl:operation name="destroyContainer">
            <wsdl:input message="tns:destroyContainerRequest" wsaw:Action="urn:destroyContainer" />
            <wsdl:output message="tns:destroyContainerResponse" wsaw:Action="urn:destroyContainerResponse" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceIOException" name="WorkerNodeAgentServiceIOException" wsaw:Action="urn:destroyContainerWorkerNodeAgentServiceIOException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceInterruptedException" name="WorkerNodeAgentServiceInterruptedException" wsaw:Action="urn:destroyContainerWorkerNodeAgentServiceInterruptedException" />
            <wsdl:fault message="tns:WorkerNodeAgentServiceWNAgentException" name="WorkerNodeAgentServiceWNAgentException" wsaw:Action="urn:destroyContainerWorkerNodeAgentServiceWNAgentException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorkerNodeAgentServiceSoap11Binding" type="tns:WorkerNodeAgentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="stopContainer">
            <soap:operation soapAction="urn:stopContainer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createContainer">
            <soap:operation soapAction="urn:createContainer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startContainer">
            <soap:operation soapAction="urn:startContainer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="destroyContainer">
            <soap:operation soapAction="urn:destroyContainer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkerNodeAgentServiceSoap12Binding" type="tns:WorkerNodeAgentServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="stopContainer">
            <soap12:operation soapAction="urn:stopContainer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createContainer">
            <soap12:operation soapAction="urn:createContainer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startContainer">
            <soap12:operation soapAction="urn:startContainer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="destroyContainer">
            <soap12:operation soapAction="urn:destroyContainer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WorkerNodeAgentServiceWNAgentException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceWNAgentException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceInterruptedException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceInterruptedException" />
            </wsdl:fault>
            <wsdl:fault name="WorkerNodeAgentServiceIOException">
                <soap12:fault use="literal" name="WorkerNodeAgentServiceIOException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WorkerNodeAgentServiceHttpBinding" type="tns:WorkerNodeAgentServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="stopContainer">
            <http:operation location="stopContainer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createContainer">
            <http:operation location="createContainer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startContainer">
            <http:operation location="startContainer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="destroyContainer">
            <http:operation location="destroyContainer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkerNodeAgentService">
        <wsdl:port name="WorkerNodeAgentServiceHttpsSoap11Endpoint" binding="tns:WorkerNodeAgentServiceSoap11Binding">
            <soap:address location="https://10.100.3.212:9443/services/WorkerNodeAgentService.WorkerNodeAgentServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="WorkerNodeAgentServiceHttpsSoap12Endpoint" binding="tns:WorkerNodeAgentServiceSoap12Binding">
            <soap12:address location="https://10.100.3.212:9443/services/WorkerNodeAgentService.WorkerNodeAgentServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="WorkerNodeAgentServiceHttpsEndpoint" binding="tns:WorkerNodeAgentServiceHttpBinding">
            <http:address location="https://10.100.3.212:9443/services/WorkerNodeAgentService.WorkerNodeAgentServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>