service-stubs/org.wso2.carbon.identity.authenticator.sso.stub/src/main/resources/SSOServiceAdmin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service.sso.carbon.wso2.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.sso.carbon.wso2.org">
    <wsdl:documentation>SSOService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:element name="isAuthenticated">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAuthenticatedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="authenticate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authenticateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="signOut">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="signOutRequest">
        <wsdl:part name="parameters" element="ns1:signOut"/>
    </wsdl:message>
    <wsdl:message name="authenticateRequest">
        <wsdl:part name="parameters" element="ns1:authenticate"/>
    </wsdl:message>
    <wsdl:message name="authenticateResponse">
        <wsdl:part name="parameters" element="ns1:authenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="isAuthenticatedRequest">
        <wsdl:part name="parameters" element="ns1:isAuthenticated"/>
    </wsdl:message>
    <wsdl:message name="isAuthenticatedResponse">
        <wsdl:part name="parameters" element="ns1:isAuthenticatedResponse"/>
    </wsdl:message>
    <wsdl:portType name="SSOServicePortType">
        <wsdl:operation name="signOut">
            <wsdl:input message="axis2:signOutRequest" wsaw:Action="urn:signOut"/>
        </wsdl:operation>
        <wsdl:operation name="authenticate">
            <wsdl:input message="axis2:authenticateRequest" wsaw:Action="urn:authenticate"/>
            <wsdl:output message="axis2:authenticateResponse" wsaw:Action="urn:authenticateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="isAuthenticated">
            <wsdl:input message="axis2:isAuthenticatedRequest" wsaw:Action="urn:isAuthenticated"/>
            <wsdl:output message="axis2:isAuthenticatedResponse" wsaw:Action="urn:isAuthenticatedResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SSOServiceSoap11Binding" type="axis2:SSOServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authenticate">
            <soap:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signOut">
            <soap:operation soapAction="urn:signOut" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isAuthenticated">
            <soap:operation soapAction="urn:isAuthenticated" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SSOServiceSoap12Binding" type="axis2:SSOServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="authenticate">
            <soap12:operation soapAction="urn:authenticate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signOut">
            <soap12:operation soapAction="urn:signOut" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isAuthenticated">
            <soap12:operation soapAction="urn:isAuthenticated" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SSOServiceHttpBinding" type="axis2:SSOServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="authenticate">
            <http:operation location="SSOService/authenticate"/>
            <wsdl:input>
                <mime:content type="text/xml" part="authenticate"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="authenticate"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="signOut">
            <http:operation location="SSOService/signOut"/>
            <wsdl:input>
                <mime:content type="text/xml" part="signOut"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isAuthenticated">
            <http:operation location="SSOService/isAuthenticated"/>
            <wsdl:input>
                <mime:content type="text/xml" part="isAuthenticated"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="isAuthenticated"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SSOService">
        <wsdl:port name="SSOServiceHttpSoap11Endpoint" binding="axis2:SSOServiceSoap11Binding">
            <soap:address location="http://192.168.1.3:8080/axis2/services/SSOService.SSOServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SSOServiceHttpSoap12Endpoint" binding="axis2:SSOServiceSoap12Binding">
            <soap12:address location="http://192.168.1.3:8080/axis2/services/SSOService.SSOServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="SSOServiceHttpEndpoint" binding="axis2:SSOServiceHttpBinding">
            <http:address location="http://192.168.1.3:8080/axis2/services/SSOService.SSOServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
