service-stubs/org.wso2.carbon.bam.data.publisher.activity.service.stub/src/main/resources/ActivityPublisherAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://config.service.activity.publisher.data.bam.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://services.service.activity.publisher.data.bam.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.service.activity.publisher.data.bam.carbon.wso2.org">
    <wsdl:documentation>ActivityPublisherAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax210="http://config.service.activity.publisher.data.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://config.service.activity.publisher.data.bam.carbon.wso2.org/xsd" />
            <xs:element name="ActivityPublisherAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ActivityPublisherAdminException" nillable="true" type="ns1:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getXPathData">

                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getXPathDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:XPathConfigData" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getEventingConfigData">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventingConfigDataResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:EventingConfigData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureXPathData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="xpathConfigData" nillable="true" type="ax29:XPathConfigData" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureEventing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventingConfigData" nillable="true" type="ax29:EventingConfigData" />
                    </xs:sequence>
                </xs:complexType>

            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://config.service.activity.publisher.data.bam.carbon.wso2.org/xsd">
            <xs:complexType name="XPathConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="alias" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="editing" type="xs:boolean" />
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nameSpaces" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="xpath" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventingConfigData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="XPathExpressions" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="enableEventing" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="enableMessageDumping" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="enableMessageLookup" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="messageThreshold" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="configureEventingRequest">
        <wsdl:part name="parameters" element="ns1:configureEventing" />
    </wsdl:message>
    <wsdl:message name="ActivityPublisherAdminException">

        <wsdl:part name="parameters" element="ns1:ActivityPublisherAdminException" />
    </wsdl:message>
    <wsdl:message name="getXPathDataRequest">
        <wsdl:part name="parameters" element="ns1:getXPathData" />
    </wsdl:message>
    <wsdl:message name="getXPathDataResponse">
        <wsdl:part name="parameters" element="ns1:getXPathDataResponse" />
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataRequest">

        <wsdl:part name="parameters" element="ns1:getEventingConfigData" />
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataResponse">
        <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse" />
    </wsdl:message>
    <wsdl:message name="configureXPathDataRequest">
        <wsdl:part name="parameters" element="ns1:configureXPathData" />
    </wsdl:message>
    <wsdl:portType name="ActivityPublisherAdminPortType">

        <wsdl:operation name="configureEventing">
            <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing" />
            <wsdl:fault message="tns:ActivityPublisherAdminException" name="ActivityPublisherAdminException" wsaw:Action="urn:configureEventingActivityPublisherAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getXPathData">
            <wsdl:input message="tns:getXPathDataRequest" wsaw:Action="urn:getXPathData" />
            <wsdl:output message="tns:getXPathDataResponse" wsaw:Action="urn:getXPathDataResponse" />
            <wsdl:fault message="tns:ActivityPublisherAdminException" name="ActivityPublisherAdminException" wsaw:Action="urn:getXPathDataActivityPublisherAdminException" />
        </wsdl:operation>

        <wsdl:operation name="getEventingConfigData">
            <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData" />
            <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse" />
        </wsdl:operation>
        <wsdl:operation name="configureXPathData">
            <wsdl:input message="tns:configureXPathDataRequest" wsaw:Action="urn:configureXPathData" />
            <wsdl:fault message="tns:ActivityPublisherAdminException" name="ActivityPublisherAdminException" wsaw:Action="urn:configureXPathDataActivityPublisherAdminException" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ActivityPublisherAdminSoap11Binding" type="tns:ActivityPublisherAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureEventing">
            <soap:operation soapAction="urn:configureEventing" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap:fault use="literal" name="ActivityPublisherAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXPathData">
            <soap:operation soapAction="urn:getXPathData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />

            </wsdl:output>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap:fault use="literal" name="ActivityPublisherAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="configureXPathData">
            <soap:operation soapAction="urn:configureXPathData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap:fault use="literal" name="ActivityPublisherAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap:operation soapAction="urn:getEventingConfigData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityPublisherAdminSoap12Binding" type="tns:ActivityPublisherAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureEventing">

            <soap12:operation soapAction="urn:configureEventing" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap12:fault use="literal" name="ActivityPublisherAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXPathData">

            <soap12:operation soapAction="urn:getXPathData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap12:fault use="literal" name="ActivityPublisherAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="configureXPathData">
            <soap12:operation soapAction="urn:configureXPathData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap12:fault use="literal" name="ActivityPublisherAdminException" />

            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap12:operation soapAction="urn:getEventingConfigData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityPublisherAdminHttpBinding" type="tns:ActivityPublisherAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="configureEventing">
            <http:operation location="configureEventing" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getXPathData">
            <http:operation location="getXPathData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configureXPathData">
            <http:operation location="configureXPathData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">

            <http:operation location="getEventingConfigData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ActivityPublisherAdmin">
        <wsdl:port name="ActivityPublisherAdminHttpsSoap11Endpoint" binding="tns:ActivityPublisherAdminSoap11Binding">
            <soap:address location="https://10.42.43.1:9447/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivityPublisherAdminHttpsSoap12Endpoint" binding="tns:ActivityPublisherAdminSoap12Binding">
            <soap12:address location="https://10.42.43.1:9447/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivityPublisherAdminHttpsEndpoint" binding="tns:ActivityPublisherAdminHttpBinding">
            <http:address location="https://10.42.43.1:9447/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsEndpoint/" />

        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>