service-stubs/org.wso2.carbon.wsdl2code.stub/src/main/resources/WSDL2CodeService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2384="http://wsdl2code.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://wsdl2code.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://wsdl2code.carbon.wso2.org">
    <wsdl:documentation>WSDL2CodeService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2385="http://wsdl2code.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://wsdl2code.carbon.wso2.org">
            <xs:import namespace="http://wsdl2code.carbon.wso2.org/xsd"/>
            <xs:element name="codegen">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="codegenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2384:CodegenDownloadData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://wsdl2code.carbon.wso2.org/xsd">
            <xs:complexType name="CodegenDownloadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codegenFileData" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="codegenRequest">
        <wsdl:part name="parameters" element="ns:codegen"/>
    </wsdl:message>
    <wsdl:message name="codegenResponse">
        <wsdl:part name="parameters" element="ns:codegenResponse"/>
    </wsdl:message>
    <wsdl:portType name="WSDL2CodeServicePortType">
        <wsdl:operation name="codegen">
            <wsdl:input message="ns:codegenRequest" wsaw:Action="urn:codegen"/>
            <wsdl:output message="ns:codegenResponse" wsaw:Action="urn:codegenResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSDL2CodeServiceSoap11Binding" type="ns:WSDL2CodeServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="codegen">
            <soap:operation soapAction="urn:codegen" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDL2CodeServiceSoap12Binding" type="ns:WSDL2CodeServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="codegen">
            <soap12:operation soapAction="urn:codegen" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDL2CodeServiceHttpBinding" type="ns:WSDL2CodeServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="codegen">
            <http:operation location="codegen"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSDL2CodeService">
        <wsdl:port name="WSDL2CodeServiceHttpSoap11Endpoint" binding="ns:WSDL2CodeServiceSoap11Binding">
            <soap:address
                    location="http://localhost:9763/services/WSDL2CodeService.WSDL2CodeServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSDL2CodeServiceHttpsSoap11Endpoint" binding="ns:WSDL2CodeServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/WSDL2CodeService.WSDL2CodeServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSDL2CodeServiceHttpsSoap12Endpoint" binding="ns:WSDL2CodeServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/WSDL2CodeService.WSDL2CodeServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSDL2CodeServiceHttpSoap12Endpoint" binding="ns:WSDL2CodeServiceSoap12Binding">
            <soap12:address
                    location="http://localhost:9763/services/WSDL2CodeService.WSDL2CodeServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSDL2CodeServiceHttpEndpoint" binding="ns:WSDL2CodeServiceHttpBinding">
            <http:address location="http://localhost:9763/services/WSDL2CodeService.WSDL2CodeServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="WSDL2CodeServiceHttpsEndpoint" binding="ns:WSDL2CodeServiceHttpBinding">
            <http:address location="https://localhost:9443/services/WSDL2CodeService.WSDL2CodeServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
