service-stubs/org.wso2.carbon.bam.activity.mediation.data.publisher.stub/src/main/resources/ActivityPublisherAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://conf.publisher.data.mediation.activity.bam.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.publisher.data.mediation.activity.bam.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.publisher.data.mediation.activity.bam.carbon.wso2.org">
    <wsdl:documentation>ActivityPublisherAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax210="http://conf.publisher.data.mediation.activity.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://conf.publisher.data.mediation.activity.bam.carbon.wso2.org/xsd" />
            <xs:element name="getEventingConfigData">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventingConfigDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:ActivityConfigData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ActivityPublisherAdminException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ActivityPublisherAdminException" nillable="true" type="ns1:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="configureEventing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventingConfigData" nillable="true" type="ax29:ActivityConfigData" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://conf.publisher.data.mediation.activity.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ActivityConfigData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="httpTransportEnable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="messageDumpingEnable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="port" type="xs:int" />
                    <xs:element minOccurs="0" name="socketTransportEnable" type="xs:boolean" />
                    <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="configureEventingRequest">
        <wsdl:part name="parameters" element="ns1:configureEventing" />
    </wsdl:message>
    <wsdl:message name="ActivityPublisherAdminException">
        <wsdl:part name="parameters" element="ns1:ActivityPublisherAdminException" />
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataRequest">
        <wsdl:part name="parameters" element="ns1:getEventingConfigData" />
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataResponse">
        <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse" />
    </wsdl:message>
    <wsdl:portType name="ActivityPublisherAdminPortType">
        <wsdl:operation name="configureEventing">
            <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing" />
            <wsdl:fault message="tns:ActivityPublisherAdminException" name="ActivityPublisherAdminException" wsaw:Action="urn:configureEventingActivityPublisherAdminException" />
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData" />
            <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ActivityPublisherAdminSoap11Binding" type="tns:ActivityPublisherAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureEventing">
            <soap:operation soapAction="urn:configureEventing" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap:fault use="literal" name="ActivityPublisherAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap:operation soapAction="urn:getEventingConfigData" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityPublisherAdminSoap12Binding" type="tns:ActivityPublisherAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="configureEventing">
            <soap12:operation soapAction="urn:configureEventing" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="ActivityPublisherAdminException">
                <soap12:fault use="literal" name="ActivityPublisherAdminException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap12:operation soapAction="urn:getEventingConfigData" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivityPublisherAdminHttpBinding" type="tns:ActivityPublisherAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="configureEventing">
            <http:operation location="configureEventing" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <http:operation location="getEventingConfigData" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ActivityPublisherAdmin">
        <wsdl:port name="ActivityPublisherAdminHttpsSoap11Endpoint" binding="tns:ActivityPublisherAdminSoap11Binding">
            <soap:address location="https://localhost:8243/esb/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="ActivityPublisherAdminHttpsSoap12Endpoint" binding="tns:ActivityPublisherAdminSoap12Binding">
            <soap12:address location="https://localhost:8243/esb/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="ActivityPublisherAdminHttpsEndpoint" binding="tns:ActivityPublisherAdminHttpBinding">
            <http:address location="https://localhost:8243/esb/services/ActivityPublisherAdmin.ActivityPublisherAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>