service-stubs/org.wso2.carbon.xkms.mgt.stub/src/main/resources/XKMSAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ax21="http://types.admin.xkms.carbon.wso2.org/xsd" xmlns:ns="http://admin.xkms.carbon.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://admin.xkms.carbon.wso2.org">
    <wsdl:documentation>XKMSAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://types.admin.xkms.carbon.wso2.org/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://admin.xkms.carbon.wso2.org">
            <xs:import namespace="http://types.admin.xkms.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>

            </xs:complexType>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setXKMSConfig">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configData" nillable="true" type="ax22:XKMSConfigData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setXKMSConfigResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXKMSConfigResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:XKMSConfigData"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://types.admin.xkms.carbon.wso2.org/xsd">
            <xs:complexType name="XKMSConfigData">
                <xs:all>
                    <xs:element minOccurs="0" name="authenCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="defaultExpriyInterval" type="xs:int"/>
                    <xs:element minOccurs="0" name="defaultPrivateKeyPassword" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="issuerCertAlias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="issuerKeyPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keystoreLocation" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="keystorePassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="persistenceEnabled" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="serverCertAlias" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverKeyPassword" nillable="true" type="xs:string"/>
                </xs:all>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setXKMSConfigRequest">
        <wsdl:part name="parameters" element="ns:setXKMSConfig"/>
    </wsdl:message>
    <wsdl:message name="setXKMSConfigResponse">
        <wsdl:part name="parameters" element="ns:setXKMSConfigResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">

        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:message name="getXKMSConfigRequest"/>
    <wsdl:message name="getXKMSConfigResponse">
        <wsdl:part name="parameters" element="ns:getXKMSConfigResponse"/>
    </wsdl:message>
    <wsdl:portType name="XKMSAdminServicePortType">
        <wsdl:operation name="setXKMSConfig">
            <wsdl:input message="ns:setXKMSConfigRequest" wsaw:Action="urn:setXKMSConfig"/>

            <wsdl:output message="ns:setXKMSConfigResponse" wsaw:Action="urn:setXKMSConfigResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:setXKMSConfigException"/>
        </wsdl:operation>
        <wsdl:operation name="getXKMSConfig">
            <wsdl:input message="ns:getXKMSConfigRequest" wsaw:Action="urn:getXKMSConfig"/>
            <wsdl:output message="ns:getXKMSConfigResponse" wsaw:Action="urn:getXKMSConfigResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:getXKMSConfigException"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="XKMSAdminServiceSoap11Binding" type="ns:XKMSAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setXKMSConfig">
            <soap:operation soapAction="urn:setXKMSConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXKMSConfig">
            <soap:operation soapAction="urn:getXKMSConfig" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="XKMSAdminServiceSoap12Binding" type="ns:XKMSAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setXKMSConfig">
            <soap12:operation soapAction="urn:setXKMSConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>

            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getXKMSConfig">
            <soap12:operation soapAction="urn:getXKMSConfig" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>

            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:binding name="XKMSAdminServiceHttpBinding" type="ns:XKMSAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="setXKMSConfig">
            <http:operation location="setXKMSConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setXKMSConfig"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="setXKMSConfig"/>

            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXKMSConfig">
            <http:operation location="getXKMSConfig"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getXKMSConfig"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getXKMSConfig"/>

            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XKMSAdminService">
        <wsdl:port name="XKMSAdminServiceHttpsSoap11Endpoint" binding="ns:XKMSAdminServiceSoap11Binding">
            <soap:address
                    location="https://localhost:9443/services/XKMSAdminService.XKMSAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="XKMSAdminServiceHttpsSoap12Endpoint" binding="ns:XKMSAdminServiceSoap12Binding">
            <soap12:address
                    location="https://localhost:9443/services/XKMSAdminService.XKMSAdminServiceHttpsSoap12Endpoint/"/>

        </wsdl:port>
        <wsdl:port name="XKMSAdminServiceHttpsEndpoint" binding="ns:XKMSAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/XKMSAdminService.XKMSAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>