components/bam/org.wso2.carbon.bam.ui/src/main/resources/BAMListAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://common.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:ax27="http://service.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:ax25="http://util.bam.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://activity.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.core.bam.carbon.wso2.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.bam.carbon.wso2.org">
    <wsdl:documentation>BAMListAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax212="http://activity.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax28="http://service.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:ax210="http://common.dataobjects.core.bam.carbon.wso2.org/xsd" xmlns:ax26="http://util.bam.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://util.bam.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://service.dataobjects.core.bam.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://common.dataobjects.core.bam.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://activity.dataobjects.core.bam.carbon.wso2.org/xsd"/>
            <xs:element name="BAMException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BAMException" nillable="true" type="ax25:BAMException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:ServiceDO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServerListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:MonitoredServerDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax27:OperationDO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMessageListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:MessageDO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serverID" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getClientListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax29:ClientDO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActivityListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax212:ActivityDO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://activity.dataobjects.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="MessageDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activityKeyId" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="ax211:MessageDO"/>
                    <xs:element minOccurs="0" name="messageId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageKeyId" type="xs:int"/>
                    <xs:element minOccurs="0" name="operationId" type="xs:int"/>
                    <xs:element minOccurs="0" name="serverId" type="xs:int"/>
                    <xs:element minOccurs="0" name="serviceId" type="xs:int"/>
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAgent" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ActivityDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activityId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="activityKeyId" type="xs:int"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.bam.carbon.wso2.org/xsd">
            <xs:complexType name="BAMException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.dataobjects.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="MonitoredServerDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="category" type="xs:int"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pollingInterval" type="xs:long"/>
                    <xs:element minOccurs="0" name="serverId" type="xs:int"/>
                    <xs:element minOccurs="0" name="serverType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subscriptionID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ClientDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverID" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.dataobjects.core.bam.carbon.wso2.org/xsd">
            <xs:complexType name="ServiceDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OperationDO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="operationID" type="xs:int"/>
                    <xs:element minOccurs="0" name="serviceID" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getActivityListRequest"/>
    <wsdl:message name="getActivityListResponse">
        <wsdl:part name="parameters" element="ns1:getActivityListResponse"/>
    </wsdl:message>
    <wsdl:message name="BAMException">
        <wsdl:part name="parameters" element="ns1:BAMException"/>
    </wsdl:message>
    <wsdl:message name="getMessageListRequest"/>
    <wsdl:message name="getMessageListResponse">
        <wsdl:part name="parameters" element="ns1:getMessageListResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperationListRequest">
        <wsdl:part name="parameters" element="ns1:getOperationList"/>
    </wsdl:message>
    <wsdl:message name="getOperationListResponse">
        <wsdl:part name="parameters" element="ns1:getOperationListResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceListRequest">
        <wsdl:part name="parameters" element="ns1:getServiceList"/>
    </wsdl:message>
    <wsdl:message name="getServiceListResponse">
        <wsdl:part name="parameters" element="ns1:getServiceListResponse"/>
    </wsdl:message>
    <wsdl:message name="getClientListRequest">
        <wsdl:part name="parameters" element="ns1:getClientList"/>
    </wsdl:message>
    <wsdl:message name="getClientListResponse">
        <wsdl:part name="parameters" element="ns1:getClientListResponse"/>
    </wsdl:message>
    <wsdl:message name="getServerListRequest"/>
    <wsdl:message name="getServerListResponse">
        <wsdl:part name="parameters" element="ns1:getServerListResponse"/>
    </wsdl:message>
    <wsdl:portType name="BAMListAdminService1PortType">
        <wsdl:operation name="getActivityList">
            <wsdl:input message="tns:getActivityListRequest" wsaw:Action="urn:getActivityList"/>
            <wsdl:output message="tns:getActivityListResponse" wsaw:Action="urn:getActivityListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getActivityListBAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <wsdl:input message="tns:getMessageListRequest" wsaw:Action="urn:getMessageList"/>
            <wsdl:output message="tns:getMessageListResponse" wsaw:Action="urn:getMessageListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getMessageListBAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <wsdl:input message="tns:getOperationListRequest" wsaw:Action="urn:getOperationList"/>
            <wsdl:output message="tns:getOperationListResponse" wsaw:Action="urn:getOperationListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getOperationListBAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <wsdl:input message="tns:getServiceListRequest" wsaw:Action="urn:getServiceList"/>
            <wsdl:output message="tns:getServiceListResponse" wsaw:Action="urn:getServiceListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getServiceListBAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <wsdl:input message="tns:getClientListRequest" wsaw:Action="urn:getClientList"/>
            <wsdl:output message="tns:getClientListResponse" wsaw:Action="urn:getClientListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getClientListBAMException"/>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <wsdl:input message="tns:getServerListRequest" wsaw:Action="urn:getServerList"/>
            <wsdl:output message="tns:getServerListResponse" wsaw:Action="urn:getServerListResponse"/>
            <wsdl:fault message="tns:BAMException" name="BAMException" wsaw:Action="urn:getServerListBAMException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BAMListAdminService1Soap11Binding" type="tns:BAMListAdminService1PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getActivityList">
            <soap:operation soapAction="urn:getActivityList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <soap:operation soapAction="urn:getMessageList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <soap:operation soapAction="urn:getOperationList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <soap:operation soapAction="urn:getServiceList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <soap:operation soapAction="urn:getClientList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap:operation soapAction="urn:getServerList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMListAdminService1Soap12Binding" type="tns:BAMListAdminService1PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getActivityList">
            <soap12:operation soapAction="urn:getActivityList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <soap12:operation soapAction="urn:getMessageList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <soap12:operation soapAction="urn:getOperationList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <soap12:operation soapAction="urn:getServiceList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <soap12:operation soapAction="urn:getClientList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <soap12:operation soapAction="urn:getServerList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BAMException">
                <soap12:fault use="literal" name="BAMException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMListAdminService1HttpBinding" type="tns:BAMListAdminService1PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getActivityList">
            <http:operation location="getActivityList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMessageList">
            <http:operation location="getMessageList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationList">
            <http:operation location="getOperationList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceList">
            <http:operation location="getServiceList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getClientList">
            <http:operation location="getClientList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServerList">
            <http:operation location="getServerList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BAMListAdminService1">
        <wsdl:port name="BAMListAdminService1HttpsSoap11Endpoint" binding="tns:BAMListAdminService1Soap11Binding">
            <soap:address location="https://123.231.42.242:9443/services/BAMListAdminService1.BAMListAdminService1HttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BAMListAdminService1HttpsSoap12Endpoint" binding="tns:BAMListAdminService1Soap12Binding">
            <soap12:address location="https://123.231.42.242:9443/services/BAMListAdminService1.BAMListAdminService1HttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="BAMListAdminService1HttpsEndpoint" binding="tns:BAMListAdminService1HttpBinding">
            <http:address location="https://123.231.42.242:9443/services/BAMListAdminService1.BAMListAdminService1HttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>