products/appfactory/modules/bpels/ApplicationCreation/ProjectManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.mgt.project.appfactory.carbon.wso2.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax25="http://service.mgt.project.appfactory.carbon.wso2.org/xsd"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.mgt.project.appfactory.carbon.wso2.org">
	<wsdl:documentation>ProjectManagementService</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified"
			targetNamespace="http://service.mgt.project.appfactory.carbon.wso2.org/xsd">
			<xs:complexType name="ProjectManagementException">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="UserInfoBean">
				<xs:sequence>
					<xs:element minOccurs="0" name="email" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="firstName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="lastName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="userName" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ProjectInfoBean">
				<xs:sequence>
					<xs:element minOccurs="0" name="description" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="name" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="ownerUserName" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="projectKey" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax26="http://service.mgt.project.appfactory.carbon.wso2.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.mgt.project.appfactory.carbon.wso2.org">
			<xs:import
				namespace="http://service.mgt.project.appfactory.carbon.wso2.org/xsd" />
			<xs:element name="ProjectManagementServiceProjectManagementException">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="ProjectManagementException"
							nillable="true" type="ax25:ProjectManagementException" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="revokeProject">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="revokeProjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="removeUserFromProject">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="userName" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="removeUserFromProjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="isProjectKeyAvailable">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="isProjectKeyAvailableResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserInfoBean">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="userName" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getUserInfoBeanResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax25:UserInfoBean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createProject">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="project" nillable="true"
							type="ax25:ProjectInfoBean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createProjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addUserToProject">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
						<xs:element minOccurs="0" name="userName" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addUserToProjectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="removeUserFromProjectRequest">
		<wsdl:part name="parameters" element="ns:removeUserFromProject" />
	</wsdl:message>
	<wsdl:message name="removeUserFromProjectResponse">
		<wsdl:part name="parameters" element="ns:removeUserFromProjectResponse" />
	</wsdl:message>
	<wsdl:message name="ProjectManagementServiceProjectManagementException">
		<wsdl:part name="parameters"
			element="ns:ProjectManagementServiceProjectManagementException" />
	</wsdl:message>
	<wsdl:message name="getUserInfoBeanRequest">
		<wsdl:part name="parameters" element="ns:getUserInfoBean" />
	</wsdl:message>
	<wsdl:message name="getUserInfoBeanResponse">
		<wsdl:part name="parameters" element="ns:getUserInfoBeanResponse" />
	</wsdl:message>
	<wsdl:message name="isProjectKeyAvailableRequest">
		<wsdl:part name="parameters" element="ns:isProjectKeyAvailable" />
	</wsdl:message>
	<wsdl:message name="isProjectKeyAvailableResponse">
		<wsdl:part name="parameters" element="ns:isProjectKeyAvailableResponse" />
	</wsdl:message>
	<wsdl:message name="createProjectRequest">
		<wsdl:part name="parameters" element="ns:createProject" />
	</wsdl:message>
	<wsdl:message name="createProjectResponse">
		<wsdl:part name="parameters" element="ns:createProjectResponse" />
	</wsdl:message>
	<wsdl:message name="revokeProjectRequest">
		<wsdl:part name="parameters" element="ns:revokeProject" />
	</wsdl:message>
	<wsdl:message name="revokeProjectResponse">
		<wsdl:part name="parameters" element="ns:revokeProjectResponse" />
	</wsdl:message>
	<wsdl:message name="addUserToProjectRequest">
		<wsdl:part name="parameters" element="ns:addUserToProject" />
	</wsdl:message>
	<wsdl:message name="addUserToProjectResponse">
		<wsdl:part name="parameters" element="ns:addUserToProjectResponse" />
	</wsdl:message>
	<wsdl:portType name="ProjectManagementServicePortType">
		<wsdl:operation name="removeUserFromProject">
			<wsdl:input message="ns:removeUserFromProjectRequest"
				wsaw:Action="urn:removeUserFromProject" />
			<wsdl:output message="ns:removeUserFromProjectResponse"
				wsaw:Action="urn:removeUserFromProjectResponse" />
			<wsdl:fault message="ns:ProjectManagementServiceProjectManagementException"
				name="ProjectManagementServiceProjectManagementException"
				wsaw:Action="urn:removeUserFromProjectProjectManagementServiceProjectManagementException" />
		</wsdl:operation>
		<wsdl:operation name="getUserInfoBean">
			<wsdl:input message="ns:getUserInfoBeanRequest"
				wsaw:Action="urn:getUserInfoBean" />
			<wsdl:output message="ns:getUserInfoBeanResponse"
				wsaw:Action="urn:getUserInfoBeanResponse" />
			<wsdl:fault message="ns:ProjectManagementServiceProjectManagementException"
				name="ProjectManagementServiceProjectManagementException"
				wsaw:Action="urn:getUserInfoBeanProjectManagementServiceProjectManagementException" />
		</wsdl:operation>
		<wsdl:operation name="isProjectKeyAvailable">
			<wsdl:input message="ns:isProjectKeyAvailableRequest"
				wsaw:Action="urn:isProjectKeyAvailable" />
			<wsdl:output message="ns:isProjectKeyAvailableResponse"
				wsaw:Action="urn:isProjectKeyAvailableResponse" />
			<wsdl:fault message="ns:ProjectManagementServiceProjectManagementException"
				name="ProjectManagementServiceProjectManagementException"
				wsaw:Action="urn:isProjectKeyAvailableProjectManagementServiceProjectManagementException" />
		</wsdl:operation>
		<wsdl:operation name="createProject">
			<wsdl:input message="ns:createProjectRequest" wsaw:Action="urn:createProject" />
			<wsdl:output message="ns:createProjectResponse"
				wsaw:Action="urn:createProjectResponse" />
		</wsdl:operation>
		<wsdl:operation name="revokeProject">
			<wsdl:input message="ns:revokeProjectRequest" wsaw:Action="urn:revokeProject" />
			<wsdl:output message="ns:revokeProjectResponse"
				wsaw:Action="urn:revokeProjectResponse" />
			<wsdl:fault message="ns:ProjectManagementServiceProjectManagementException"
				name="ProjectManagementServiceProjectManagementException"
				wsaw:Action="urn:revokeProjectProjectManagementServiceProjectManagementException" />
		</wsdl:operation>
		<wsdl:operation name="addUserToProject">
			<wsdl:input message="ns:addUserToProjectRequest"
				wsaw:Action="urn:addUserToProject" />
			<wsdl:output message="ns:addUserToProjectResponse"
				wsaw:Action="urn:addUserToProjectResponse" />
			<wsdl:fault message="ns:ProjectManagementServiceProjectManagementException"
				name="ProjectManagementServiceProjectManagementException"
				wsaw:Action="urn:addUserToProjectProjectManagementServiceProjectManagementException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProjectManagementServiceSoap11Binding"
		type="ns:ProjectManagementServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="removeUserFromProject">
			<soap:operation soapAction="urn:removeUserFromProject"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserInfoBean">
			<soap:operation soapAction="urn:getUserInfoBean"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createProject">
			<soap:operation soapAction="urn:createProject" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isProjectKeyAvailable">
			<soap:operation soapAction="urn:isProjectKeyAvailable"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="revokeProject">
			<soap:operation soapAction="urn:revokeProject" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addUserToProject">
			<soap:operation soapAction="urn:addUserToProject"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectManagementServiceSoap12Binding"
		type="ns:ProjectManagementServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="removeUserFromProject">
			<soap12:operation soapAction="urn:removeUserFromProject"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap12:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserInfoBean">
			<soap12:operation soapAction="urn:getUserInfoBean"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap12:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createProject">
			<soap12:operation soapAction="urn:createProject"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isProjectKeyAvailable">
			<soap12:operation soapAction="urn:isProjectKeyAvailable"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap12:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="revokeProject">
			<soap12:operation soapAction="urn:revokeProject"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap12:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="addUserToProject">
			<soap12:operation soapAction="urn:addUserToProject"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ProjectManagementServiceProjectManagementException">
				<soap12:fault use="literal"
					name="ProjectManagementServiceProjectManagementException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ProjectManagementServiceHttpBinding"
		type="ns:ProjectManagementServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="removeUserFromProject">
			<http:operation location="removeUserFromProject" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUserInfoBean">
			<http:operation location="getUserInfoBean" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="createProject">
			<http:operation location="createProject" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="isProjectKeyAvailable">
			<http:operation location="isProjectKeyAvailable" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="revokeProject">
			<http:operation location="revokeProject" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addUserToProject">
			<http:operation location="addUserToProject" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProjectManagementService">
		<wsdl:port name="ProjectManagementServiceHttpsSoap11Endpoint"
			binding="ns:ProjectManagementServiceSoap11Binding">
			<soap:address
				location="https://localhost:9443/services/ProjectManagementService.ProjectManagementServiceHttpsSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ProjectManagementServiceHttpsSoap12Endpoint"
			binding="ns:ProjectManagementServiceSoap12Binding">
			<soap12:address
				location="https://localhost:9443/services/ProjectManagementService.ProjectManagementServiceHttpsSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="ProjectManagementServiceHttpsEndpoint"
			binding="ns:ProjectManagementServiceHttpBinding">
			<http:address
				location="https://localhost:9443/services/ProjectManagementService.ProjectManagementServiceHttpsEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
