products/appfactory/modules/bpels/ApplicationCreation/RepositoryManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:ns="http://service.mgt.repository.svn.appfactory.carbon.wso2.org"
	xmlns:ax27="http://mgt.repository.svn.appfactory.carbon.wso2.org/xsd"
	xmlns:ax28="http://common.appfactory.carbon.wso2.org/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	targetNamespace="http://service.mgt.repository.svn.appfactory.carbon.wso2.org">
	<wsdl:documentation>RepositoryManagementService</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://common.appfactory.carbon.wso2.org/xsd">
			<xs:complexType name="AppFactoryConfiguration">
				<xs:sequence>
					<xs:element minOccurs="0" name="adminPassword" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="adminUserName" nillable="true"
						type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="defaultProjectUserRoles" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="scmReadWritePermissionName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="scmServerAdminPassword"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="scmServerAdminUserName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="scmServerIp" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="scmServerPort" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="scmServerRealmName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="ssoIdentityAlias"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="ssoIdentityProviderEpr"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="ssoKeyStoreName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="ssoKeyStorePassword"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="ssoRelyingPartyName"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRActivateUser"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRAddUserToProject"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRCreateProject"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRCreateRepo"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRCreateUser"
						nillable="true" type="xs:string" />
					<xs:element minOccurs="0"
						name="webServiceEPREmailVerificationService" nillable="true" type="xs:string" />
					<xs:element minOccurs="0"
						name="webServiceEPRGetRolesOfUserForProject" nillable="true" type="xs:string" />
					<xs:element minOccurs="0" name="webServiceEPRGetUsersOfProject"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax29="http://common.appfactory.carbon.wso2.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://mgt.repository.svn.appfactory.carbon.wso2.org/xsd">
			<xs:import namespace="http://common.appfactory.carbon.wso2.org/xsd" />
			<xs:complexType abstract="true" name="RepositoryManager">
				<xs:sequence>
					<xs:element minOccurs="0" name="config" nillable="true"
						type="ax29:AppFactoryConfiguration" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RepositoryMgtException">
				<xs:sequence />
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax210="http://mgt.repository.svn.appfactory.carbon.wso2.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.mgt.repository.svn.appfactory.carbon.wso2.org">
			<xs:import namespace="http://mgt.repository.svn.appfactory.carbon.wso2.org/xsd" />
			<xs:element name="setRepositoryManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="repositoryManager"
							nillable="true" type="ax27:RepositoryManager" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RepositoryManagementServiceRepositoryMgtException">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="RepositoryMgtException"
							nillable="true" type="ax27:RepositoryMgtException" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getURL">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getURLResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getRepositoryManager">
				<xs:complexType>
					<xs:sequence />
				</xs:complexType>
			</xs:element>
			<xs:element name="getRepositoryManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="ax27:RepositoryManager" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createRepository">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="projectKey" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="createRepositoryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="setRepositoryManagerRequest">
		<wsdl:part name="parameters" element="ns:setRepositoryManager" />
	</wsdl:message>
	<wsdl:message name="createRepositoryRequest">
		<wsdl:part name="parameters" element="ns:createRepository" />
	</wsdl:message>
	<wsdl:message name="createRepositoryResponse">
		<wsdl:part name="parameters" element="ns:createRepositoryResponse" />
	</wsdl:message>
	<wsdl:message name="RepositoryManagementServiceRepositoryMgtException">
		<wsdl:part name="parameters"
			element="ns:RepositoryManagementServiceRepositoryMgtException" />
	</wsdl:message>
	<wsdl:message name="getURLRequest">
		<wsdl:part name="parameters" element="ns:getURL" />
	</wsdl:message>
	<wsdl:message name="getURLResponse">
		<wsdl:part name="parameters" element="ns:getURLResponse" />
	</wsdl:message>
	<wsdl:message name="getRepositoryManagerRequest">
		<wsdl:part name="parameters" element="ns:getRepositoryManager" />
	</wsdl:message>
	<wsdl:message name="getRepositoryManagerResponse">
		<wsdl:part name="parameters" element="ns:getRepositoryManagerResponse" />
	</wsdl:message>
	<wsdl:portType name="RepositoryManagementServicePortType">
		<wsdl:operation name="setRepositoryManager">
			<wsdl:input message="ns:setRepositoryManagerRequest"
				wsaw:Action="urn:setRepositoryManager" />
		</wsdl:operation>
		<wsdl:operation name="createRepository">
			<wsdl:input message="ns:createRepositoryRequest"
				wsaw:Action="urn:createRepository" />
			<wsdl:output message="ns:createRepositoryResponse"
				wsaw:Action="urn:createRepositoryResponse" />
			<wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException"
				name="RepositoryManagementServiceRepositoryMgtException"
				wsaw:Action="urn:createRepositoryRepositoryManagementServiceRepositoryMgtException" />
		</wsdl:operation>
		<wsdl:operation name="getURL">
			<wsdl:input message="ns:getURLRequest" wsaw:Action="urn:getURL" />
			<wsdl:output message="ns:getURLResponse" wsaw:Action="urn:getURLResponse" />
			<wsdl:fault message="ns:RepositoryManagementServiceRepositoryMgtException"
				name="RepositoryManagementServiceRepositoryMgtException"
				wsaw:Action="urn:getURLRepositoryManagementServiceRepositoryMgtException" />
		</wsdl:operation>
		<wsdl:operation name="getRepositoryManager">
			<wsdl:input message="ns:getRepositoryManagerRequest"
				wsaw:Action="urn:getRepositoryManager" />
			<wsdl:output message="ns:getRepositoryManagerResponse"
				wsaw:Action="urn:getRepositoryManagerResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RepositoryManagementServiceSoap11Binding"
		type="ns:RepositoryManagementServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="createRepository">
			<soap:operation soapAction="urn:createRepository"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
				<soap:fault use="literal"
					name="RepositoryManagementServiceRepositoryMgtException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setRepositoryManager">
			<soap:operation soapAction="urn:setRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getURL">
			<soap:operation soapAction="urn:getURL" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
				<soap:fault use="literal"
					name="RepositoryManagementServiceRepositoryMgtException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRepositoryManager">
			<soap:operation soapAction="urn:getRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RepositoryManagementServiceSoap12Binding"
		type="ns:RepositoryManagementServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="createRepository">
			<soap12:operation soapAction="urn:createRepository"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
				<soap12:fault use="literal"
					name="RepositoryManagementServiceRepositoryMgtException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setRepositoryManager">
			<soap12:operation soapAction="urn:setRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getURL">
			<soap12:operation soapAction="urn:getURL" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="RepositoryManagementServiceRepositoryMgtException">
				<soap12:fault use="literal"
					name="RepositoryManagementServiceRepositoryMgtException" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getRepositoryManager">
			<soap12:operation soapAction="urn:getRepositoryManager"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="RepositoryManagementServiceHttpBinding"
		type="ns:RepositoryManagementServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="createRepository">
			<http:operation location="createRepository" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setRepositoryManager">
			<http:operation location="setRepositoryManager" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="getURL">
			<http:operation location="getURL" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRepositoryManager">
			<http:operation location="getRepositoryManager" />
			<wsdl:input>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="parameters" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RepositoryManagementService">
		<wsdl:port name="RepositoryManagementServiceHttpsSoap11Endpoint"
			binding="ns:RepositoryManagementServiceSoap11Binding">
			<soap:address
				location="https://175.157.114.103:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsSoap11Endpoint/" />
		</wsdl:port>
		<wsdl:port name="RepositoryManagementServiceHttpsSoap12Endpoint"
			binding="ns:RepositoryManagementServiceSoap12Binding">
			<soap12:address
				location="https://175.157.114.103:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsSoap12Endpoint/" />
		</wsdl:port>
		<wsdl:port name="RepositoryManagementServiceHttpsEndpoint"
			binding="ns:RepositoryManagementServiceHttpBinding">
			<http:address
				location="https://175.157.114.103:9443/services/RepositoryManagementService.RepositoryManagementServiceHttpsEndpoint/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
