components/stratos/tenant-mgt/org.wso2.carbon.tenant.reg.agent.client/src/main/resources/ActivationService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns="http://service.activation.stratos.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.activation.stratos.wso2.org">
    <wsdl:documentation>ActivationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.activation.stratos.wso2.org">
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateActivation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isActive">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isActiveResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateActivationRequest">
        <wsdl:part name="parameters" element="ns:updateActivation" />
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception" />
    </wsdl:message>
    <wsdl:message name="isActiveRequest">
        <wsdl:part name="parameters" element="ns:isActive" />
    </wsdl:message>
    <wsdl:message name="isActiveResponse">
        <wsdl:part name="parameters" element="ns:isActiveResponse" />
    </wsdl:message>
    <wsdl:portType name="ActivationServicePortType">
        <wsdl:operation name="updateActivation">
            <wsdl:input message="ns:updateActivationRequest" wsaw:Action="urn:updateActivation" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:updateActivationException" />
        </wsdl:operation>
        <wsdl:operation name="isActive">
            <wsdl:input message="ns:isActiveRequest" wsaw:Action="urn:isActive" />
            <wsdl:output message="ns:isActiveResponse" wsaw:Action="urn:isActiveResponse" />
            <wsdl:fault message="ns:Exception" name="Exception" wsaw:Action="urn:isActiveException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ActivationServiceSoap11Binding" type="ns:ActivationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="updateActivation">
            <soap:operation soapAction="urn:updateActivation" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isActive">
            <soap:operation soapAction="urn:isActive" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivationServiceSoap12Binding" type="ns:ActivationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="updateActivation">
            <soap12:operation soapAction="urn:updateActivation" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isActive">
            <soap12:operation soapAction="urn:isActive" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ActivationServiceHttpBinding" type="ns:ActivationServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="updateActivation">
            <http:operation location="updateActivation" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isActive">
            <http:operation location="isActive" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ActivationService">
        <wsdl:port name="ActivationServiceHttpsSoap11Endpoint" binding="ns:ActivationServiceSoap11Binding">
            <soap:address location="https://10.100.1.151:9443/services/ActivationService.ActivationServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivationServiceHttpsSoap12Endpoint" binding="ns:ActivationServiceSoap12Binding">
            <soap12:address location="https://10.100.1.151:9443/services/ActivationService.ActivationServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="ActivationServiceHttpsEndpoint" binding="ns:ActivationServiceHttpBinding">
            <http:address location="https://10.100.1.151:9443/services/ActivationService.ActivationServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>