components/event-bridge/org.wso2.carbon.eventbridge.core/src/main/resources/event-bridge-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/carbon/eventbridge" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eventBridgeConfiguration" type="even:eventBridgeConfigurationType" xmlns:even="http://wso2.org/carbon/eventbridge"/>
  <xs:complexType name="eventBridgeConfigurationType">
    <xs:all>
      <xs:element type="xs:string" name="StreamDefinitionStore"/>
      <xs:element type="xs:int" name="workerThreads"/>
      <xs:element type="xs:int" name="eventBufferCapacity"/>
      <xs:element type="xs:int" name="clientTimeoutMS"/>
      <xs:element type="even:thriftEventReceiverType" name="thriftEventReceiver" xmlns:even="http://wso2.org/carbon/eventbridge"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="thriftEventReceiverType">
    <xs:all>
      <xs:element type="xs:int" name="securePort"/>
      <xs:element type="xs:int" name="port"/>
    </xs:all>
  </xs:complexType>
</xs:schema>