products/appfactory/modules/bpels/DeployApplicationToDev/DeployApplicationToDevProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://wso2.org/carbon/appfactory/applicaiton/deployment"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:wsdl="http://service.deployment.application.appfactory.carbon.wso2.org"
             name="DeployApplicationToDev"
             targetNamespace="http://wso2.org/carbon/appfactory/applicaiton/deployment"
             xmlns:p="http://www.w3.org/2001/XMLSchema">

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   TYPE DEFINITION - List of types participating in this BPEL process
   The BPEL Designer will generate default request and response types
   but you can define or import any XML Schema type and use them as part
   of the message types.
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="ApplicationDeploymentServicePLT">
        <plnk:role name="ApplicationDeploymentServiceRole"
                   portType="wsdl:ApplicationDeploymentServicePortType"/>
    </plnk:partnerLinkType>
    <import location="ApplicationDeploymentService.wsdl"
            namespace="http://service.deployment.application.appfactory.carbon.wso2.org"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
                elementFormDefault="qualified"
                targetNamespace="http://wso2.org/carbon/appfactory/applicaiton/deployment">

            <element name="DeployApplicationToDevRequest">
                <complexType>
                    <sequence>
                        <element name="applicationSvnLocation" type="string"/>
                        <element name="applicationName" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="DeployApplicationToDevResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   MESSAGE TYPE DEFINITION - Definition of the message types used as
   part of the port type defintions
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <message name="DeployApplicationToDevRequestMessage">
        <part element="tns:DeployApplicationToDevRequest" name="payload"/>
    </message>
    <message name="DeployApplicationToDevResponseMessage">
        <part element="tns:DeployApplicationToDevResponse" name="payload"/>
    </message>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   PORT TYPE DEFINITION - A port type groups a set of operations into
   a logical service unit.
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <!-- portType implemented by the DeployApplicationToDev BPEL process -->

    <portType name="DeployApplicationToDev">
        <operation name="process">
            <input message="tns:DeployApplicationToDevRequestMessage"/>
            <output message="tns:DeployApplicationToDevResponseMessage"/>
        </operation>
    </portType>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   PARTNER LINK TYPE DEFINITION
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <plnk:partnerLinkType name="DeployApplicationToDev">
        <plnk:role name="DeployApplicationToDevProvider" portType="tns:DeployApplicationToDev"/>
    </plnk:partnerLinkType>


    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   BINDING DEFINITION - Defines the message format and protocol details
   for a web service.
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <binding name="DeployApplicationToDevBinding" type="tns:DeployApplicationToDev">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="process">
            <soap:operation
                    soapAction="http://wso2.org/carbon/appfactory/applicaiton/deployment/process"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   SERVICE DEFINITION - A service groups a set of ports into
   a service unit.
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <service name="DeployApplicationToDev">
        <port binding="tns:DeployApplicationToDevBinding" name="DeployApplicationToDevPort">
            <soap:address location="http://localhost:8080/DeployApplicationToDev"/>
        </port>
    </service>
</definitions>
