service-stubs/org.wso2.carbon.load.balance.autoscaler.service.stub/src/main/resources/AutoscalerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.service.autoscaler.carbon.wso2.org" xmlns:ax213="http://io.java/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax211="http://lang.java/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impl.service.autoscaler.carbon.wso2.org">
    <wsdl:documentation>AutoscalerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="File">
                <xs:sequence>
                    <xs:element minOccurs="0" name="absolute" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="absoluteFile" nillable="true" type="ax213:File"/>
                    <xs:element minOccurs="0" name="absolutePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="canonicalFile" nillable="true" type="ax213:File"/>
                    <xs:element minOccurs="0" name="canonicalPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="directory" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="file" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="freeSpace" type="xs:long"/>
                    <xs:element minOccurs="0" name="hidden" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parent" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="parentFile" nillable="true" type="ax213:File"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalSpace" type="xs:long"/>
                    <xs:element minOccurs="0" name="usableSpace" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://lang.java/xsd">
            <xs:complexType name="Exception">
                <xs:complexContent>
                    <xs:extension base="xs:Throwable">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax214="http://io.java/xsd" xmlns:ax212="http://lang.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.autoscaler.carbon.wso2.org">
            <xs:import namespace="http://lang.java/xsd"/>
            <xs:import namespace="http://io.java/xsd"/>
            <xs:element name="terminateSpiInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="publicIp" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateSpiInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateLastlySpawnedInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateLastlySpawnedInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startSpiInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="imageId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startSpiInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initAutoscaler">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="isSpi" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initAutoscalerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="handleException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="e" nillable="true" type="ax212:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="payloadFileName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUserDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPendingInstanceCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPendingInstanceCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoscalerServiceIOException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IOException" nillable="true" type="ax214:IOException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesFromFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="file" nillable="true" type="ax214:File"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBytesFromFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="initAutoscalerRequest">
        <wsdl:part name="parameters" element="ns:initAutoscaler"/>
    </wsdl:message>
    <wsdl:message name="initAutoscalerResponse">
        <wsdl:part name="parameters" element="ns:initAutoscalerResponse"/>
    </wsdl:message>
    <wsdl:message name="handleExceptionRequest">
        <wsdl:part name="parameters" element="ns:handleException"/>
    </wsdl:message>
    <wsdl:message name="getPendingInstanceCountRequest">
        <wsdl:part name="parameters" element="ns:getPendingInstanceCount"/>
    </wsdl:message>
    <wsdl:message name="getPendingInstanceCountResponse">
        <wsdl:part name="parameters" element="ns:getPendingInstanceCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getBytesFromFileRequest">
        <wsdl:part name="parameters" element="ns:getBytesFromFile"/>
    </wsdl:message>
    <wsdl:message name="getBytesFromFileResponse">
        <wsdl:part name="parameters" element="ns:getBytesFromFileResponse"/>
    </wsdl:message>
    <wsdl:message name="AutoscalerServiceIOException">
        <wsdl:part name="parameters" element="ns:AutoscalerServiceIOException"/>
    </wsdl:message>
    <wsdl:message name="startSpiInstanceRequest">
        <wsdl:part name="parameters" element="ns:startSpiInstance"/>
    </wsdl:message>
    <wsdl:message name="startSpiInstanceResponse">
        <wsdl:part name="parameters" element="ns:startSpiInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="startInstanceRequest">
        <wsdl:part name="parameters" element="ns:startInstance"/>
    </wsdl:message>
    <wsdl:message name="startInstanceResponse">
        <wsdl:part name="parameters" element="ns:startInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="getUserDataRequest">
        <wsdl:part name="parameters" element="ns:getUserData"/>
    </wsdl:message>
    <wsdl:message name="getUserDataResponse">
        <wsdl:part name="parameters" element="ns:getUserDataResponse"/>
    </wsdl:message>
    <wsdl:message name="terminateInstanceRequest">
        <wsdl:part name="parameters" element="ns:terminateInstance"/>
    </wsdl:message>
    <wsdl:message name="terminateInstanceResponse">
        <wsdl:part name="parameters" element="ns:terminateInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="terminateSpiInstanceRequest">
        <wsdl:part name="parameters" element="ns:terminateSpiInstance"/>
    </wsdl:message>
    <wsdl:message name="terminateSpiInstanceResponse">
        <wsdl:part name="parameters" element="ns:terminateSpiInstanceResponse"/>
    </wsdl:message>
    <wsdl:message name="terminateLastlySpawnedInstanceRequest">
        <wsdl:part name="parameters" element="ns:terminateLastlySpawnedInstance"/>
    </wsdl:message>
    <wsdl:message name="terminateLastlySpawnedInstanceResponse">
        <wsdl:part name="parameters" element="ns:terminateLastlySpawnedInstanceResponse"/>
    </wsdl:message>
    <wsdl:portType name="AutoscalerServicePortType">
        <wsdl:operation name="initAutoscaler">
            <wsdl:input message="ns:initAutoscalerRequest" wsaw:Action="urn:initAutoscaler"/>
            <wsdl:output message="ns:initAutoscalerResponse" wsaw:Action="urn:initAutoscalerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="handleException">
            <wsdl:input message="ns:handleExceptionRequest" wsaw:Action="urn:handleException"/>
        </wsdl:operation>
        <wsdl:operation name="getPendingInstanceCount">
            <wsdl:input message="ns:getPendingInstanceCountRequest" wsaw:Action="urn:getPendingInstanceCount"/>
            <wsdl:output message="ns:getPendingInstanceCountResponse" wsaw:Action="urn:getPendingInstanceCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBytesFromFile">
            <wsdl:input message="ns:getBytesFromFileRequest" wsaw:Action="urn:getBytesFromFile"/>
            <wsdl:output message="ns:getBytesFromFileResponse" wsaw:Action="urn:getBytesFromFileResponse"/>
            <wsdl:fault message="ns:AutoscalerServiceIOException" name="AutoscalerServiceIOException" wsaw:Action="urn:getBytesFromFileAutoscalerServiceIOException"/>
        </wsdl:operation>
        <wsdl:operation name="startSpiInstance">
            <wsdl:input message="ns:startSpiInstanceRequest" wsaw:Action="urn:startSpiInstance"/>
            <wsdl:output message="ns:startSpiInstanceResponse" wsaw:Action="urn:startSpiInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <wsdl:input message="ns:startInstanceRequest" wsaw:Action="urn:startInstance"/>
            <wsdl:output message="ns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getUserData">
            <wsdl:input message="ns:getUserDataRequest" wsaw:Action="urn:getUserData"/>
            <wsdl:output message="ns:getUserDataResponse" wsaw:Action="urn:getUserDataResponse"/>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <wsdl:input message="ns:terminateInstanceRequest" wsaw:Action="urn:terminateInstance"/>
            <wsdl:output message="ns:terminateInstanceResponse" wsaw:Action="urn:terminateInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="terminateSpiInstance">
            <wsdl:input message="ns:terminateSpiInstanceRequest" wsaw:Action="urn:terminateSpiInstance"/>
            <wsdl:output message="ns:terminateSpiInstanceResponse" wsaw:Action="urn:terminateSpiInstanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="terminateLastlySpawnedInstance">
            <wsdl:input message="ns:terminateLastlySpawnedInstanceRequest" wsaw:Action="urn:terminateLastlySpawnedInstance"/>
            <wsdl:output message="ns:terminateLastlySpawnedInstanceResponse" wsaw:Action="urn:terminateLastlySpawnedInstanceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AutoscalerServiceSoap11Binding" type="ns:AutoscalerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="initAutoscaler">
            <soap:operation soapAction="urn:initAutoscaler" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleException">
            <soap:operation soapAction="urn:handleException" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPendingInstanceCount">
            <soap:operation soapAction="urn:getPendingInstanceCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesFromFile">
            <soap:operation soapAction="urn:getBytesFromFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoscalerServiceIOException">
                <soap:fault use="literal" name="AutoscalerServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startSpiInstance">
            <soap:operation soapAction="urn:startSpiInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap:operation soapAction="urn:startInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserData">
            <soap:operation soapAction="urn:getUserData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap:operation soapAction="urn:terminateInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateSpiInstance">
            <soap:operation soapAction="urn:terminateSpiInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateLastlySpawnedInstance">
            <soap:operation soapAction="urn:terminateLastlySpawnedInstance" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutoscalerServiceSoap12Binding" type="ns:AutoscalerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="initAutoscaler">
            <soap12:operation soapAction="urn:initAutoscaler" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleException">
            <soap12:operation soapAction="urn:handleException" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPendingInstanceCount">
            <soap12:operation soapAction="urn:getPendingInstanceCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesFromFile">
            <soap12:operation soapAction="urn:getBytesFromFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AutoscalerServiceIOException">
                <soap12:fault use="literal" name="AutoscalerServiceIOException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="startSpiInstance">
            <soap12:operation soapAction="urn:startSpiInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <soap12:operation soapAction="urn:startInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserData">
            <soap12:operation soapAction="urn:getUserData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <soap12:operation soapAction="urn:terminateInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateSpiInstance">
            <soap12:operation soapAction="urn:terminateSpiInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateLastlySpawnedInstance">
            <soap12:operation soapAction="urn:terminateLastlySpawnedInstance" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AutoscalerServiceHttpBinding" type="ns:AutoscalerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="initAutoscaler">
            <http:operation location="initAutoscaler"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handleException">
            <http:operation location="handleException"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPendingInstanceCount">
            <http:operation location="getPendingInstanceCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBytesFromFile">
            <http:operation location="getBytesFromFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startSpiInstance">
            <http:operation location="startSpiInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startInstance">
            <http:operation location="startInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserData">
            <http:operation location="getUserData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateInstance">
            <http:operation location="terminateInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateSpiInstance">
            <http:operation location="terminateSpiInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="terminateLastlySpawnedInstance">
            <http:operation location="terminateLastlySpawnedInstance"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AutoscalerService">
        <wsdl:port name="AutoscalerServiceHttpsSoap11Endpoint" binding="ns:AutoscalerServiceSoap11Binding">
            <soap:address location="https://10.100.3.105:9443/services/AutoscalerService.AutoscalerServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutoscalerServiceHttpSoap11Endpoint" binding="ns:AutoscalerServiceSoap11Binding">
            <soap:address location="http://10.100.3.105:9763/services/AutoscalerService.AutoscalerServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutoscalerServiceHttpSoap12Endpoint" binding="ns:AutoscalerServiceSoap12Binding">
            <soap12:address location="http://10.100.3.105:9763/services/AutoscalerService.AutoscalerServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutoscalerServiceHttpsSoap12Endpoint" binding="ns:AutoscalerServiceSoap12Binding">
            <soap12:address location="https://10.100.3.105:9443/services/AutoscalerService.AutoscalerServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutoscalerServiceHttpsEndpoint" binding="ns:AutoscalerServiceHttpBinding">
            <http:address location="https://10.100.3.105:9443/services/AutoscalerService.AutoscalerServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="AutoscalerServiceHttpEndpoint" binding="ns:AutoscalerServiceHttpBinding">
            <http:address location="http://10.100.3.105:9763/services/AutoscalerService.AutoscalerServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>