service-stubs/org.wso2.carbon.bam.data.publisher.mediationstats.stub/src/main/resources/MediationStatPublisherAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax29="http://config.mediationstats.publisher.data.bam.carbon.wso2.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://services.mediationstats.publisher.data.bam.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://services.mediationstats.publisher.data.bam.carbon.wso2.org">
    <wsdl:documentation>
        MediationStatPublisherAdmin
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://config.mediationstats.publisher.data.bam.carbon.wso2.org/xsd">
            <xs:complexType name="MediationStatConfig">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableEventing" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointRequestCountThreshold" type="xs:int"/>
                    <xs:element minOccurs="0" name="proxyRequestCountThreshold" type="xs:int"/>
                    <xs:element minOccurs="0" name="sequenceRequestCountThreshold" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd"
                   xmlns:ax210="http://config.mediationstats.publisher.data.bam.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://config.mediationstats.publisher.data.bam.carbon.wso2.org/xsd"/>
            <xs:element name="getEventingConfigData">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventingConfigDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:MediationStatConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureEventing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mediationStatConfig" nillable="true"
                                    type="ax29:MediationStatConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="configureEventingRequest">
        <wsdl:part name="parameters" element="ns1:configureEventing"/>
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataRequest">
        <wsdl:part name="parameters" element="ns1:getEventingConfigData"/>
    </wsdl:message>
    <wsdl:message name="getEventingConfigDataResponse">
        <wsdl:part name="parameters" element="ns1:getEventingConfigDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="MediationStatPublisherAdminPortType">
        <wsdl:operation name="configureEventing">
            <wsdl:input message="tns:configureEventingRequest" wsaw:Action="urn:configureEventing"/>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <wsdl:input message="tns:getEventingConfigDataRequest" wsaw:Action="urn:getEventingConfigData"/>
            <wsdl:output message="tns:getEventingConfigDataResponse" wsaw:Action="urn:getEventingConfigDataResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MediationStatPublisherAdminSoap11Binding" type="tns:MediationStatPublisherAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="configureEventing">
            <soap:operation soapAction="urn:configureEventing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap:operation soapAction="urn:getEventingConfigData" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationStatPublisherAdminSoap12Binding" type="tns:MediationStatPublisherAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="configureEventing">
            <soap12:operation soapAction="urn:configureEventing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <soap12:operation soapAction="urn:getEventingConfigData" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MediationStatPublisherAdminHttpBinding" type="tns:MediationStatPublisherAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="configureEventing">
            <http:operation location="configureEventing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getEventingConfigData">
            <http:operation location="getEventingConfigData"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MediationStatPublisherAdmin">
        <wsdl:port name="MediationStatPublisherAdminHttpsSoap11Endpoint"
                   binding="tns:MediationStatPublisherAdminSoap11Binding">
            <soap:address
                    location="https://localhost:8243/services/MediationStatPublisherAdmin.MediationStatPublisherAdminHttpsSoap11Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MediationStatPublisherAdminHttpsSoap12Endpoint"
                   binding="tns:MediationStatPublisherAdminSoap12Binding">
            <soap12:address
                    location="https://localhost:8243/services/MediationStatPublisherAdmin.MediationStatPublisherAdminHttpsSoap12Endpoint"/>
        </wsdl:port>
        <wsdl:port name="MediationStatPublisherAdminHttpsEndpoint" binding="tns:MediationStatPublisherAdminHttpBinding">
            <http:address
                    location="https://localhost:8243/services/MediationStatPublisherAdmin.MediationStatPublisherAdminHttpsEndpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>