components/load-balancer/jvm-autoscaler-agent/org.wso2.carbon.jvm.autoscaler.agent/src/main/resources/META-INF/AgentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.service.agent.autoscaler.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:tns="http://impl.service.agent.autoscaler.carbon.wso2.org" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ax21="http://exception.agent.autoscaler.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:whttp="http://www.w3.org/ns/wsdl/http" targetNamespace="http://impl.service.agent.autoscaler.carbon.wso2.org">
    <wsdl2:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.agent.autoscaler.carbon.wso2.org/xsd">
            <xs:complexType name="InstanceTerminationFailureException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ImageNotFoundException">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="InstanceInitiationFailureException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://exception.agent.autoscaler.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.agent.autoscaler.carbon.wso2.org">
            <xs:import namespace="http://exception.agent.autoscaler.carbon.wso2.org/xsd"/>
            <xs:element name="AgentServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AgentServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="unregisterInAgentManagementService">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="unregisterInAgentManagementServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AgentServiceInstanceTerminationFailureException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InstanceTerminationFailureException" nillable="true" type="ax21:InstanceTerminationFailureException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AgentServiceImageNotFoundException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ImageNotFoundException" nillable="true" type="ax21:ImageNotFoundException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AgentServiceInstanceInitiationFailureException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="InstanceInitiationFailureException" nillable="true" type="ax21:InstanceInitiationFailureException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="instanceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerInAgentManagementService">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="registerInAgentManagementServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfInstances">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNumberOfInstancesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl2:types>
    <wsdl2:interface name="ServiceInterface">
        <wsdl2:fault name="AgentServiceException" element="ns:AgentServiceException"/>
        <wsdl2:fault name="AgentServiceInstanceTerminationFailureException" element="ns:AgentServiceInstanceTerminationFailureException"/>
        <wsdl2:fault name="AgentServiceImageNotFoundException" element="ns:AgentServiceImageNotFoundException"/>
        <wsdl2:fault name="AgentServiceInstanceInitiationFailureException" element="ns:AgentServiceInstanceInitiationFailureException"/>
        <wsdl2:operation name="registerInAgentManagementService" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:registerInAgentManagementService" wsaw:Action="urn:registerInAgentManagementService"/>
            <wsdl2:output element="ns:registerInAgentManagementServiceResponse" wsaw:Action="urn:registerInAgentManagementServiceResponse"/>
            <wsdl2:outfault ref="tns:AgentServiceException" wsaw:Action="urn:registerInAgentManagementServiceAgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation name="terminateInstance" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="instanceId #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:terminateInstance" wsaw:Action="urn:terminateInstance"/>
            <wsdl2:output element="ns:terminateInstanceResponse" wsaw:Action="urn:terminateInstanceResponse"/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceTerminationFailureException" wsaw:Action="urn:terminateInstanceAgentServiceInstanceTerminationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceException" wsaw:Action="urn:terminateInstanceAgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation name="unregisterInAgentManagementService" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:unregisterInAgentManagementService" wsaw:Action="urn:unregisterInAgentManagementService"/>
            <wsdl2:output element="ns:unregisterInAgentManagementServiceResponse" wsaw:Action="urn:unregisterInAgentManagementServiceResponse"/>
            <wsdl2:outfault ref="tns:AgentServiceException" wsaw:Action="urn:unregisterInAgentManagementServiceAgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation name="startInstance" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="domainName #in instanceId #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:startInstance" wsaw:Action="urn:startInstance"/>
            <wsdl2:output element="ns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse"/>
            <wsdl2:outfault ref="tns:AgentServiceImageNotFoundException" wsaw:Action="urn:startInstanceAgentServiceImageNotFoundException"/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceInitiationFailureException" wsaw:Action="urn:startInstanceAgentServiceInstanceInitiationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceException" wsaw:Action="urn:startInstanceAgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation name="getNumberOfInstances" style="http://www.w3.org/ns/wsdl/style/rpc http://www.w3.org/ns/wsdl/style/iri http://www.w3.org/ns/wsdl/style/multipart" wrpc:signature="return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getNumberOfInstances" wsaw:Action="urn:getNumberOfInstances"/>
            <wsdl2:output element="ns:getNumberOfInstancesResponse" wsaw:Action="urn:getNumberOfInstancesResponse"/>
        </wsdl2:operation>
    </wsdl2:interface>
    <wsdl2:binding name="AgentServiceSoap12Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <wsdl2:fault ref="tns:AgentServiceInstanceInitiationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceInstanceTerminationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceImageNotFoundException"/>
        <wsdl2:fault ref="tns:AgentServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" wsoap:action="urn:terminateInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceTerminationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:registerInAgentManagementService" wsoap:action="urn:registerInAgentManagementService">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:unregisterInAgentManagementService" wsoap:action="urn:unregisterInAgentManagementService">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" wsoap:action="urn:startInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceInitiationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceImageNotFoundException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getNumberOfInstances" wsoap:action="urn:getNumberOfInstances">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="AgentServiceHttpBinding" interface="tns:ServiceInterface" whttp:methodDefault="POST" type="http://www.w3.org/ns/wsdl/http">
        <wsdl2:fault ref="tns:AgentServiceInstanceInitiationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceInstanceTerminationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceImageNotFoundException"/>
        <wsdl2:fault ref="tns:AgentServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" whttp:location="instance" whttp:method="DELETE">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceTerminationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:registerInAgentManagementService" whttp:location="register" whttp:method="GET">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:unregisterInAgentManagementService" whttp:location="unregister" whttp:method="DELETE">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" whttp:location="instance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceInitiationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceImageNotFoundException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getNumberOfInstances" whttp:location="instances" whttp:method="GET">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="AgentServiceSoap11Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1">
        <wsdl2:fault ref="tns:AgentServiceInstanceInitiationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceInstanceTerminationFailureException"/>
        <wsdl2:fault ref="tns:AgentServiceImageNotFoundException"/>
        <wsdl2:fault ref="tns:AgentServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" wsoap:action="urn:terminateInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceTerminationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:registerInAgentManagementService" wsoap:action="urn:registerInAgentManagementService">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:unregisterInAgentManagementService" wsoap:action="urn:unregisterInAgentManagementService">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" wsoap:action="urn:startInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AgentServiceInstanceInitiationFailureException"/>
            <wsdl2:outfault ref="tns:AgentServiceImageNotFoundException"/>
            <wsdl2:outfault ref="tns:AgentServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getNumberOfInstances" wsoap:action="urn:getNumberOfInstances">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:service name="AgentService" interface="tns:ServiceInterface">
        <!--wsdl2:endpoint name="AgentServiceHttpSoap11Endpoint" binding="tns:AgentServiceSoap11Binding" address="http://localhost:8080/axis2/services/AgentService"/>
        <wsdl2:endpoint name="AgentServiceHttpSoap12Endpoint" binding="tns:AgentServiceSoap12Binding" address="http://localhost:8080/axis2/services/AgentService"/-->
        <wsdl2:endpoint name="AgentServiceHttpEndpoint" binding="tns:AgentServiceHttpBinding" address="http://localhost:8080/axis2/services/AgentService"/>
    </wsdl2:service>
</wsdl2:description>
