service-stubs/org.wso2.carbon.apimgt.keymgt.stub/src/main/resources/APIKeyValidationService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax223="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://service.keymgt.apimgt.carbon.wso2.org" xmlns:ax225="http://api.apimgt.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax227="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.keymgt.apimgt.carbon.wso2.org">
    <wsdl:documentation>APIKeyValidationService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax228="http://dto.impl.apimgt.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax224="http://keymgt.apimgt.carbon.wso2.org/xsd" xmlns:ax226="http://api.apimgt.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://keymgt.apimgt.carbon.wso2.org/xsd" />
            <xs:import namespace="http://api.apimgt.carbon.wso2.org/xsd" />
            <xs:import namespace="http://dto.impl.apimgt.carbon.wso2.org/xsd" />
            <xs:element name="APIKeyValidationServiceAPIKeyMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIKeyMgtException" nillable="true" type="ax223:APIKeyMgtException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="APIKeyValidationServiceAPIManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="APIManagementException" nillable="true" type="ax225:APIManagementException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateKey">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="accessToken" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="validateKeyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax228:APIKeyValidationInfoDTO" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keymgt.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIKeyMgtException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.impl.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIKeyValidationInfoDTO">
                <xs:all>
                    <xs:element minOccurs="0" name="authorized" type="xs:boolean" />
                    <xs:element minOccurs="0" name="tier" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
		    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
                </xs:all>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.apimgt.carbon.wso2.org/xsd">
            <xs:complexType name="APIManagementException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="validateKeyRequest">
        <wsdl:part name="parameters" element="ns1:validateKey" />
    </wsdl:message>
    <wsdl:message name="validateKeyResponse">
        <wsdl:part name="parameters" element="ns1:validateKeyResponse" />
    </wsdl:message>
    <wsdl:message name="APIKeyValidationServiceAPIKeyMgtException">
        <wsdl:part name="parameters" element="ns1:APIKeyValidationServiceAPIKeyMgtException" />
    </wsdl:message>
    <wsdl:message name="APIKeyValidationServiceAPIManagementException">
        <wsdl:part name="parameters" element="ns1:APIKeyValidationServiceAPIManagementException" />
    </wsdl:message>
    <wsdl:portType name="APIKeyValidationServicePortType">
        <wsdl:operation name="validateKey">
            <wsdl:input message="tns:validateKeyRequest" wsaw:Action="urn:validateKey" />
            <wsdl:output message="tns:validateKeyResponse" wsaw:Action="urn:validateKeyResponse" />
            <wsdl:fault message="tns:APIKeyValidationServiceAPIKeyMgtException" name="APIKeyValidationServiceAPIKeyMgtException" wsaw:Action="urn:validateKeyAPIKeyValidationServiceAPIKeyMgtException" />
            <wsdl:fault message="tns:APIKeyValidationServiceAPIManagementException" name="APIKeyValidationServiceAPIManagementException" wsaw:Action="urn:validateKeyAPIKeyValidationServiceAPIManagementException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="APIKeyValidationServiceSoap11Binding" type="tns:APIKeyValidationServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateKey">
            <soap:operation soapAction="urn:validateKey" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="APIKeyValidationServiceAPIKeyMgtException">
                <soap:fault use="literal" name="APIKeyValidationServiceAPIKeyMgtException" />
            </wsdl:fault>
            <wsdl:fault name="APIKeyValidationServiceAPIManagementException">
                <soap:fault use="literal" name="APIKeyValidationServiceAPIManagementException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIKeyValidationServiceSoap12Binding" type="tns:APIKeyValidationServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="validateKey">
            <soap12:operation soapAction="urn:validateKey" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="APIKeyValidationServiceAPIKeyMgtException">
                <soap12:fault use="literal" name="APIKeyValidationServiceAPIKeyMgtException" />
            </wsdl:fault>
            <wsdl:fault name="APIKeyValidationServiceAPIManagementException">
                <soap12:fault use="literal" name="APIKeyValidationServiceAPIManagementException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="APIKeyValidationServiceHttpBinding" type="tns:APIKeyValidationServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="validateKey">
            <http:operation location="validateKey" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="APIKeyValidationService">
        <wsdl:port name="APIKeyValidationServiceHttpsSoap11Endpoint" binding="tns:APIKeyValidationServiceSoap11Binding">
            <soap:address location="https://mjolnir:8243/services/APIKeyValidationService.APIKeyValidationServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="APIKeyValidationServiceHttpsSoap12Endpoint" binding="tns:APIKeyValidationServiceSoap12Binding">
            <soap12:address location="https://mjolnir:8243/services/APIKeyValidationService.APIKeyValidationServiceHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="APIKeyValidationServiceHttpsEndpoint" binding="tns:APIKeyValidationServiceHttpBinding">
            <http:address location="https://mjolnir:8243/services/APIKeyValidationService.APIKeyValidationServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
