products/bps/modules/samples/product/src/main/resources/bpel/2.0/SampleEventHandlers/SampleEventHandlerProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:p="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wso2.org/bps/samples/event-handler" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://ode/bpel/unit-testAssign1.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleEventHandlerProcess" targetNamespace="http://wso2.org/bps/samples/event-handler">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/bps/samples/event-handler">

            <element name="SampleEventHandlerProcessRequest">
                <complexType>
                    <sequence>
                        <element name="id" type="string"/>
                        <element name="input" type="string"/>
                    </sequence>
                </complexType>
            </element>

            <element name="SampleEventHandlerProcessResponse">
                <complexType>
                    <sequence>
                        <element name="id" type="string"/>
                        <element name="result" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="eventGenerator">
            	<complexType>
            		<sequence>
            			<element name="id" type="string"/>
            		</sequence>
            	</complexType>
            </element>
            <element name="eventGeneratorResponse">
            	<complexType>
            		<sequence>
            			<element name="id" type="string"/>
            		</sequence>
            	</complexType>
            </element>
        </schema>
    </types>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="SampleEventHandlerProcessRequestMessage">
        <part element="tns:SampleEventHandlerProcessRequest" name="payload"/>
    </message>
    <message name="SampleEventHandlerProcessResponseMessage">
        <part element="tns:SampleEventHandlerProcessResponse" name="payload"/>
    </message>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    

    <!-- portType implemented by the SampleEventHandlerProcess BPEL process -->
    <message name="eventGeneratorRequest">
    	<part element="tns:eventGenerator" name="parameters"/>
    </message>
    <message name="eventGeneratorResponse">
    	<part element="tns:eventGeneratorResponse" name="parameters"/>
    </message>
    <portType name="SampleEventHandlerProcess">
        <operation name="createInstance">
            <input message="tns:SampleEventHandlerProcessRequestMessage"/>
            <output message="tns:SampleEventHandlerProcessResponseMessage"/>
        </operation>
        <operation name="eventGenerator">
        	<input message="tns:eventGeneratorRequest"/>
        	<output message="tns:eventGeneratorResponse"/>
        </operation>
        <operation name="completeInstance">
            <input message="tns:SampleEventHandlerProcessRequestMessage"/>
        </operation>
    </portType>
  

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="SampleEventHandlerProcess">
        <plnk:role name="SampleEventHandlerProcessProvider" portType="tns:SampleEventHandlerProcess"/>
    </plnk:partnerLinkType>
    
    <binding name="NewBinding" type="tns:SampleEventHandlerProcess">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<operation name="createInstance">
    		<soap:operation soapAction="http://wso2.org/bps/samples/event-handler/createInstance"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    		<output>
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    	<operation name="eventGenerator">
    		<soap:operation soapAction="http://wso2.org/bps/samples/event-handler/eventGenerator"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    		<output>
    			<soap:body use="literal"/>
    		</output>
    	</operation>
    	<operation name="completeInstance">
    		<soap:operation soapAction="http://wso2.org/bps/samples/event-handler/completeInstance"/>
    		<input>
    			<soap:body use="literal"/>
    		</input>
    	</operation>
    </binding>
    <service name="SampleEventHandlerService">
    	<port binding="tns:NewBinding" name="eventHandlerPort">
    		<soap:address location="http://www.example.org/"/>
    	</port>
    </service>
    
    <vprop:property name="ID" type="p:token"/>
   	<vprop:propertyAlias messageType="tns:SampleEventHandlerProcessRequestMessage" part="payload" propertyName="tns:ID">
  		<vprop:query>tns:id</vprop:query>
	</vprop:propertyAlias>
	<!-- <vprop:propertyAlias messageType="tns:SampleEventHandlerProcessResponseMessage" part="payload" propertyName="tns:ID">
  		<vprop:query>tns:id</vprop:query>
	</vprop:propertyAlias> -->
	<vprop:propertyAlias messageType="tns:eventGeneratorRequest" part="parameters" propertyName="tns:ID">
  		<vprop:query>tns:id</vprop:query>
	</vprop:propertyAlias>
</definitions>
