service-stubs/org.wso2.carbon.admin.mgt.stub/src/main/resources/AdminManagementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2471="http://beans.mgt.admin.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.admin.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2473="http://beans.mgt.captcha.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2469="http://exception.mgt.admin.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.admin.carbon.wso2.org">
    <wsdl:documentation>AdminManagementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.captcha.carbon.wso2.org/xsd">
            <xs:complexType name="CaptchaInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="imagePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="secretKey" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userAnswer" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2470="http://exception.mgt.admin.carbon.wso2.org/xsd" xmlns:ax2474="http://beans.mgt.captcha.carbon.wso2.org/xsd" xmlns:ax2472="http://beans.mgt.admin.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.admin.carbon.wso2.org">
            <xs:import namespace="http://exception.mgt.admin.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.admin.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://beans.mgt.captcha.carbon.wso2.org/xsd"/>
            <xs:element name="AdminManagementServiceAdminManagementException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdminManagementException" nillable="true" type="ax2470:AdminManagementException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePasswordWithUserInput">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="adminInfoBean" nillable="true" type="ax2471:AdminMgtInfoBean"/>
                        <xs:element minOccurs="0" name="captchaInfoBean" nillable="true" type="ax2474:CaptchaInfoBean"/>
                        <xs:element minOccurs="0" name="confirmationKey" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updatePasswordWithUserInputResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initiatePasswordReset">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="adminInfoBean" nillable="true" type="ax2471:AdminMgtInfoBean"/>
                        <xs:element minOccurs="0" name="captchaInfoBean" nillable="true" type="ax2474:CaptchaInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initiatePasswordResetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AdminManagementServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AdminManagementServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="generateRandomCaptcha">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateRandomCaptchaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2474:CaptchaInfoBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.admin.carbon.wso2.org/xsd">
            <xs:complexType name="AdminMgtInfoBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    <xs:element minOccurs="0" name="tenantLessUserName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.admin.carbon.wso2.org/xsd">
            <xs:complexType name="AdminManagementException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorMsg" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updatePasswordWithUserInputRequest">
        <wsdl:part name="parameters" element="ns:updatePasswordWithUserInput"/>
    </wsdl:message>
    <wsdl:message name="updatePasswordWithUserInputResponse">
        <wsdl:part name="parameters" element="ns:updatePasswordWithUserInputResponse"/>
    </wsdl:message>
    <wsdl:message name="AdminManagementServiceAdminManagementException">
        <wsdl:part name="parameters" element="ns:AdminManagementServiceAdminManagementException"/>
    </wsdl:message>
    <wsdl:message name="generateRandomCaptchaRequest">
        <wsdl:part name="parameters" element="ns:generateRandomCaptcha"/>
    </wsdl:message>
    <wsdl:message name="generateRandomCaptchaResponse">
        <wsdl:part name="parameters" element="ns:generateRandomCaptchaResponse"/>
    </wsdl:message>
    <wsdl:message name="AdminManagementServiceException">
        <wsdl:part name="parameters" element="ns:AdminManagementServiceException"/>
    </wsdl:message>
    <wsdl:message name="initiatePasswordResetRequest">
        <wsdl:part name="parameters" element="ns:initiatePasswordReset"/>
    </wsdl:message>
    <wsdl:message name="initiatePasswordResetResponse">
        <wsdl:part name="parameters" element="ns:initiatePasswordResetResponse"/>
    </wsdl:message>
    <wsdl:portType name="AdminManagementServicePortType">
        <wsdl:operation name="updatePasswordWithUserInput">
            <wsdl:input message="ns:updatePasswordWithUserInputRequest" wsaw:Action="urn:updatePasswordWithUserInput"/>
            <wsdl:output message="ns:updatePasswordWithUserInputResponse" wsaw:Action="urn:updatePasswordWithUserInputResponse"/>
            <wsdl:fault message="ns:AdminManagementServiceAdminManagementException" name="AdminManagementServiceAdminManagementException" wsaw:Action="urn:updatePasswordWithUserInputAdminManagementServiceAdminManagementException"/>
        </wsdl:operation>
        <wsdl:operation name="generateRandomCaptcha">
            <wsdl:input message="ns:generateRandomCaptchaRequest" wsaw:Action="urn:generateRandomCaptcha"/>
            <wsdl:output message="ns:generateRandomCaptchaResponse" wsaw:Action="urn:generateRandomCaptchaResponse"/>
            <wsdl:fault message="ns:AdminManagementServiceException" name="AdminManagementServiceException" wsaw:Action="urn:generateRandomCaptchaAdminManagementServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="initiatePasswordReset">
            <wsdl:input message="ns:initiatePasswordResetRequest" wsaw:Action="urn:initiatePasswordReset"/>
            <wsdl:output message="ns:initiatePasswordResetResponse" wsaw:Action="urn:initiatePasswordResetResponse"/>
            <wsdl:fault message="ns:AdminManagementServiceAdminManagementException" name="AdminManagementServiceAdminManagementException" wsaw:Action="urn:initiatePasswordResetAdminManagementServiceAdminManagementException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdminManagementServiceSoap11Binding" type="ns:AdminManagementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updatePasswordWithUserInput">
            <soap:operation soapAction="urn:updatePasswordWithUserInput" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceAdminManagementException">
                <soap:fault use="literal" name="AdminManagementServiceAdminManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateRandomCaptcha">
            <soap:operation soapAction="urn:generateRandomCaptcha" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceException">
                <soap:fault use="literal" name="AdminManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="initiatePasswordReset">
            <soap:operation soapAction="urn:initiatePasswordReset" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceAdminManagementException">
                <soap:fault use="literal" name="AdminManagementServiceAdminManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminManagementServiceSoap12Binding" type="ns:AdminManagementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updatePasswordWithUserInput">
            <soap12:operation soapAction="urn:updatePasswordWithUserInput" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceAdminManagementException">
                <soap12:fault use="literal" name="AdminManagementServiceAdminManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="generateRandomCaptcha">
            <soap12:operation soapAction="urn:generateRandomCaptcha" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceException">
                <soap12:fault use="literal" name="AdminManagementServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="initiatePasswordReset">
            <soap12:operation soapAction="urn:initiatePasswordReset" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AdminManagementServiceAdminManagementException">
                <soap12:fault use="literal" name="AdminManagementServiceAdminManagementException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AdminManagementServiceHttpBinding" type="ns:AdminManagementServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updatePasswordWithUserInput">
            <http:operation location="updatePasswordWithUserInput"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateRandomCaptcha">
            <http:operation location="generateRandomCaptcha"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initiatePasswordReset">
            <http:operation location="initiatePasswordReset"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdminManagementService">
        <wsdl:port name="AdminManagementServiceHttpSoap11Endpoint" binding="ns:AdminManagementServiceSoap11Binding">
            <soap:address location="http://appserver.cloud-test.wso2.com:9766/services/AdminManagementService.AdminManagementServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminManagementServiceHttpsSoap11Endpoint" binding="ns:AdminManagementServiceSoap11Binding">
            <soap:address location="https://appserver.cloud-test.wso2.com:9446/services/AdminManagementService.AdminManagementServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminManagementServiceHttpSoap12Endpoint" binding="ns:AdminManagementServiceSoap12Binding">
            <soap12:address location="http://appserver.cloud-test.wso2.com:9766/services/AdminManagementService.AdminManagementServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminManagementServiceHttpsSoap12Endpoint" binding="ns:AdminManagementServiceSoap12Binding">
            <soap12:address location="https://appserver.cloud-test.wso2.com:9446/services/AdminManagementService.AdminManagementServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminManagementServiceHttpEndpoint" binding="ns:AdminManagementServiceHttpBinding">
            <http:address location="http://appserver.cloud-test.wso2.com:9766/services/AdminManagementService.AdminManagementServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="AdminManagementServiceHttpsEndpoint" binding="ns:AdminManagementServiceHttpBinding">
            <http:address location="https://appserver.cloud-test.wso2.com:9446/services/AdminManagementService.AdminManagementServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>