service-stubs/org.wso2.carbon.mediator.bam.config.stub/src/main/resources/BAMMediatorConfigAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://services.config.bam.mediator.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.config.bam.mediator.carbon.wso2.org">
    <wsdl:documentation>BAMMediatorConfigAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:element name="saveResourceString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resourceString" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="bamServerProfileLocation" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resourceAlreadyExists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bamServerProfileLocation" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="resourceAlreadyExistsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResourceString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="bamServerProfileLocation" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResourceStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="saveResourceStringRequest">
        <wsdl:part name="parameters" element="ns1:saveResourceString" />
    </wsdl:message>
    <wsdl:message name="resourceAlreadyExistsRequest">
        <wsdl:part name="parameters" element="ns1:resourceAlreadyExists" />
    </wsdl:message>
    <wsdl:message name="resourceAlreadyExistsResponse">
        <wsdl:part name="parameters" element="ns1:resourceAlreadyExistsResponse" />
    </wsdl:message>
    <wsdl:message name="getResourceStringRequest">
        <wsdl:part name="parameters" element="ns1:getResourceString" />
    </wsdl:message>
    <wsdl:message name="getResourceStringResponse">
        <wsdl:part name="parameters" element="ns1:getResourceStringResponse" />
    </wsdl:message>
    <wsdl:portType name="BAMMediatorConfigAdminPortType">
        <wsdl:operation name="saveResourceString">
            <wsdl:input message="tns:saveResourceStringRequest" wsaw:Action="urn:saveResourceString" />
        </wsdl:operation>
        <wsdl:operation name="resourceAlreadyExists">
            <wsdl:input message="tns:resourceAlreadyExistsRequest" wsaw:Action="urn:resourceAlreadyExists" />
            <wsdl:output message="tns:resourceAlreadyExistsResponse" wsaw:Action="urn:resourceAlreadyExistsResponse" />
        </wsdl:operation>
        <wsdl:operation name="getResourceString">
            <wsdl:input message="tns:getResourceStringRequest" wsaw:Action="urn:getResourceString" />
            <wsdl:output message="tns:getResourceStringResponse" wsaw:Action="urn:getResourceStringResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BAMMediatorConfigAdminSoap11Binding" type="tns:BAMMediatorConfigAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="saveResourceString">
            <soap:operation soapAction="urn:saveResourceString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="resourceAlreadyExists">
            <soap:operation soapAction="urn:resourceAlreadyExists" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResourceString">
            <soap:operation soapAction="urn:getResourceString" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMMediatorConfigAdminSoap12Binding" type="tns:BAMMediatorConfigAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="saveResourceString">
            <soap12:operation soapAction="urn:saveResourceString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="resourceAlreadyExists">
            <soap12:operation soapAction="urn:resourceAlreadyExists" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResourceString">
            <soap12:operation soapAction="urn:getResourceString" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BAMMediatorConfigAdminHttpBinding" type="tns:BAMMediatorConfigAdminPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="saveResourceString">
            <http:operation location="saveResourceString" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="resourceAlreadyExists">
            <http:operation location="resourceAlreadyExists" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getResourceString">
            <http:operation location="getResourceString" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BAMMediatorConfigAdmin">
        <wsdl:port name="BAMMediatorConfigAdminHttpsSoap11Endpoint" binding="tns:BAMMediatorConfigAdminSoap11Binding">
            <soap:address location="https://my:8244/services/BAMMediatorConfigAdmin.BAMMediatorConfigAdminHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="BAMMediatorConfigAdminHttpsSoap12Endpoint" binding="tns:BAMMediatorConfigAdminSoap12Binding">
            <soap12:address location="https://my:8244/services/BAMMediatorConfigAdmin.BAMMediatorConfigAdminHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="BAMMediatorConfigAdminHttpsEndpoint" binding="tns:BAMMediatorConfigAdminHttpBinding">
            <http:address location="https://my:8244/services/BAMMediatorConfigAdmin.BAMMediatorConfigAdminHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>