components/stratos/announcements/org.wso2.carbon.announcement.ui/src/main/resources/AnnouncementService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.announcement.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.announcement.carbon.wso2.org">
    <wsdl:documentation>AnnouncementService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.announcement.carbon.wso2.org">
            <xs:element name="retrieveRegIdException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="retrieveRegIdException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="retrieveRegId">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveRegIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retrieveRegIdRequest">
        <wsdl:part name="parameters" element="ns:retrieveRegId" />
    </wsdl:message>
    <wsdl:message name="retrieveRegIdResponse">
        <wsdl:part name="parameters" element="ns:retrieveRegIdResponse" />
    </wsdl:message>
    <wsdl:message name="retrieveRegIdException">
        <wsdl:part name="parameters" element="ns:retrieveRegIdException" />
    </wsdl:message>
    <wsdl:portType name="AnnouncementServicePortType">
        <wsdl:operation name="retrieveRegId">
            <wsdl:input message="ns:retrieveRegIdRequest" wsaw:Action="urn:retrieveRegId" />
            <wsdl:output message="ns:retrieveRegIdResponse" wsaw:Action="urn:retrieveRegIdResponse" />
            <wsdl:fault message="ns:retrieveRegIdException" name="retrieveRegIdException" wsaw:Action="urn:retrieveRegIdretrieveRegIdException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AnnouncementServiceSoap11Binding" type="ns:AnnouncementServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="retrieveRegId">
            <soap:operation soapAction="urn:retrieveRegId" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="retrieveRegIdException">
                <soap:fault use="literal" name="retrieveRegIdException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnnouncementServiceSoap12Binding" type="ns:AnnouncementServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="retrieveRegId">
            <soap12:operation soapAction="urn:retrieveRegId" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="retrieveRegIdException">
                <soap12:fault use="literal" name="retrieveRegIdException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AnnouncementServiceHttpBinding" type="ns:AnnouncementServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="retrieveRegId">
            <http:operation location="retrieveRegId" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AnnouncementService">
        <wsdl:port name="AnnouncementServiceHttpsSoap11Endpoint" binding="ns:AnnouncementServiceSoap11Binding">
            <soap:address location="https://192.168.1.100:9443/services/AnnouncementService.AnnouncementServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AnnouncementServiceHttpsSoap12Endpoint" binding="ns:AnnouncementServiceSoap12Binding">
            <soap12:address location="https://192.168.1.100:9443/services/AnnouncementService.AnnouncementServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="AnnouncementServiceHttpsEndpoint" binding="ns:AnnouncementServiceHttpBinding">
            <http:address location="https://192.168.1.100:9443/services/AnnouncementService.AnnouncementServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>