products/appfactory/modules/default-bpels/UserCreation/EmailSenderService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.registration.user.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.registration.user.carbon.wso2.org">
    <wsdl:documentation>EmailSenderService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.registration.user.carbon.wso2.org">
            <xs:element name="sendActivationEmail">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendActivationEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendActivationEmailRequest">
        <wsdl:part name="parameters" element="ns:sendActivationEmail"/>
    </wsdl:message>
    <wsdl:message name="sendActivationEmailResponse">
        <wsdl:part name="parameters" element="ns:sendActivationEmailResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmailSenderServicePortType">
        <wsdl:operation name="sendActivationEmail">
            <wsdl:input message="ns:sendActivationEmailRequest" wsaw:Action="urn:sendActivationEmail"/>
            <wsdl:output message="ns:sendActivationEmailResponse" wsaw:Action="urn:sendActivationEmailResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailSenderServiceSoap11Binding" type="ns:EmailSenderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendActivationEmail">
            <soap:operation soapAction="urn:sendActivationEmail" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailSenderServiceSoap12Binding" type="ns:EmailSenderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendActivationEmail">
            <soap12:operation soapAction="urn:sendActivationEmail" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmailSenderServiceHttpBinding" type="ns:EmailSenderServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sendActivationEmail">
            <http:operation location="sendActivationEmail"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailSenderService">
        <wsdl:port name="EmailSenderServiceHttpsSoap11Endpoint" binding="ns:EmailSenderServiceSoap11Binding">
            <soap:address location="https://192.168.4.26:9447/services/EmailSenderService.EmailSenderServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmailSenderServiceHttpsSoap12Endpoint" binding="ns:EmailSenderServiceSoap12Binding">
            <soap12:address location="https://192.168.4.26:9447/services/EmailSenderService.EmailSenderServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EmailSenderServiceHttpsEndpoint" binding="ns:EmailSenderServiceHttpBinding">
            <http:address location="https://192.168.4.26:9447/services/EmailSenderService.EmailSenderServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>