service-stubs/org.wso2.carbon.tenant.mgt.stub/src/main/resources/TenantMgtAdminService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.tenant.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2209="http://beans.mgt.tenant.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.tenant.carbon.wso2.org"> 
    <wsdl:documentation>TenantMgtAdminService</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema xmlns:ax2210="http://beans.mgt.tenant.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.tenant.carbon.wso2.org"> 
            <xs:import namespace="http://beans.mgt.tenant.carbon.wso2.org/xsd" /> 
            <xs:complexType name="Exception"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:element name="updateTenantException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="updateTenantException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="updateTenant"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2210:TenantInfoBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrieveTenantsException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="retrieveTenantsException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrieveTenants"> 
                <xs:complexType> 
                    <xs:sequence /> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrieveTenantsResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2210:TenantInfoBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrievePaginatedTenantsException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="retrievePaginatedTenantsException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrievePaginatedTenants"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="retrievePaginatedTenantsResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2210:PaginatedTenantInfoBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getTenantException">
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="getTenantException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getTenant"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getTenantResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2210:TenantInfoBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="deactivateTenantException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="deactivateTenantException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="deactivateTenant"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addTenantException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="addTenantException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addTenant"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="tenantInfoBean" nillable="true" type="ax2210:TenantInfoBean" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addTenantResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="activateTenantException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="activateTenantException" nillable="true" type="ns:Exception" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="activateTenant"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" /> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.tenant.carbon.wso2.org/xsd"> 
            <xs:complexType name="TenantInfoBean"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="active" type="xs:boolean" /> 
                    <xs:element minOccurs="0" name="admin" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="createdDate" nillable="true" type="xs:dateTime" /> 
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="originatedService" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="successKey" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string" /> 
                    <xs:element minOccurs="0" name="tenantId" type="xs:int" /> 
                    <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string" /> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="PaginatedTenantInfoBean"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int" /> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="tenantInfoBeans" nillable="true" type="ax2209:TenantInfoBean" /> 
                </xs:sequence> 
            </xs:complexType> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="retrieveTenantsRequest"> 
        <wsdl:part name="parameters" element="ns:retrieveTenants" /> 
    </wsdl:message> 
    <wsdl:message name="retrieveTenantsResponse"> 
        <wsdl:part name="parameters" element="ns:retrieveTenantsResponse" /> 
    </wsdl:message> 
    <wsdl:message name="retrieveTenantsException"> 
        <wsdl:part name="parameters" element="ns:retrieveTenantsException" /> 
    </wsdl:message> 
    <wsdl:message name="getTenantRequest"> 
        <wsdl:part name="parameters" element="ns:getTenant" /> 
    </wsdl:message> 
    <wsdl:message name="getTenantResponse"> 
        <wsdl:part name="parameters" element="ns:getTenantResponse" /> 
    </wsdl:message> 
    <wsdl:message name="getTenantException"> 
        <wsdl:part name="parameters" element="ns:getTenantException" /> 
    </wsdl:message> 
    <wsdl:message name="deactivateTenantRequest"> 
        <wsdl:part name="parameters" element="ns:deactivateTenant" /> 
    </wsdl:message> 
    <wsdl:message name="deactivateTenantResponse" /> 
    <wsdl:message name="deactivateTenantException"> 
        <wsdl:part name="parameters" element="ns:deactivateTenantException" /> 
    </wsdl:message> 
    <wsdl:message name="retrievePaginatedTenantsRequest">
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenants" /> 
    </wsdl:message> 
    <wsdl:message name="retrievePaginatedTenantsResponse"> 
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenantsResponse" /> 
    </wsdl:message> 
    <wsdl:message name="retrievePaginatedTenantsException"> 
        <wsdl:part name="parameters" element="ns:retrievePaginatedTenantsException" /> 
    </wsdl:message> 
    <wsdl:message name="updateTenantRequest"> 
        <wsdl:part name="parameters" element="ns:updateTenant" /> 
    </wsdl:message> 
    <wsdl:message name="updateTenantResponse" /> 
    <wsdl:message name="updateTenantException"> 
        <wsdl:part name="parameters" element="ns:updateTenantException" /> 
    </wsdl:message> 
    <wsdl:message name="addTenantRequest"> 
        <wsdl:part name="parameters" element="ns:addTenant" /> 
    </wsdl:message> 
    <wsdl:message name="addTenantResponse"> 
        <wsdl:part name="parameters" element="ns:addTenantResponse" /> 
    </wsdl:message> 
    <wsdl:message name="addTenantException"> 
        <wsdl:part name="parameters" element="ns:addTenantException" /> 
    </wsdl:message> 
    <wsdl:message name="activateTenantRequest"> 
        <wsdl:part name="parameters" element="ns:activateTenant" /> 
    </wsdl:message> 
    <wsdl:message name="activateTenantResponse" /> 
    <wsdl:message name="activateTenantException"> 
        <wsdl:part name="parameters" element="ns:activateTenantException" /> 
    </wsdl:message> 
    <wsdl:portType name="TenantMgtAdminServicePortType"> 
        <wsdl:operation name="retrieveTenants"> 
            <wsdl:input message="ns:retrieveTenantsRequest" wsaw:Action="urn:retrieveTenants" /> 
            <wsdl:output message="ns:retrieveTenantsResponse" wsaw:Action="urn:retrieveTenantsResponse" /> 
            <wsdl:fault message="ns:retrieveTenantsException" name="retrieveTenantsException" wsaw:Action="urn:retrieveTenantsretrieveTenantsException" /> 
        </wsdl:operation> 
        <wsdl:operation name="getTenant"> 
            <wsdl:input message="ns:getTenantRequest" wsaw:Action="urn:getTenant" /> 
            <wsdl:output message="ns:getTenantResponse" wsaw:Action="urn:getTenantResponse" /> 
            <wsdl:fault message="ns:getTenantException" name="getTenantException" wsaw:Action="urn:getTenantgetTenantException" /> 
        </wsdl:operation> 
        <wsdl:operation name="deactivateTenant"> 
            <wsdl:input message="ns:deactivateTenantRequest" wsaw:Action="urn:deactivateTenant" /> 
            <wsdl:output message="ns:deactivateTenantResponse" wsaw:Action="urn:deactivateTenantResponse" /> 
            <wsdl:fault message="ns:deactivateTenantException" name="deactivateTenantException" wsaw:Action="urn:deactivateTenantdeactivateTenantException" /> 
        </wsdl:operation> 
        <wsdl:operation name="retrievePaginatedTenants">
            <wsdl:input message="ns:retrievePaginatedTenantsRequest" wsaw:Action="urn:retrievePaginatedTenants" /> 
            <wsdl:output message="ns:retrievePaginatedTenantsResponse" wsaw:Action="urn:retrievePaginatedTenantsResponse" /> 
            <wsdl:fault message="ns:retrievePaginatedTenantsException" name="retrievePaginatedTenantsException" wsaw:Action="urn:retrievePaginatedTenantsretrievePaginatedTenantsException" /> 
        </wsdl:operation> 
        <wsdl:operation name="updateTenant"> 
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant" /> 
            <wsdl:output message="ns:updateTenantResponse" wsaw:Action="urn:updateTenantResponse" /> 
            <wsdl:fault message="ns:updateTenantException" name="updateTenantException" wsaw:Action="urn:updateTenantupdateTenantException" /> 
        </wsdl:operation> 
        <wsdl:operation name="addTenant"> 
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant" /> 
            <wsdl:output message="ns:addTenantResponse" wsaw:Action="urn:addTenantResponse" /> 
            <wsdl:fault message="ns:addTenantException" name="addTenantException" wsaw:Action="urn:addTenantaddTenantException" /> 
        </wsdl:operation> 
        <wsdl:operation name="activateTenant"> 
            <wsdl:input message="ns:activateTenantRequest" wsaw:Action="urn:activateTenant" /> 
            <wsdl:output message="ns:activateTenantResponse" wsaw:Action="urn:activateTenantResponse" /> 
            <wsdl:fault message="ns:activateTenantException" name="activateTenantException" wsaw:Action="urn:activateTenantactivateTenantException" /> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="TenantMgtAdminServiceSoap11Binding" type="ns:TenantMgtAdminServicePortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="retrieveTenants"> 
            <soap:operation soapAction="urn:retrieveTenants" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="retrieveTenantsException"> 
                <soap:fault use="literal" name="retrieveTenantsException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getTenant"> 
            <soap:operation soapAction="urn:getTenant" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="getTenantException"> 
                <soap:fault use="literal" name="getTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="deactivateTenant"> 
            <soap:operation soapAction="urn:deactivateTenant" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="deactivateTenantException"> 
                <soap:fault use="literal" name="deactivateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="retrievePaginatedTenants">
            <soap:operation soapAction="urn:retrievePaginatedTenants" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="retrievePaginatedTenantsException"> 
                <soap:fault use="literal" name="retrievePaginatedTenantsException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updateTenant"> 
            <soap:operation soapAction="urn:updateTenant" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="updateTenantException"> 
                <soap:fault use="literal" name="updateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addTenant"> 
            <soap:operation soapAction="urn:addTenant" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="addTenantException"> 
                <soap:fault use="literal" name="addTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="activateTenant"> 
            <soap:operation soapAction="urn:activateTenant" style="document" /> 
            <wsdl:input> 
                <soap:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="activateTenantException"> 
                <soap:fault use="literal" name="activateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="TenantMgtAdminServiceSoap12Binding" type="ns:TenantMgtAdminServicePortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
        <wsdl:operation name="retrieveTenants"> 
            <soap12:operation soapAction="urn:retrieveTenants" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="retrieveTenantsException"> 
                <soap12:fault use="literal" name="retrieveTenantsException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getTenant"> 
            <soap12:operation soapAction="urn:getTenant" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="getTenantException"> 
                <soap12:fault use="literal" name="getTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="deactivateTenant"> 
            <soap12:operation soapAction="urn:deactivateTenant" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="deactivateTenantException"> 
                <soap12:fault use="literal" name="deactivateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="retrievePaginatedTenants">
            <soap12:operation soapAction="urn:retrievePaginatedTenants" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="retrievePaginatedTenantsException"> 
                <soap12:fault use="literal" name="retrievePaginatedTenantsException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updateTenant"> 
            <soap12:operation soapAction="urn:updateTenant" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="updateTenantException"> 
                <soap12:fault use="literal" name="updateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addTenant"> 
            <soap12:operation soapAction="urn:addTenant" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="addTenantException"> 
                <soap12:fault use="literal" name="addTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="activateTenant"> 
            <soap12:operation soapAction="urn:activateTenant" style="document" /> 
            <wsdl:input> 
                <soap12:body use="literal" /> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal" /> 
            </wsdl:output> 
            <wsdl:fault name="activateTenantException"> 
                <soap12:fault use="literal" name="activateTenantException" /> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="TenantMgtAdminServiceHttpBinding" type="ns:TenantMgtAdminServicePortType"> 
        <http:binding verb="POST" /> 
        <wsdl:operation name="retrieveTenants"> 
            <http:operation location="retrieveTenants" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getTenant"> 
            <http:operation location="getTenant" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="deactivateTenant"> 
            <http:operation location="deactivateTenant" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="retrievePaginatedTenants">
            <http:operation location="retrievePaginatedTenants" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="updateTenant"> 
            <http:operation location="updateTenant" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="addTenant"> 
            <http:operation location="addTenant" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="activateTenant"> 
            <http:operation location="activateTenant" /> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters" /> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="TenantMgtAdminService"> 
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap11Endpoint" binding="ns:TenantMgtAdminServiceSoap11Binding"> 
            <soap:address location="https://10.100.0.19:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap11Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="TenantMgtAdminServiceHttpsSoap12Endpoint" binding="ns:TenantMgtAdminServiceSoap12Binding"> 
            <soap12:address location="https://10.100.0.19:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsSoap12Endpoint/" /> 
        </wsdl:port> 
        <wsdl:port name="TenantMgtAdminServiceHttpsEndpoint" binding="ns:TenantMgtAdminServiceHttpBinding"> 
            <http:address location="https://10.100.0.19:9443/services/TenantMgtAdminService.TenantMgtAdminServiceHttpsEndpoint/" /> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
