components/stratos/billing/org.wso2.carbon.billing.mgt.ui/src/main/resources/MultitenancyBillingService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.billing.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax229="http://beans.mgt.billing.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
    <wsdl:documentation>MultitenancyBillingService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.mgt.billing.carbon.wso2.org/xsd">
            <xs:complexType name="MultitenancyInvoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="xs:string" />

                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    <xs:element minOccurs="0" name="lastInvoice" type="xs:boolean" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrders" nillable="true" type="ax229:MultitenancyPurchaseOrder" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriptions" nillable="true" type="ax229:MultitenancySubscription" />
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="totalPayments" nillable="true" type="xs:string" />
                </xs:sequence>

            </xs:complexType>
            <xs:complexType name="MultitenancyPurchaseOrder">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="payment" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="paymentDate" nillable="true" type="xs:date" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MultitenancySubscription">

                <xs:sequence>
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="billedEntries" nillable="true" type="ax229:BilledEntry" />
                    <xs:element minOccurs="0" name="subscribedPackage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BilledEntry">
                <xs:sequence>

                    <xs:element minOccurs="0" name="cost" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BillingPeriod">
                <xs:sequence>
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />

                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax230="http://beans.mgt.billing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
            <xs:import namespace="http://beans.mgt.billing.carbon.wso2.org/xsd" />
            <xs:element name="getPastInvoiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getPastInvoiceException" nillable="true" type="ns:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPastInvoice">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPastInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="ax230:MultitenancyInvoice" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getCurrentInvoiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoice">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentInvoiceResponse">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax230:MultitenancyInvoice" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getAvailableBillingPeriodsException" nillable="true" type="ns:Exception" />

                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriods">
                <xs:complexType>
                    <xs:sequence />
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvailableBillingPeriodsResponse">

                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax230:BillingPeriod" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAvailableBillingPeriodsRequest">

        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriods" />
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsResponse">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsResponse" />
    </wsdl:message>
    <wsdl:message name="getAvailableBillingPeriodsException">
        <wsdl:part name="parameters" element="ns:getAvailableBillingPeriodsException" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceRequest">

        <wsdl:part name="parameters" element="ns:getPastInvoice" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getPastInvoiceResponse" />
    </wsdl:message>
    <wsdl:message name="getPastInvoiceException">
        <wsdl:part name="parameters" element="ns:getPastInvoiceException" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceRequest">

        <wsdl:part name="parameters" element="ns:getCurrentInvoice" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceResponse">
        <wsdl:part name="parameters" element="ns:getCurrentInvoiceResponse" />
    </wsdl:message>
    <wsdl:message name="getCurrentInvoiceException">
        <wsdl:part name="parameters" element="ns:getCurrentInvoiceException" />
    </wsdl:message>
    <wsdl:portType name="MultitenancyBillingServicePortType">

        <wsdl:operation name="getAvailableBillingPeriods">
            <wsdl:input message="ns:getAvailableBillingPeriodsRequest" wsaw:Action="urn:getAvailableBillingPeriods" />
            <wsdl:output message="ns:getAvailableBillingPeriodsResponse" wsaw:Action="urn:getAvailableBillingPeriodsResponse" />
            <wsdl:fault message="ns:getAvailableBillingPeriodsException" name="getAvailableBillingPeriodsException" wsaw:Action="urn:getAvailableBillingPeriodsgetAvailableBillingPeriodsException" />
        </wsdl:operation>
        <wsdl:operation name="getPastInvoice">
            <wsdl:input message="ns:getPastInvoiceRequest" wsaw:Action="urn:getPastInvoice" />
            <wsdl:output message="ns:getPastInvoiceResponse" wsaw:Action="urn:getPastInvoiceResponse" />
            <wsdl:fault message="ns:getPastInvoiceException" name="getPastInvoiceException" wsaw:Action="urn:getPastInvoicegetPastInvoiceException" />

        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <wsdl:input message="ns:getCurrentInvoiceRequest" wsaw:Action="urn:getCurrentInvoice" />
            <wsdl:output message="ns:getCurrentInvoiceResponse" wsaw:Action="urn:getCurrentInvoiceResponse" />
            <wsdl:fault message="ns:getCurrentInvoiceException" name="getCurrentInvoiceException" wsaw:Action="urn:getCurrentInvoicegetCurrentInvoiceException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MultitenancyBillingServiceSoap11Binding" type="ns:MultitenancyBillingServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

        <wsdl:operation name="getPastInvoice">
            <soap:operation soapAction="urn:getPastInvoice" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPastInvoiceException">

                <soap:fault use="literal" name="getPastInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap:operation soapAction="urn:getAvailableBillingPeriods" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAvailableBillingPeriodsException">
                <soap:fault use="literal" name="getAvailableBillingPeriodsException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <soap:operation soapAction="urn:getCurrentInvoice" style="document" />
            <wsdl:input>

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getCurrentInvoiceException">
                <soap:fault use="literal" name="getCurrentInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceSoap12Binding" type="ns:MultitenancyBillingServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="getPastInvoice">
            <soap12:operation soapAction="urn:getPastInvoice" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getPastInvoiceException">
                <soap12:fault use="literal" name="getPastInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <soap12:operation soapAction="urn:getAvailableBillingPeriods" style="document" />
            <wsdl:input>

                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getAvailableBillingPeriodsException">
                <soap12:fault use="literal" name="getAvailableBillingPeriodsException" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getCurrentInvoice">
            <soap12:operation soapAction="urn:getCurrentInvoice" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="getCurrentInvoiceException">

                <soap12:fault use="literal" name="getCurrentInvoiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="MultitenancyBillingServiceHttpBinding" type="ns:MultitenancyBillingServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="getPastInvoice">
            <http:operation location="getPastInvoice" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvailableBillingPeriods">
            <http:operation location="getAvailableBillingPeriods" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentInvoice">
            <http:operation location="getCurrentInvoice" />
            <wsdl:input>

                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MultitenancyBillingService">
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap11Endpoint" binding="ns:MultitenancyBillingServiceSoap11Binding">

            <soap:address location="https://cloud.shankar.com:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsSoap12Endpoint" binding="ns:MultitenancyBillingServiceSoap12Binding">
            <soap12:address location="https://cloud.shankar.com:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="MultitenancyBillingServiceHttpsEndpoint" binding="ns:MultitenancyBillingServiceHttpBinding">
            <http:address location="https://cloud.shankar.com:9443/services/MultitenancyBillingService.MultitenancyBillingServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>