components/autoscaler/service/autoscalerservice/src/main/resources/META-INF/AutoscalerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://impl.service.autoscaler.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:tns="http://impl.service.autoscaler.carbon.wso2.org" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:whttp="http://www.w3.org/ns/wsdl/http" targetNamespace="http://impl.service.autoscaler.carbon.wso2.org">
    <wsdl2:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impl.service.autoscaler.carbon.wso2.org">
            <xs:element name="AutoscalerServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="AutoscalerServiceException" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="terminateInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="terminateInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstance">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startInstanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl2:types>
    <wsdl2:interface name="ServiceInterface">
        <wsdl2:fault name="AutoscalerServiceException" element="ns:AutoscalerServiceException"/>
        <wsdl2:operation name="terminateInstance" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="domainName #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:terminateInstance" wsaw:Action="urn:terminateInstance"/>
            <wsdl2:output element="ns:terminateInstanceResponse" wsaw:Action="urn:terminateInstanceResponse"/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException" wsaw:Action="urn:terminateInstanceAutoscalerServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation name="startInstance" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="domainName #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:startInstance" wsaw:Action="urn:startInstance"/>
            <wsdl2:output element="ns:startInstanceResponse" wsaw:Action="urn:startInstanceResponse"/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException" wsaw:Action="urn:startInstanceAutoscalerServiceException"/>
        </wsdl2:operation>
    </wsdl2:interface>
    <wsdl2:binding name="AutoscalerServiceSoap12Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <wsdl2:fault ref="tns:AutoscalerServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" wsoap:action="urn:terminateInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" wsoap:action="urn:startInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="AutoscalerServiceSoap11Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1">
        <wsdl2:fault ref="tns:AutoscalerServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" wsoap:action="urn:terminateInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" wsoap:action="urn:startInstance">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="AutoscalerServiceHttpBinding" interface="tns:ServiceInterface" whttp:methodDefault="POST" type="http://www.w3.org/ns/wsdl/http">
        <wsdl2:fault ref="tns:AutoscalerServiceException"/>
        <wsdl2:operation ref="tns:terminateInstance" whttp:location="terminate">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:startInstance" whttp:location="start">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:AutoscalerServiceException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:service name="AutoscalerService" interface="tns:ServiceInterface">
        <wsdl2:endpoint name="AutoscalerServiceHttpEndpoint" binding="tns:AutoscalerServiceHttpBinding" address="http://localhost:8080/axis2/services/AutoscalerService"/>
        <!--wsdl2:endpoint name="AutoscalerServiceHttpSoap12Endpoint" binding="tns:AutoscalerServiceSoap12Binding" address="http://localhost:8080/axis2/services/AutoscalerService"/>
        <wsdl2:endpoint name="AutoscalerServiceHttpSoap11Endpoint" binding="tns:AutoscalerServiceSoap11Binding" address="http://localhost:8080/axis2/services/AutoscalerService"/-->
    </wsdl2:service>
</wsdl2:description>
