service-stubs/org.wso2.carbon.mashup.jsservices.stub/src/main/resources/JSServiceUploader.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:ns="http://fileupload.admin.jsservices.mashup.carbon.wso2.org"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ax2100="http://fileupload.admin.jsservices.mashup.carbon.wso2.org/xsd"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://fileupload.admin.jsservices.mashup.carbon.wso2.org">
    <wsdl:documentation>JSServiceUploader</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://fileupload.admin.jsservices.mashup.carbon.wso2.org/xsd">
            <xs:complexType name="JSServiceUploadData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataHandler" nillable="true"
                                type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string"/>
                </xs:sequence>

            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2101="http://fileupload.admin.jsservices.mashup.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://fileupload.admin.jsservices.mashup.carbon.wso2.org">
            <xs:import namespace="http://fileupload.admin.jsservices.mashup.carbon.wso2.org/xsd"/>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true"
                                    type="ns:Exception"/>
                    </xs:sequence>

                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="uploadService">
                <xs:complexType>

                    <xs:sequence>
                        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="jsServiceDataList"
                                    nillable="true" type="ax2101:JSServiceUploadData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="uploadServiceResponse">
                <xs:complexType>
                    <xs:sequence>

                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadServiceRequest">
        <wsdl:part name="parameters" element="ns:uploadService"/>
    </wsdl:message>

    <wsdl:message name="uploadServiceResponse">
        <wsdl:part name="parameters" element="ns:uploadServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns:Exception"/>
    </wsdl:message>
    <wsdl:portType name="JSServiceUploaderPortType">
        <wsdl:operation name="uploadService">
            <wsdl:input message="ns:uploadServiceRequest" wsaw:Action="urn:uploadService"/>

            <wsdl:output message="ns:uploadServiceResponse"
                         wsaw:Action="urn:uploadServiceResponse"/>
            <wsdl:fault message="ns:Exception" name="Exception"
                        wsaw:Action="urn:uploadServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JSServiceUploaderSoap11Binding" type="ns:JSServiceUploaderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:binding name="JSServiceUploaderSoap12Binding" type="ns:JSServiceUploaderPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="uploadService">
            <soap12:operation soapAction="urn:uploadService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JSServiceUploaderHttpBinding" type="ns:JSServiceUploaderPortType">
        <http:binding verb="POST"/>

        <wsdl:operation name="uploadService">
            <http:operation location="uploadService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="JSServiceUploader">
        <wsdl:port name="JSServiceUploaderHttpsSoap11Endpoint"
                   binding="ns:JSServiceUploaderSoap11Binding">
            <soap:address
                    location="https://10.100.0.156:9443/services/JSServiceUploader.JSServiceUploaderHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JSServiceUploaderHttpsSoap12Endpoint"
                   binding="ns:JSServiceUploaderSoap12Binding">
            <soap12:address
                    location="https://10.100.0.156:9443/services/JSServiceUploader.JSServiceUploaderHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="JSServiceUploaderHttpsEndpoint" binding="ns:JSServiceUploaderHttpBinding">

            <http:address
                    location="https://10.100.0.156:9443/services/JSServiceUploader.JSServiceUploaderHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>