service-stubs/org.wso2.carbon.payment.stub/src/main/resources/StratosPayment.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.paypal.payment.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2264="http://dto.paypal.payment.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2262="http://exceptions.sdk.paypal.com/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.paypal.payment.carbon.wso2.org">
    <wsdl:documentation>StratosPayment</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exceptions.sdk.paypal.com/xsd">
            <xs:complexType abstract="true" name="PayPalException">
                <xs:sequence />
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.paypal.payment.carbon.wso2.org/xsd">
            <xs:complexType name="ECResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ack" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="error" nillable="true" type="ax2264:PaypalError" />
                    <xs:element minOccurs="0" name="timestamp" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PaypalError">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="longMessage" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="shortMessage" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ECDetailResponse">
                <xs:complexContent>
                    <xs:extension base="ax2264:ECResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="address" nillable="true" type="ax2264:Address" />
                            <xs:element minOccurs="0" name="orderTotal" nillable="true" type="xs:string" />
                            <xs:element minOccurs="0" name="payer" nillable="true" type="ax2264:Payer" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="postalCode" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="street1" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="street2" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Payer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="business" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="payerId" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="payerStatus" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionResponse">
                <xs:complexContent>
                    <xs:extension base="ax2264:ECResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
                            <xs:element minOccurs="0" name="paymentStatus" nillable="true" type="xs:string" />
                            <xs:element minOccurs="0" name="pendingReason" nillable="true" type="xs:string" />
                            <xs:element minOccurs="0" name="transactionId" nillable="true" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2263="http://exceptions.sdk.paypal.com/xsd" xmlns:ax2265="http://dto.paypal.payment.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.paypal.payment.carbon.wso2.org">
            <xs:import namespace="http://exceptions.sdk.paypal.com/xsd" />
            <xs:import namespace="http://dto.paypal.payment.carbon.wso2.org/xsd" />
            <xs:element name="StratosPaymentPayPalException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="PayPalException" nillable="true" type="ax2263:PayPalException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initExpressCheckout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="successReturnUrl" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="cancelReturnUrl" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initExpressCheckoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2264:ECResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExpressCheckoutDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExpressCheckoutDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2264:ECDetailResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doExpressCheckout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="payerId" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="tenantDetails" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="doExpressCheckoutResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2264:TransactionResponse" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="initExpressCheckoutRequest">
        <wsdl:part name="parameters" element="ns:initExpressCheckout" />
    </wsdl:message>
    <wsdl:message name="initExpressCheckoutResponse">
        <wsdl:part name="parameters" element="ns:initExpressCheckoutResponse" />
    </wsdl:message>
    <wsdl:message name="StratosPaymentPayPalException">
        <wsdl:part name="parameters" element="ns:StratosPaymentPayPalException" />
    </wsdl:message>
    <wsdl:message name="doExpressCheckoutRequest">
        <wsdl:part name="parameters" element="ns:doExpressCheckout" />
    </wsdl:message>
    <wsdl:message name="doExpressCheckoutResponse">
        <wsdl:part name="parameters" element="ns:doExpressCheckoutResponse" />
    </wsdl:message>
    <wsdl:message name="getExpressCheckoutDetailsRequest">
        <wsdl:part name="parameters" element="ns:getExpressCheckoutDetails" />
    </wsdl:message>
    <wsdl:message name="getExpressCheckoutDetailsResponse">
        <wsdl:part name="parameters" element="ns:getExpressCheckoutDetailsResponse" />
    </wsdl:message>
    <wsdl:portType name="StratosPaymentPortType">
        <wsdl:operation name="initExpressCheckout">
            <wsdl:input message="ns:initExpressCheckoutRequest" wsaw:Action="urn:initExpressCheckout" />
            <wsdl:output message="ns:initExpressCheckoutResponse" wsaw:Action="urn:initExpressCheckoutResponse" />
            <wsdl:fault message="ns:StratosPaymentPayPalException" name="StratosPaymentPayPalException" wsaw:Action="urn:initExpressCheckoutStratosPaymentPayPalException" />
        </wsdl:operation>
        <wsdl:operation name="doExpressCheckout">
            <wsdl:input message="ns:doExpressCheckoutRequest" wsaw:Action="urn:doExpressCheckout" />
            <wsdl:output message="ns:doExpressCheckoutResponse" wsaw:Action="urn:doExpressCheckoutResponse" />
            <wsdl:fault message="ns:StratosPaymentPayPalException" name="StratosPaymentPayPalException" wsaw:Action="urn:doExpressCheckoutStratosPaymentPayPalException" />
        </wsdl:operation>
        <wsdl:operation name="getExpressCheckoutDetails">
            <wsdl:input message="ns:getExpressCheckoutDetailsRequest" wsaw:Action="urn:getExpressCheckoutDetails" />
            <wsdl:output message="ns:getExpressCheckoutDetailsResponse" wsaw:Action="urn:getExpressCheckoutDetailsResponse" />
            <wsdl:fault message="ns:StratosPaymentPayPalException" name="StratosPaymentPayPalException" wsaw:Action="urn:getExpressCheckoutDetailsStratosPaymentPayPalException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StratosPaymentSoap11Binding" type="ns:StratosPaymentPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="initExpressCheckout">
            <soap:operation soapAction="urn:initExpressCheckout" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doExpressCheckout">
            <soap:operation soapAction="urn:doExpressCheckout" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getExpressCheckoutDetails">
            <soap:operation soapAction="urn:getExpressCheckoutDetails" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StratosPaymentSoap12Binding" type="ns:StratosPaymentPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="initExpressCheckout">
            <soap12:operation soapAction="urn:initExpressCheckout" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap12:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doExpressCheckout">
            <soap12:operation soapAction="urn:doExpressCheckout" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap12:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getExpressCheckoutDetails">
            <soap12:operation soapAction="urn:getExpressCheckoutDetails" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="StratosPaymentPayPalException">
                <soap12:fault use="literal" name="StratosPaymentPayPalException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StratosPaymentHttpBinding" type="ns:StratosPaymentPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="initExpressCheckout">
            <http:operation location="initExpressCheckout" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="doExpressCheckout">
            <http:operation location="doExpressCheckout" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExpressCheckoutDetails">
            <http:operation location="getExpressCheckoutDetails" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StratosPayment">
        <wsdl:port name="StratosPaymentHttpsSoap11Endpoint" binding="ns:StratosPaymentSoap11Binding">
            <soap:address location="https://cloud-test.wso2.com:9443/services/StratosPayment.StratosPaymentHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="StratosPaymentHttpsSoap12Endpoint" binding="ns:StratosPaymentSoap12Binding">
            <soap12:address location="https://cloud-test.wso2.com:9443/services/StratosPayment.StratosPaymentHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="StratosPaymentHttpsEndpoint" binding="ns:StratosPaymentHttpBinding">
            <http:address location="https://cloud-test.wso2.com:9443/services/StratosPayment.StratosPaymentHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>