service-stubs/org.wso2.carbon.account.mgt.stub/src/main/resources/BillingDataAccessService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax233="http://dataobjects.core.billing.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.mgt.billing.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
    <wsdl:documentation>BillingDataAccessService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax234="http://dataobjects.core.billing.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.mgt.billing.carbon.wso2.org">
            <xs:import namespace="http://dataobjects.core.billing.carbon.wso2.org/xsd" />
            <xs:element name="BillingDataAccessServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="BillingDataAccessServiceException" nillable="true" type="ns:Exception" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemIdWithName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="parentId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemIdWithNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveSubscriptionsOfCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveSubscriptionsOfCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax233:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomerWithName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCustomerWithNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:Customer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomer">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveSubscriptionOfCustomerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax233:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deactivateActiveSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="customerId" type="xs:int" />
                        <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changeSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscription" nillable="true" type="ax233:Subscription" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateSubscription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="subscriptionId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="activateSubscriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dataobjects.core.billing.carbon.wso2.org/xsd">
            <xs:complexType name="Subscription">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean" />
                    <xs:element minOccurs="0" name="activeSince" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="activeUntil" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax233:Customer" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="invoiceSubscriptionId" type="xs:int" />
                    <xs:element minOccurs="0" name="item" nillable="true" type="ax233:Item" />
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="subscriptionPlan" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="activeInvoice" nillable="true" type="ax233:Invoice" />
                    <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="startedDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="totalBandwidth" type="xs:long" />
                    <xs:element minOccurs="0" name="totalStorage" type="xs:long" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Invoice">
                <xs:sequence>
                    <xs:element minOccurs="0" name="boughtForward" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="carriedForward" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="customer" nillable="true" type="ax233:Customer" />
                    <xs:element minOccurs="0" name="date" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="payments" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:date" />
                    <xs:element minOccurs="0" name="subscriptions" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="totalCost" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="totalPayment" nillable="true" type="ax233:Cash" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="decimalNumber" type="xs:int" />
                    <xs:element minOccurs="0" name="sign" nillable="true" type="ax233:Cash_Sign" />
                    <xs:element minOccurs="0" name="wholeNumber" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Cash_Sign">
                <xs:complexContent>
                    <xs:extension base="xs:Enum">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bandwidthLimit" type="xs:int" />
                    <xs:element minOccurs="0" name="bandwidthOveruseCharge" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="children" nillable="true" type="xs:anyType" />
                    <xs:element minOccurs="0" name="cost" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="creditLimit" nillable="true" type="ax233:Cash" />
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="id" type="xs:int" />
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
                    <xs:element minOccurs="0" name="parent" nillable="true" type="ax233:Item" />
                    <xs:element minOccurs="0" name="resourceVolumeLimit" type="xs:int" />
                    <xs:element minOccurs="0" name="resourceVolumeOveruseCharge" nillable="true" type="ax233:Cash" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="activateSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:activateSubscription" />
    </wsdl:message>
    <wsdl:message name="activateSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:activateSubscriptionResponse" />
    </wsdl:message>
    <wsdl:message name="BillingDataAccessServiceException">
        <wsdl:part name="parameters" element="ns:BillingDataAccessServiceException" />
    </wsdl:message>
    <wsdl:message name="getInactiveSubscriptionsOfCustomerRequest">
        <wsdl:part name="parameters" element="ns:getInactiveSubscriptionsOfCustomer" />
    </wsdl:message>
    <wsdl:message name="getInactiveSubscriptionsOfCustomerResponse">
        <wsdl:part name="parameters" element="ns:getInactiveSubscriptionsOfCustomerResponse" />
    </wsdl:message>
    <wsdl:message name="changeSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:changeSubscription" />
    </wsdl:message>
    <wsdl:message name="changeSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:changeSubscriptionResponse" />
    </wsdl:message>
    <wsdl:message name="getItemIdWithNameRequest">
        <wsdl:part name="parameters" element="ns:getItemIdWithName" />
    </wsdl:message>
    <wsdl:message name="getItemIdWithNameResponse">
        <wsdl:part name="parameters" element="ns:getItemIdWithNameResponse" />
    </wsdl:message>
    <wsdl:message name="addSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:addSubscription" />
    </wsdl:message>
    <wsdl:message name="addSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:addSubscriptionResponse" />
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscription" />
    </wsdl:message>
    <wsdl:message name="deactivateActiveSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:deactivateActiveSubscriptionResponse" />
    </wsdl:message>
    <wsdl:message name="getSubscriptionRequest">
        <wsdl:part name="parameters" element="ns:getSubscription" />
    </wsdl:message>
    <wsdl:message name="getSubscriptionResponse">
        <wsdl:part name="parameters" element="ns:getSubscriptionResponse" />
    </wsdl:message>
    <wsdl:message name="getCustomerWithNameRequest">
        <wsdl:part name="parameters" element="ns:getCustomerWithName" />
    </wsdl:message>
    <wsdl:message name="getCustomerWithNameResponse">
        <wsdl:part name="parameters" element="ns:getCustomerWithNameResponse" />
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerRequest">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomer" />
    </wsdl:message>
    <wsdl:message name="getActiveSubscriptionOfCustomerResponse">
        <wsdl:part name="parameters" element="ns:getActiveSubscriptionOfCustomerResponse" />
    </wsdl:message>
    <wsdl:portType name="BillingDataAccessServicePortType">
        <wsdl:operation name="activateSubscription">
            <wsdl:input message="ns:activateSubscriptionRequest" wsaw:Action="urn:activateSubscription" />
            <wsdl:output message="ns:activateSubscriptionResponse" wsaw:Action="urn:activateSubscriptionResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:activateSubscriptionBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <wsdl:input message="ns:getInactiveSubscriptionsOfCustomerRequest" wsaw:Action="urn:getInactiveSubscriptionsOfCustomer" />
            <wsdl:output message="ns:getInactiveSubscriptionsOfCustomerResponse" wsaw:Action="urn:getInactiveSubscriptionsOfCustomerResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getInactiveSubscriptionsOfCustomerBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="changeSubscription">
            <wsdl:input message="ns:changeSubscriptionRequest" wsaw:Action="urn:changeSubscription" />
            <wsdl:output message="ns:changeSubscriptionResponse" wsaw:Action="urn:changeSubscriptionResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:changeSubscriptionBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <wsdl:input message="ns:getItemIdWithNameRequest" wsaw:Action="urn:getItemIdWithName" />
            <wsdl:output message="ns:getItemIdWithNameResponse" wsaw:Action="urn:getItemIdWithNameResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getItemIdWithNameBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <wsdl:input message="ns:addSubscriptionRequest" wsaw:Action="urn:addSubscription" />
            <wsdl:output message="ns:addSubscriptionResponse" wsaw:Action="urn:addSubscriptionResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:addSubscriptionBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscription">
            <wsdl:input message="ns:deactivateActiveSubscriptionRequest" wsaw:Action="urn:deactivateActiveSubscription" />
            <wsdl:output message="ns:deactivateActiveSubscriptionResponse" wsaw:Action="urn:deactivateActiveSubscriptionResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:deactivateActiveSubscriptionBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <wsdl:input message="ns:getSubscriptionRequest" wsaw:Action="urn:getSubscription" />
            <wsdl:output message="ns:getSubscriptionResponse" wsaw:Action="urn:getSubscriptionResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getSubscriptionBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <wsdl:input message="ns:getCustomerWithNameRequest" wsaw:Action="urn:getCustomerWithName" />
            <wsdl:output message="ns:getCustomerWithNameResponse" wsaw:Action="urn:getCustomerWithNameResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getCustomerWithNameBillingDataAccessServiceException" />
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomer">
            <wsdl:input message="ns:getActiveSubscriptionOfCustomerRequest" wsaw:Action="urn:getActiveSubscriptionOfCustomer" />
            <wsdl:output message="ns:getActiveSubscriptionOfCustomerResponse" wsaw:Action="urn:getActiveSubscriptionOfCustomerResponse" />
            <wsdl:fault message="ns:BillingDataAccessServiceException" name="BillingDataAccessServiceException" wsaw:Action="urn:getActiveSubscriptionOfCustomerBillingDataAccessServiceException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillingDataAccessServiceSoap11Binding" type="ns:BillingDataAccessServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="activateSubscription">
            <soap:operation soapAction="urn:activateSubscription" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <soap:operation soapAction="urn:getInactiveSubscriptionsOfCustomer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscription">
            <soap:operation soapAction="urn:changeSubscription" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <soap:operation soapAction="urn:getItemIdWithName" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <soap:operation soapAction="urn:addSubscription" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscription">
            <soap:operation soapAction="urn:deactivateActiveSubscription" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <soap:operation soapAction="urn:getSubscription" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <soap:operation soapAction="urn:getCustomerWithName" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomer">
            <soap:operation soapAction="urn:getActiveSubscriptionOfCustomer" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BillingDataAccessServiceSoap12Binding" type="ns:BillingDataAccessServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="activateSubscription">
            <soap12:operation soapAction="urn:activateSubscription" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <soap12:operation soapAction="urn:getInactiveSubscriptionsOfCustomer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeSubscription">
            <soap12:operation soapAction="urn:changeSubscription" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <soap12:operation soapAction="urn:getItemIdWithName" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <soap12:operation soapAction="urn:addSubscription" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscription">
            <soap12:operation soapAction="urn:deactivateActiveSubscription" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <soap12:operation soapAction="urn:getSubscription" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <soap12:operation soapAction="urn:getCustomerWithName" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomer">
            <soap12:operation soapAction="urn:getActiveSubscriptionOfCustomer" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="BillingDataAccessServiceException">
                <soap12:fault use="literal" name="BillingDataAccessServiceException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="BillingDataAccessServiceHttpBinding" type="ns:BillingDataAccessServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="activateSubscription">
            <http:operation location="activateSubscription" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveSubscriptionsOfCustomer">
            <http:operation location="getInactiveSubscriptionsOfCustomer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeSubscription">
            <http:operation location="changeSubscription" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItemIdWithName">
            <http:operation location="getItemIdWithName" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addSubscription">
            <http:operation location="addSubscription" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deactivateActiveSubscription">
            <http:operation location="deactivateActiveSubscription" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSubscription">
            <http:operation location="getSubscription" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCustomerWithName">
            <http:operation location="getCustomerWithName" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveSubscriptionOfCustomer">
            <http:operation location="getActiveSubscriptionOfCustomer" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BillingDataAccessService">
        <wsdl:port name="BillingDataAccessServiceHttpsSoap11Endpoint" binding="ns:BillingDataAccessServiceSoap11Binding">
            <soap:address location="https://cloud-test.wso2.com:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BillingDataAccessServiceHttpsSoap12Endpoint" binding="ns:BillingDataAccessServiceSoap12Binding">
            <soap12:address location="https://cloud-test.wso2.com:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="BillingDataAccessServiceHttpsEndpoint" binding="ns:BillingDataAccessServiceHttpBinding">
            <http:address location="https://cloud-test.wso2.com:9443/services/BillingDataAccessService.BillingDataAccessServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>