service-stubs/org.wso2.carbon.tenant.reg.agent.stub/src/main/resources/TenantRegAgentService.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2133="http://core.user.carbon.wso2.org/xsd" xmlns:ns="http://service.agent.reg.tenant.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.agent.reg.tenant.carbon.wso2.org">
    <wsdl:documentation>TenantRegAgentService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2135="http://core.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.agent.reg.tenant.carbon.wso2.org">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd" />
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2135:UserStoreException" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="renameTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                        <xs:element minOccurs="0" name="oldName" nillable="true" type="xs:string" />
                        <xs:element minOccurs="0" name="newName" nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTenant">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantId" type="xs:int" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2134="http://service.agent.reg.tenant.carbon.wso2.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://service.agent.reg.tenant.carbon.wso2.org" />
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2134:Exception">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addTenantRequest">
        <wsdl:part name="parameters" element="ns:addTenant" />
    </wsdl:message>
    <wsdl:message name="UserStoreException">
        <wsdl:part name="parameters" element="ns:UserStoreException" />
    </wsdl:message>
    <wsdl:message name="renameTenantRequest">
        <wsdl:part name="parameters" element="ns:renameTenant" />
    </wsdl:message>
    <wsdl:message name="updateTenantRequest">
        <wsdl:part name="parameters" element="ns:updateTenant" />
    </wsdl:message>
    <wsdl:portType name="TenantRegAgentServicePortType">
        <wsdl:operation name="addTenant">
            <wsdl:input message="ns:addTenantRequest" wsaw:Action="urn:addTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:addTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="renameTenant">
            <wsdl:input message="ns:renameTenantRequest" wsaw:Action="urn:renameTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:renameTenantUserStoreException" />
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <wsdl:input message="ns:updateTenantRequest" wsaw:Action="urn:updateTenant" />
            <wsdl:fault message="ns:UserStoreException" name="UserStoreException" wsaw:Action="urn:updateTenantUserStoreException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TenantRegAgentServiceSoap11Binding" type="ns:TenantRegAgentServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addTenant">
            <soap:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="renameTenant">
            <soap:operation soapAction="urn:renameTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantRegAgentServiceSoap12Binding" type="ns:TenantRegAgentServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="addTenant">
            <soap12:operation soapAction="urn:addTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="renameTenant">
            <soap12:operation soapAction="urn:renameTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <soap12:operation soapAction="urn:updateTenant" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:fault name="UserStoreException">
                <soap12:fault use="literal" name="UserStoreException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TenantRegAgentServiceHttpBinding" type="ns:TenantRegAgentServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="addTenant">
            <http:operation location="addTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="addTenant" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="renameTenant">
            <http:operation location="renameTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="renameTenant" />
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateTenant">
            <http:operation location="updateTenant" />
            <wsdl:input>
                <mime:content type="text/xml" part="updateTenant" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TenantRegAgentService">
        <wsdl:port name="TenantRegAgentServiceHttpsSoap11Endpoint" binding="ns:TenantRegAgentServiceSoap11Binding">
            <soap:address location="https://10.215.217.95:9443/services/TenantRegAgentService.TenantRegAgentServiceHttpsSoap11Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TenantRegAgentServiceHttpsSoap12Endpoint" binding="ns:TenantRegAgentServiceSoap12Binding">
            <soap12:address location="https://10.215.217.95:9443/services/TenantRegAgentService.TenantRegAgentServiceHttpsSoap12Endpoint/" />
        </wsdl:port>
        <wsdl:port name="TenantRegAgentServiceHttpsEndpoint" binding="ns:TenantRegAgentServiceHttpBinding">
            <http:address location="https://10.215.217.95:9443/services/TenantRegAgentService.TenantRegAgentServiceHttpsEndpoint/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>