service-stubs/org.wso2.carbon.statistics.stub/src/main/resources/StatisticsAdmin.wsdl

<!--
 ~ Copyright (c) 2005-2010, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax2289="http://engine.axis2.apache.org/xsd"
                  xmlns:ax2320="http://transaction.axis2.apache.org/xsd"
                  xmlns:ax2324="http://threadpool.util.axis2.apache.org/xsd"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ax2304="http://description.axis2.apache.org/xsd"
                  xmlns:ax2328="http://services.statistics.carbon.wso2.org/xsd"
                  xmlns:ax2303="http://util.deployment.axis2.apache.org/xsd"
                  xmlns:ax2290="http://clustering.axis2.apache.org/xsd"
                  xmlns:ax2327="http://util.services.statistics.carbon.wso2.org/xsd"
                  xmlns:ax2288="http://context.axis2.apache.org/xsd"
                  xmlns:ax2292="http://util.java/xsd"
                  xmlns:ax2294="http://management.clustering.axis2.apache.org/xsd"
                  xmlns:ax2297="http://state.clustering.axis2.apache.org/xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ax2310="http://java2wsdl.description.axis2.apache.org/xsd"
                  xmlns:ax2316="http://securevault.wso2.org/xsd"
                  xmlns:ax2318="http://util.axis2.apache.org/xsd"
                  xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax2308="http://net.java/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:tns="http://services.statistics.carbon.wso2.org"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  targetNamespace="http://services.statistics.carbon.wso2.org">
    <wsdl:documentation>StatisticsAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2295="http://context.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://management.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="NodeManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true"
                                type="ax2288:ConfigurationContext"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2311="http://util.java/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified"
                   targetNamespace="http://java2wsdl.description.axis2.apache.org/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="TypeTable">
                <xs:sequence>
                    <xs:element minOccurs="0" name="complexSchemaMap" nillable="true"
                                type="ax2311:Map"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://net.java/xsd">
            <xs:complexType name="URL">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="defaultPort" type="xs:int"/>
                    <xs:element minOccurs="0" name="file" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="host" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="port" type="xs:int"/>
                    <xs:element minOccurs="0" name="protocol" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ref" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userInfo" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://threadpool.util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="ThreadFactory">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2329="http://services.statistics.carbon.wso2.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://util.services.statistics.carbon.wso2.org/xsd">
            <xs:import namespace="http://services.statistics.carbon.wso2.org/xsd"/>
            <xs:complexType name="SystemStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="avgResponseTime" type="xs:double"/>
                    <xs:element minOccurs="0" name="currentInvocationFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="javaVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="minResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="serverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serverStartTime" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="services" type="xs:int"/>
                    <xs:element minOccurs="0" name="statService" nillable="true"
                                type="ax2328:SystemStatisticsUtil"/>
                    <xs:element minOccurs="0" name="systemUpTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalMemory" nillable="true"
                                type="ax2327:Metric"/>
                    <xs:element minOccurs="0" name="totalRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalResponseCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="usedMemory" nillable="true"
                                type="ax2327:Metric"/>
                    <xs:element minOccurs="0" name="wso2wsasVersion" nillable="true"
                                type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Metric">
                <xs:sequence>
                    <xs:element minOccurs="0" name="unit" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="avgResponseTime" type="xs:double"/>
                    <xs:element minOccurs="0" name="currentInvocationFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseTime"
                                type="xs:double"/>
                    <xs:element minOccurs="0" name="maxResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="minResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalResponseCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OperationStatistics">
                <xs:sequence>
                    <xs:element minOccurs="0" name="avgResponseTime" type="xs:double"/>
                    <xs:element minOccurs="0" name="currentInvocationFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="currentInvocationResponseTime"
                                type="xs:double"/>
                    <xs:element minOccurs="0" name="maxResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="minResponseTime" type="xs:long"/>
                    <xs:element minOccurs="0" name="totalFaultCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalRequestCount" type="xs:int"/>
                    <xs:element minOccurs="0" name="totalResponseCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2330="http://util.services.statistics.carbon.wso2.org/xsd"
                   xmlns:ns="http://org.apache.axis2/xsd"
                   xmlns:ax2326="http://context.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.services.statistics.carbon.wso2.org/xsd"/>
            <xs:element name="setConfigurationContext">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="configurationContext" nillable="true"
                                    type="ax2326:ConfigurationContext"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemStatistics">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2327:SystemStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemResponseCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemResponseCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemRequestCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemRequestCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemFaultCount">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSystemFaultCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2327:ServiceStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceResponseCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceResponseCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceRequestCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceRequestCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceFaultCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceFaultCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationStatisticsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true"
                                    type="ax2327:OperationStatistics"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationResponseCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationResponseCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationRequestCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationRequestCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationFaultCount">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOperationFaultCountResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSystemResponseTime">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinSystemResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinServiceResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinServiceResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinOperationResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMinOperationResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSystemResponseTime">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxSystemResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxServiceResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxServiceResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxOperationResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMaxOperationResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSystemResponseTime">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgSystemResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgServiceResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgServiceResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgOperationResponseTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceName" nillable="true"
                                    type="xs:string"/>
                        <xs:element minOccurs="0" name="operationName" nillable="true"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAvgOperationResponseTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2309="http://net.java/xsd" xmlns:ax2306="http://util.java/xsd"
                   xmlns:ax2307="http://util.deployment.axis2.apache.org/xsd"
                   xmlns:ax2312="http://java2wsdl.description.axis2.apache.org/xsd"
                   xmlns:ax2305="http://engine.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://description.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"/>
            <xs:import namespace="http://net.java/xsd"/>
            <xs:import namespace="http://java2wsdl.description.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="AxisOperation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="WSAMappingList" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="axisService" nillable="true"
                                type="ax2304:AxisService"/>
                    <xs:element minOccurs="0" name="axisSpecificMEPConstant" type="xs:int"/>
                    <xs:element minOccurs="0" name="controlOperation" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="faultAction" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultActionNames"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultMessages" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inputAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="messageExchangePattern" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="messageReceiver" nillable="true"
                                type="ax2289:MessageReceiver"/>
                    <xs:element minOccurs="0" name="messages" nillable="true"
                                type="ax2306:Iterator"/>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outputAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="phasesInFaultFlow" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesOutFaultFlow" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesOutFlow" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="remainingPhasesInFlow" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="soapAction" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="style" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsamappingList"
                                nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisService">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="EPRs" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="WSAddressingFlag" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="axisServiceGroup" nillable="true"
                                type="ax2304:AxisServiceGroup"/>
                    <xs:element minOccurs="0" name="bindingName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="classLoader" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="clientSide" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="controlOperations" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="customSchemaNamePrefix" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="customSchemaNameSuffix" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="customWsdl" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="elementFormDefault" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableAllTransports" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="endpointName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpointURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="endpoints" nillable="true" type="ax2306:Map"/>
                    <xs:element minOccurs="0" name="excludeInfo" nillable="true"
                                type="ax2307:ExcludeInfo"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="exposedTransports"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fileName" nillable="true" type="ax2309:URL"/>
                    <xs:element minOccurs="0" name="importedNamespaces" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="lastUpdate" type="xs:long"/>
                    <xs:element minOccurs="0" name="lastupdate" type="xs:long"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                                name="messageElementQNameToOperationMap" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="modifyUserWSDLPortAddress" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameSpacesMap" nillable="true"
                                type="ax2306:Map"/>
                    <xs:element minOccurs="0" name="namespaceMap" nillable="true"
                                type="ax2306:Map"/>
                    <xs:element minOccurs="0" name="objectSupplier" nillable="true"
                                type="ax2289:ObjectSupplier"/>
                    <xs:element minOccurs="0" name="operations" nillable="true"
                                type="ax2306:Iterator"/>
                    <xs:element minOccurs="0" name="operationsNameList" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="p2nMap" nillable="true" type="ax2306:Map"/>
                    <xs:element minOccurs="0" name="parent" nillable="true"
                                type="ax2304:AxisServiceGroup"/>
                    <xs:element minOccurs="0" name="portTypeName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publishedOperations" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="schemaLocationsAdjusted" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="schemaMappingTable" nillable="true"
                                type="ax2306:Map"/>
                    <xs:element minOccurs="0" name="schemaTargetNamespace" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="schemaTargetNamespacePrefix" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="schematargetNamespace" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="schematargetNamespacePrefix" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceDescription" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceLifeCycle" nillable="true"
                                type="ax2289:ServiceLifeCycle"/>
                    <xs:element minOccurs="0" name="setEndpointsToAllUsedBindings"
                                type="xs:boolean"/>
                    <xs:element minOccurs="0" name="soapNsUri" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="targetNamespace" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="targetNamespacePrefix" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="typeTable" nillable="true"
                                type="ax2310:TypeTable"/>
                    <xs:element minOccurs="0" name="useDefaultChains" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="useUserWSDL" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="wsdlFound" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AxisServiceGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisDescription" nillable="true"
                                type="ax2289:AxisConfiguration"/>
                    <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="moduleRefs" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroupClassLoader" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="services" nillable="true"
                                type="ax2306:Iterator"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2293="http://util.java/xsd"
                   xmlns:ax2296="http://management.clustering.axis2.apache.org/xsd"
                   xmlns:ax2300="http://state.clustering.axis2.apache.org/xsd"
                   xmlns:ax2291="http://context.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://management.clustering.axis2.apache.org/xsd"/>
            <xs:import namespace="http://state.clustering.axis2.apache.org/xsd"/>
            <xs:complexType abstract="true" name="ClusteringAgent">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true"
                                type="ax2291:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="domains" nillable="true" type="ax2293:Set"/>
                    <xs:element minOccurs="0" name="members" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="nodeManager" nillable="true"
                                type="ax2294:NodeManager"/>
                    <xs:element minOccurs="0" name="stateManager" nillable="true"
                                type="ax2300:StateManager"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2313="http://description.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://util.deployment.axis2.apache.org/xsd">
            <xs:import namespace="http://description.axis2.apache.org/xsd"/>
            <xs:complexType name="PhasesInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="IN_FaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="OUTPhases" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="OUT_FaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalInFaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalInflow" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalOutPhaseList" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationInFaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationInPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationOutFaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationOutPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="operationPhases" nillable="true"
                                type="ax2313:AxisOperation"/>
                    <xs:element minOccurs="0" name="outFaultPhaseList" nillable="true"
                                type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ExcludeInfo">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://securevault.wso2.org/xsd">
            <xs:complexType name="SecretResolver">
                <xs:sequence>
                    <xs:element minOccurs="0" name="initialized" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://services.statistics.carbon.wso2.org/xsd">
            <xs:complexType name="SystemStatisticsUtil">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://transaction.axis2.apache.org/xsd">
            <xs:complexType name="TransactionConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="transactionManager" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="transactionTimeout" type="xs:int"/>
                    <xs:element minOccurs="0" name="userTransaction" nillable="true"
                                type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2299="http://util.java/xsd"
                   xmlns:ax2298="http://context.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://state.clustering.axis2.apache.org/xsd">
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType abstract="true" name="StateManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configurationContext" nillable="true"
                                type="ax2288:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="replicationExcludePatterns" nillable="true"
                                type="ax2292:Map"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2319="http://util.axis2.apache.org/xsd"
                   xmlns:ax2321="http://transaction.axis2.apache.org/xsd"
                   xmlns:ax2323="http://context.axis2.apache.org/xsd"
                   xmlns:ax2314="http://util.deployment.axis2.apache.org/xsd"
                   xmlns:ax2302="http://util.java/xsd" xmlns:ax2315="http://net.java/xsd"
                   xmlns:ax2317="http://securevault.wso2.org/xsd"
                   xmlns:ax2301="http://clustering.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://engine.axis2.apache.org/xsd">
            <xs:import namespace="http://clustering.axis2.apache.org/xsd"/>
            <xs:import namespace="http://util.java/xsd"/>
            <xs:import namespace="http://util.deployment.axis2.apache.org/xsd"/>
            <xs:import namespace="http://net.java/xsd"/>
            <xs:import namespace="http://securevault.wso2.org/xsd"/>
            <xs:import namespace="http://util.axis2.apache.org/xsd"/>
            <xs:import namespace="http://transaction.axis2.apache.org/xsd"/>
            <xs:import namespace="http://context.axis2.apache.org/xsd"/>
            <xs:complexType name="AxisConfiguration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="childFirstClassLoading" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="clusteringAgent" nillable="true"
                                type="ax2290:ClusteringAgent"/>
                    <xs:element minOccurs="0" name="configurator" nillable="true"
                                type="ax2289:AxisConfigurator"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyModules"
                                nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="faultyServices"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="faultyServicesDuetoModules" nillable="true"
                                type="ax2302:Map"/>
                    <xs:element minOccurs="0" name="globalModules" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="globalOutPhase" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFaultFlowPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inFlowPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="inPhasesUptoAndIncludingPostDispatch"
                                nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:anyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="localPolicyAssertions"
                                nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="moduleClassLoader" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="modules" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="observersList" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFaultFlowPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFaultPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="outFlowPhases" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="phasesInfo" nillable="true"
                                type="ax2303:PhasesInfo"/>
                    <xs:element minOccurs="0" name="repository" nillable="true" type="ax2315:URL"/>
                    <xs:element minOccurs="0" name="secretResolver" nillable="true"
                                type="ax2316:SecretResolver"/>
                    <xs:element minOccurs="0" name="serviceClassLoader" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="serviceGroups" nillable="true"
                                type="ax2302:Iterator"/>
                    <xs:element minOccurs="0" name="services" nillable="true" type="xs:anyType"/>
                    <xs:element minOccurs="0" name="start" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="systemClassLoader" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="targetResolverChain" nillable="true"
                                type="ax2319:TargetResolver"/>
                    <xs:element minOccurs="0" name="transactionConfig" nillable="true"
                                type="ax2320:TransactionConfiguration"/>
                    <xs:element minOccurs="0" name="transactionConfiguration" nillable="true"
                                type="ax2320:TransactionConfiguration"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsIn"
                                nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="transportsOut"
                                nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="AxisConfigurator">
                <xs:sequence>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true"
                                type="ax2289:AxisConfiguration"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="ObjectSupplier">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType abstract="true" name="ServiceLifeCycle">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType abstract="true" name="MessageReceiver">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="ListenerManager">
                <xs:sequence>
                    <xs:element minOccurs="0" name="configctx" nillable="true"
                                type="ax2323:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="shutdownHookRequired" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="stopped" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://util.axis2.apache.org/xsd">
            <xs:complexType abstract="true" name="TargetResolver">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2325="http://threadpool.util.axis2.apache.org/xsd"
                   xmlns:ax2322="http://engine.axis2.apache.org/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://context.axis2.apache.org/xsd">
            <xs:import namespace="http://engine.axis2.apache.org/xsd"/>
            <xs:import namespace="http://threadpool.util.axis2.apache.org/xsd"/>
            <xs:complexType name="ConfigurationContext">
                <xs:sequence>
                    <xs:element minOccurs="0" name="anyOperationContextRegistered"
                                type="xs:boolean"/>
                    <xs:element minOccurs="0" name="axisConfiguration" nillable="true"
                                type="ax2289:AxisConfiguration"/>
                    <xs:element minOccurs="0" name="contextRoot" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="listenerManager" nillable="true"
                                type="ax2289:ListenerManager"/>
                    <xs:element minOccurs="0" name="rootContext" nillable="true"
                                type="ax2288:ConfigurationContext"/>
                    <xs:element minOccurs="0" name="serviceContextPath" nillable="true"
                                type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceGroupContextIDs"
                                nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroupContextTimeoutInterval"
                                type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceGroupContextTimoutInterval"
                                type="xs:long"/>
                    <xs:element minOccurs="0" name="serviceGroupContexts" nillable="true"
                                type="xs:anyType"/>
                    <xs:element minOccurs="0" name="servicePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="threadPool" nillable="true"
                                type="ax2324:ThreadFactory"/>
                    <xs:element minOccurs="0" name="transportManager" nillable="true"
                                type="ax2289:ListenerManager"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://util.java/xsd">
            <xs:complexType abstract="true" name="Set">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="Iterator">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSystemStatisticsRequest">
        <wsdl:part name="parameters" element="ns1:getSystemStatistics"/>
    </wsdl:message>
    <wsdl:message name="getSystemStatisticsResponse">
        <wsdl:part name="parameters" element="ns1:getSystemStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="getMinOperationResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMinOperationResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMinOperationResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMinOperationResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperationRequestCountRequest">
        <wsdl:part name="parameters" element="ns1:getOperationRequestCount"/>
    </wsdl:message>
    <wsdl:message name="getOperationRequestCountResponse">
        <wsdl:part name="parameters" element="ns1:getOperationRequestCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxSystemResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMaxSystemResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMaxSystemResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMaxSystemResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceStatisticsRequest">
        <wsdl:part name="parameters" element="ns1:getServiceStatistics"/>
    </wsdl:message>
    <wsdl:message name="getServiceStatisticsResponse">
        <wsdl:part name="parameters" element="ns1:getServiceStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceFaultCountRequest">
        <wsdl:part name="parameters" element="ns1:getServiceFaultCount"/>
    </wsdl:message>
    <wsdl:message name="getServiceFaultCountResponse">
        <wsdl:part name="parameters" element="ns1:getServiceFaultCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getSystemRequestCountRequest">
        <wsdl:part name="parameters" element="ns1:getSystemRequestCount"/>
    </wsdl:message>
    <wsdl:message name="getSystemRequestCountResponse">
        <wsdl:part name="parameters" element="ns1:getSystemRequestCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getMinSystemResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMinSystemResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMinSystemResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMinSystemResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getMinServiceResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMinServiceResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMinServiceResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMinServiceResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvgServiceResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getAvgServiceResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getAvgServiceResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getAvgServiceResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getSystemResponseCountRequest">
        <wsdl:part name="parameters" element="ns1:getSystemResponseCount"/>
    </wsdl:message>
    <wsdl:message name="getSystemResponseCountResponse">
        <wsdl:part name="parameters" element="ns1:getSystemResponseCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxOperationResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMaxOperationResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMaxOperationResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMaxOperationResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvgOperationResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getAvgOperationResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getAvgOperationResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getAvgOperationResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getAvgSystemResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getAvgSystemResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getAvgSystemResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getAvgSystemResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getMaxServiceResponseTimeRequest">
        <wsdl:part name="parameters" element="ns1:getMaxServiceResponseTime"/>
    </wsdl:message>
    <wsdl:message name="getMaxServiceResponseTimeResponse">
        <wsdl:part name="parameters" element="ns1:getMaxServiceResponseTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="getServiceResponseCountRequest">
        <wsdl:part name="parameters" element="ns1:getServiceResponseCount"/>
    </wsdl:message>
    <wsdl:message name="getServiceResponseCountResponse">
        <wsdl:part name="parameters" element="ns1:getServiceResponseCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperationStatisticsRequest">
        <wsdl:part name="parameters" element="ns1:getOperationStatistics"/>
    </wsdl:message>
    <wsdl:message name="getOperationStatisticsResponse">
        <wsdl:part name="parameters" element="ns1:getOperationStatisticsResponse"/>
    </wsdl:message>
    <wsdl:message name="setConfigurationContextRequest">
        <wsdl:part name="parameters" element="ns1:setConfigurationContext"/>
    </wsdl:message>
    <wsdl:message name="getServiceRequestCountRequest">
        <wsdl:part name="parameters" element="ns1:getServiceRequestCount"/>
    </wsdl:message>
    <wsdl:message name="getServiceRequestCountResponse">
        <wsdl:part name="parameters" element="ns1:getServiceRequestCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getSystemFaultCountRequest">
        <wsdl:part name="parameters" element="ns1:getSystemFaultCount"/>
    </wsdl:message>
    <wsdl:message name="getSystemFaultCountResponse">
        <wsdl:part name="parameters" element="ns1:getSystemFaultCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperationResponseCountRequest">
        <wsdl:part name="parameters" element="ns1:getOperationResponseCount"/>
    </wsdl:message>
    <wsdl:message name="getOperationResponseCountResponse">
        <wsdl:part name="parameters" element="ns1:getOperationResponseCountResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperationFaultCountRequest">
        <wsdl:part name="parameters" element="ns1:getOperationFaultCount"/>
    </wsdl:message>
    <wsdl:message name="getOperationFaultCountResponse">
        <wsdl:part name="parameters" element="ns1:getOperationFaultCountResponse"/>
    </wsdl:message>
    <wsdl:portType name="StatisticsAdminPortType">
        <wsdl:operation name="getSystemStatistics">
            <wsdl:input message="tns:getSystemStatisticsRequest"
                        wsaw:Action="urn:getSystemStatistics"/>
            <wsdl:output message="tns:getSystemStatisticsResponse"
                         wsaw:Action="urn:getSystemStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMinOperationResponseTime">
            <wsdl:input message="tns:getMinOperationResponseTimeRequest"
                        wsaw:Action="urn:getMinOperationResponseTime"/>
            <wsdl:output message="tns:getMinOperationResponseTimeResponse"
                         wsaw:Action="urn:getMinOperationResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOperationRequestCount">
            <wsdl:input message="tns:getOperationRequestCountRequest"
                        wsaw:Action="urn:getOperationRequestCount"/>
            <wsdl:output message="tns:getOperationRequestCountResponse"
                         wsaw:Action="urn:getOperationRequestCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxSystemResponseTime">
            <wsdl:input message="tns:getMaxSystemResponseTimeRequest"
                        wsaw:Action="urn:getMaxSystemResponseTime"/>
            <wsdl:output message="tns:getMaxSystemResponseTimeResponse"
                         wsaw:Action="urn:getMaxSystemResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceStatistics">
            <wsdl:input message="tns:getServiceStatisticsRequest"
                        wsaw:Action="urn:getServiceStatistics"/>
            <wsdl:output message="tns:getServiceStatisticsResponse"
                         wsaw:Action="urn:getServiceStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceFaultCount">
            <wsdl:input message="tns:getServiceFaultCountRequest"
                        wsaw:Action="urn:getServiceFaultCount"/>
            <wsdl:output message="tns:getServiceFaultCountResponse"
                         wsaw:Action="urn:getServiceFaultCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSystemRequestCount">
            <wsdl:input message="tns:getSystemRequestCountRequest"
                        wsaw:Action="urn:getSystemRequestCount"/>
            <wsdl:output message="tns:getSystemRequestCountResponse"
                         wsaw:Action="urn:getSystemRequestCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMinSystemResponseTime">
            <wsdl:input message="tns:getMinSystemResponseTimeRequest"
                        wsaw:Action="urn:getMinSystemResponseTime"/>
            <wsdl:output message="tns:getMinSystemResponseTimeResponse"
                         wsaw:Action="urn:getMinSystemResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMinServiceResponseTime">
            <wsdl:input message="tns:getMinServiceResponseTimeRequest"
                        wsaw:Action="urn:getMinServiceResponseTime"/>
            <wsdl:output message="tns:getMinServiceResponseTimeResponse"
                         wsaw:Action="urn:getMinServiceResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAvgServiceResponseTime">
            <wsdl:input message="tns:getAvgServiceResponseTimeRequest"
                        wsaw:Action="urn:getAvgServiceResponseTime"/>
            <wsdl:output message="tns:getAvgServiceResponseTimeResponse"
                         wsaw:Action="urn:getAvgServiceResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSystemResponseCount">
            <wsdl:input message="tns:getSystemResponseCountRequest"
                        wsaw:Action="urn:getSystemResponseCount"/>
            <wsdl:output message="tns:getSystemResponseCountResponse"
                         wsaw:Action="urn:getSystemResponseCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxOperationResponseTime">
            <wsdl:input message="tns:getMaxOperationResponseTimeRequest"
                        wsaw:Action="urn:getMaxOperationResponseTime"/>
            <wsdl:output message="tns:getMaxOperationResponseTimeResponse"
                         wsaw:Action="urn:getMaxOperationResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAvgOperationResponseTime">
            <wsdl:input message="tns:getAvgOperationResponseTimeRequest"
                        wsaw:Action="urn:getAvgOperationResponseTime"/>
            <wsdl:output message="tns:getAvgOperationResponseTimeResponse"
                         wsaw:Action="urn:getAvgOperationResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAvgSystemResponseTime">
            <wsdl:input message="tns:getAvgSystemResponseTimeRequest"
                        wsaw:Action="urn:getAvgSystemResponseTime"/>
            <wsdl:output message="tns:getAvgSystemResponseTimeResponse"
                         wsaw:Action="urn:getAvgSystemResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getMaxServiceResponseTime">
            <wsdl:input message="tns:getMaxServiceResponseTimeRequest"
                        wsaw:Action="urn:getMaxServiceResponseTime"/>
            <wsdl:output message="tns:getMaxServiceResponseTimeResponse"
                         wsaw:Action="urn:getMaxServiceResponseTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceResponseCount">
            <wsdl:input message="tns:getServiceResponseCountRequest"
                        wsaw:Action="urn:getServiceResponseCount"/>
            <wsdl:output message="tns:getServiceResponseCountResponse"
                         wsaw:Action="urn:getServiceResponseCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOperationStatistics">
            <wsdl:input message="tns:getOperationStatisticsRequest"
                        wsaw:Action="urn:getOperationStatistics"/>
            <wsdl:output message="tns:getOperationStatisticsResponse"
                         wsaw:Action="urn:getOperationStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setConfigurationContext">
            <wsdl:input message="tns:setConfigurationContextRequest"
                        wsaw:Action="urn:setConfigurationContext"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceRequestCount">
            <wsdl:input message="tns:getServiceRequestCountRequest"
                        wsaw:Action="urn:getServiceRequestCount"/>
            <wsdl:output message="tns:getServiceRequestCountResponse"
                         wsaw:Action="urn:getServiceRequestCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSystemFaultCount">
            <wsdl:input message="tns:getSystemFaultCountRequest"
                        wsaw:Action="urn:getSystemFaultCount"/>
            <wsdl:output message="tns:getSystemFaultCountResponse"
                         wsaw:Action="urn:getSystemFaultCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOperationResponseCount">
            <wsdl:input message="tns:getOperationResponseCountRequest"
                        wsaw:Action="urn:getOperationResponseCount"/>
            <wsdl:output message="tns:getOperationResponseCountResponse"
                         wsaw:Action="urn:getOperationResponseCountResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOperationFaultCount">
            <wsdl:input message="tns:getOperationFaultCountRequest"
                        wsaw:Action="urn:getOperationFaultCount"/>
            <wsdl:output message="tns:getOperationFaultCountResponse"
                         wsaw:Action="urn:getOperationFaultCountResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StatisticsAdminSoap11Binding" type="tns:StatisticsAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSystemStatistics">
            <soap:operation soapAction="urn:getSystemStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinOperationResponseTime">
            <soap:operation soapAction="urn:getMinOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSystemResponseTime">
            <soap:operation soapAction="urn:getMaxSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationRequestCount">
            <soap:operation soapAction="urn:getOperationRequestCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceFaultCount">
            <soap:operation soapAction="urn:getServiceFaultCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceStatistics">
            <soap:operation soapAction="urn:getServiceStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSystemResponseTime">
            <soap:operation soapAction="urn:getMinSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemRequestCount">
            <soap:operation soapAction="urn:getSystemRequestCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinServiceResponseTime">
            <soap:operation soapAction="urn:getMinServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgServiceResponseTime">
            <soap:operation soapAction="urn:getAvgServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemResponseCount">
            <soap:operation soapAction="urn:getSystemResponseCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxOperationResponseTime">
            <soap:operation soapAction="urn:getMaxOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgOperationResponseTime">
            <soap:operation soapAction="urn:getAvgOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSystemResponseTime">
            <soap:operation soapAction="urn:getAvgSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceResponseCount">
            <soap:operation soapAction="urn:getServiceResponseCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxServiceResponseTime">
            <soap:operation soapAction="urn:getMaxServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationStatistics">
            <soap:operation soapAction="urn:getOperationStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setConfigurationContext">
            <soap:operation soapAction="urn:setConfigurationContext" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSystemFaultCount">
            <soap:operation soapAction="urn:getSystemFaultCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceRequestCount">
            <soap:operation soapAction="urn:getServiceRequestCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationResponseCount">
            <soap:operation soapAction="urn:getOperationResponseCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationFaultCount">
            <soap:operation soapAction="urn:getOperationFaultCount" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StatisticsAdminSoap12Binding" type="tns:StatisticsAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSystemStatistics">
            <soap12:operation soapAction="urn:getSystemStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinOperationResponseTime">
            <soap12:operation soapAction="urn:getMinOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSystemResponseTime">
            <soap12:operation soapAction="urn:getMaxSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationRequestCount">
            <soap12:operation soapAction="urn:getOperationRequestCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceFaultCount">
            <soap12:operation soapAction="urn:getServiceFaultCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceStatistics">
            <soap12:operation soapAction="urn:getServiceStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSystemResponseTime">
            <soap12:operation soapAction="urn:getMinSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemRequestCount">
            <soap12:operation soapAction="urn:getSystemRequestCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinServiceResponseTime">
            <soap12:operation soapAction="urn:getMinServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgServiceResponseTime">
            <soap12:operation soapAction="urn:getAvgServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemResponseCount">
            <soap12:operation soapAction="urn:getSystemResponseCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxOperationResponseTime">
            <soap12:operation soapAction="urn:getMaxOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgOperationResponseTime">
            <soap12:operation soapAction="urn:getAvgOperationResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSystemResponseTime">
            <soap12:operation soapAction="urn:getAvgSystemResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceResponseCount">
            <soap12:operation soapAction="urn:getServiceResponseCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxServiceResponseTime">
            <soap12:operation soapAction="urn:getMaxServiceResponseTime" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationStatistics">
            <soap12:operation soapAction="urn:getOperationStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setConfigurationContext">
            <soap12:operation soapAction="urn:setConfigurationContext" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSystemFaultCount">
            <soap12:operation soapAction="urn:getSystemFaultCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceRequestCount">
            <soap12:operation soapAction="urn:getServiceRequestCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationResponseCount">
            <soap12:operation soapAction="urn:getOperationResponseCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationFaultCount">
            <soap12:operation soapAction="urn:getOperationFaultCount" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StatisticsAdminHttpBinding" type="tns:StatisticsAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getSystemStatistics">
            <http:operation location="getSystemStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinOperationResponseTime">
            <http:operation location="getMinOperationResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxSystemResponseTime">
            <http:operation location="getMaxSystemResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationRequestCount">
            <http:operation location="getOperationRequestCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceFaultCount">
            <http:operation location="getServiceFaultCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceStatistics">
            <http:operation location="getServiceStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinSystemResponseTime">
            <http:operation location="getMinSystemResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemRequestCount">
            <http:operation location="getSystemRequestCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMinServiceResponseTime">
            <http:operation location="getMinServiceResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgServiceResponseTime">
            <http:operation location="getAvgServiceResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSystemResponseCount">
            <http:operation location="getSystemResponseCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxOperationResponseTime">
            <http:operation location="getMaxOperationResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgOperationResponseTime">
            <http:operation location="getAvgOperationResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAvgSystemResponseTime">
            <http:operation location="getAvgSystemResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceResponseCount">
            <http:operation location="getServiceResponseCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getMaxServiceResponseTime">
            <http:operation location="getMaxServiceResponseTime"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationStatistics">
            <http:operation location="getOperationStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setConfigurationContext">
            <http:operation location="setConfigurationContext"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getSystemFaultCount">
            <http:operation location="getSystemFaultCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getServiceRequestCount">
            <http:operation location="getServiceRequestCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationResponseCount">
            <http:operation location="getOperationResponseCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperationFaultCount">
            <http:operation location="getOperationFaultCount"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StatisticsAdmin">
        <wsdl:port name="StatisticsAdminHttpsSoap11Endpoint"
                   binding="tns:StatisticsAdminSoap11Binding">
            <soap:address
                    location="https://10.215.196.158:9443/services/StatisticsAdmin.StatisticsAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StatisticsAdminHttpsSoap12Endpoint"
                   binding="tns:StatisticsAdminSoap12Binding">
            <soap12:address
                    location="https://10.215.196.158:9443/services/StatisticsAdmin.StatisticsAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StatisticsAdminHttpsEndpoint" binding="tns:StatisticsAdminHttpBinding">
            <http:address
                    location="https://10.215.196.158:9443/services/StatisticsAdmin.StatisticsAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>