components/event-bridge/org.wso2.carbon.eventbridge.agent.thrift/src/main/resources/thrift-agent-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/carbon/eventbridge/agent/thrift" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="thriftAgentConfiguration" type="thr:thriftAgentConfigurationType" xmlns:thr="http://wso2.org/carbon/eventbridge/agent/thrift"/>
  <xs:complexType name="thriftAgentConfigurationType">
    <xs:all>
      <xs:element type="xs:int" name="bufferedEventsSize"/>
      <xs:element type="xs:int" name="poolSize"/>
      <xs:element type="xs:int" name="maxTransportPoolSize"/>
      <xs:element type="xs:int" name="maxIdleConnections"/>
      <xs:element type="xs:int" name="evictionTimePeriod"/>
      <xs:element type="xs:int" name="minIdleTimeInPool"/>
      <xs:element type="xs:int" name="secureMaxTransportPoolSize"/>
      <xs:element type="xs:int" name="secureMaxIdleConnections"/>
      <xs:element type="xs:int" name="secureEvictionTimePeriod"/>
      <xs:element type="xs:int" name="secureMinIdleTimeInPool"/>
      <xs:element type="xs:int" name="maxMessageBundleSize"/>
      <xs:element type="xs:string" name="trustStore"/>
      <xs:element type="xs:string" name="trustStorePassword"/>
    </xs:all>
  </xs:complexType>
</xs:schema>